projects/Tello-Control/flow.json
[{"id":"8c2f115e.23b968","type":"tab","label":"Tello Controls","disabled":false,"info":""},{"id":"3c72f734.b7612","type":"tab","label":"Tello Dashboard","disabled":false,"info":""},{"id":"48f86e6a.69c9b","type":"tab","label":"Tello Missions","disabled":false,"info":""},{"id":"b314dec3.deefa","type":"tab","label":"Tello Telemetry","disabled":false,"info":""},{"id":"7ab77eb0.ed8c8","type":"ui_group","z":"","name":"Command Center","tab":"8b5492df.b7b6a8","order":1,"disp":true,"width":"4","collapse":false},{"id":"9a3f2474.f8abf","type":"ui_group","z":"","name":"Flight Path","tab":"8b5492df.b7b6a8","order":2,"disp":true,"width":"4","collapse":false},{"id":"4628d721.44ef48","type":"ui_group","z":"","name":"Rotation","tab":"8b5492df.b7b6a8","order":3,"disp":true,"width":"4","collapse":false},{"id":"63f7e6a7.46a7e","type":"ui_group","z":"","name":"Flips!","tab":"8b5492df.b7b6a8","order":4,"disp":true,"width":"6","collapse":false},{"id":"8b5492df.b7b6a8","type":"ui_tab","z":"","name":"Tello Control Dashboard","icon":"fa-plane","order":16},{"id":"838c52c8.da18f","type":"ui_group","z":"","name":"Stats","tab":"8067b962.13dee8","order":1,"disp":true,"width":"6","collapse":false},{"id":"72acef26.ac524","type":"ui_group","z":"","name":"Accel","tab":"8067b962.13dee8","order":2,"disp":true,"width":"6","collapse":false},{"id":"68fa4386.a1f69c","type":"ui_group","z":"","name":"Movement","tab":"8067b962.13dee8","order":3,"disp":true,"width":"6","collapse":false},{"id":"13c674bb.d69793","type":"ui_group","z":"","name":"Control","tab":"8067b962.13dee8","order":4,"disp":true,"width":"4","collapse":false},{"id":"8067b962.13dee8","type":"ui_tab","z":"","name":"Tello Telemetry","icon":"fa-tachometer"},{"id":"cbd4f11e.423ba","type":"change","z":"8c2f115e.23b968","name":"Init","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"command","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[["ca8e7d46.52a3b","ba2979d7.f46a5","65272a97.05a98c"]]},{"id":"2f7ec38e.553e24","type":"change","z":"8c2f115e.23b968","name":"TakeOff","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"takeoff","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["ca8e7d46.52a3b","65272a97.05a98c"]]},{"id":"f0c8011f.a94b5","type":"change","z":"8c2f115e.23b968","name":"Up 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"up","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[["65272a97.05a98c"]]},{"id":"7c82475e.1bccd8","type":"change","z":"8c2f115e.23b968","name":"Right 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"right","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":420,"wires":[["65272a97.05a98c"]]},{"id":"fab5576e.665a48","type":"change","z":"8c2f115e.23b968","name":"Forward 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"forward","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":500,"wires":[["65272a97.05a98c"]]},{"id":"ce5f640c.9a7ce8","type":"change","z":"8c2f115e.23b968","name":"Down 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"down","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":380,"wires":[["65272a97.05a98c"]]},{"id":"7cfe5915.8b53f8","type":"change","z":"8c2f115e.23b968","name":"Left 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"left","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":460,"wires":[["65272a97.05a98c"]]},{"id":"a44e55c9.f28e1","type":"change","z":"8c2f115e.23b968","name":"Back 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"back","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":540,"wires":[["65272a97.05a98c"]]},{"id":"b1e443ce.a3048","type":"change","z":"8c2f115e.23b968","name":"cw 90º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"cw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":580,"wires":[["65272a97.05a98c"]]},{"id":"28aaf8a3.992908","type":"change","z":"8c2f115e.23b968","name":"ccw 90º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"ccw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":620,"wires":[["65272a97.05a98c"]]},{"id":"40e74a21.6303f4","type":"change","z":"8c2f115e.23b968","name":"Flip f","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"flip","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":700,"wires":[["65272a97.05a98c"]]},{"id":"c694e764.6b78f","type":"change","z":"8c2f115e.23b968","name":"battery?","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"battery?","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"tellorequestbattery","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":780,"wires":[["65272a97.05a98c"]]},{"id":"f645eef7.e5104","type":"inject","z":"8c2f115e.23b968","name":"Land","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":220,"wires":[["165c5e19.de9b32"]]},{"id":"e13b18fd.65a748","type":"inject","z":"8c2f115e.23b968","name":"TakeOff","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":260,"wires":[["cbd4f11e.423ba"]]},{"id":"6f3ddc74.52270c","type":"inject","z":"8c2f115e.23b968","name":"Up 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":340,"wires":[["f0c8011f.a94b5"]]},{"id":"f3d4f88.76c3488","type":"inject","z":"8c2f115e.23b968","name":"Down 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":380,"wires":[["ce5f640c.9a7ce8"]]},{"id":"e323461a.a67298","type":"inject","z":"8c2f115e.23b968","name":"Right 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":420,"wires":[["7c82475e.1bccd8"]]},{"id":"16734b30.7c379d","type":"inject","z":"8c2f115e.23b968","name":"Left 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":460,"wires":[["7cfe5915.8b53f8"]]},{"id":"3842e570.2f74ea","type":"inject","z":"8c2f115e.23b968","name":"Forward 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":500,"wires":[["fab5576e.665a48"]]},{"id":"b79a4c3c.f86688","type":"inject","z":"8c2f115e.23b968","name":"Back 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":540,"wires":[["a44e55c9.f28e1"]]},{"id":"35f6b56f.875672","type":"inject","z":"8c2f115e.23b968","name":"cw 90º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":580,"wires":[["b1e443ce.a3048"]]},{"id":"92ffa392.1e61c","type":"inject","z":"8c2f115e.23b968","name":"Full 360º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":660,"wires":[["c45fd3ab.4f363"]]},{"id":"cef86b93.ed088","type":"inject","z":"8c2f115e.23b968","name":"Flip forward","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":700,"wires":[["40e74a21.6303f4"]]},{"id":"14334583.3e6362","type":"inject","z":"8c2f115e.23b968","name":"Battery?","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":780,"wires":[["c694e764.6b78f"]]},{"id":"9199b4e3.11a4a8","type":"inject","z":"8c2f115e.23b968","name":"ccw 90º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":620,"wires":[["28aaf8a3.992908"]]},{"id":"ba2979d7.f46a5","type":"delay","z":"8c2f115e.23b968","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":300,"wires":[["2f7ec38e.553e24"]]},{"id":"c45fd3ab.4f363","type":"change","z":"8c2f115e.23b968","name":"cw 360º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"cw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":660,"wires":[["65272a97.05a98c"]]},{"id":"165c5e19.de9b32","type":"change","z":"8c2f115e.23b968","name":"Land","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"land","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["65272a97.05a98c"]]},{"id":"6e56fc9f.d44714","type":"udp out","z":"8c2f115e.23b968","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"52955","base64":false,"multicast":"false","x":590,"y":140,"wires":[]},{"id":"6a7f5d6f.bbd054","type":"debug","z":"8c2f115e.23b968","name":"","active":true,"console":"false","complete":"false","x":550,"y":100,"wires":[]},{"id":"ca8e7d46.52a3b","type":"debug","z":"8c2f115e.23b968","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":260,"wires":[]},{"id":"1798968b.05dd81","type":"comment","z":"8c2f115e.23b968","name":"1 - Connect to TELLO-NNNNNN WiFi","info":"https://github.com/binnes/Node-RED-Tello-Control","x":200,"y":40,"wires":[]},{"id":"97c70c69.d68ce","type":"comment","z":"8c2f115e.23b968","name":"Status \"set\" commands","info":"Send set command to Tello and wait for its response.\nPossible set commands:\n- speed?: get current speed (cm/s): x: 1-100\n- battery?: get current battery percentage: x: 0-100\n- time?: get current fly time (s): time\n- height?: get height (cm): x: 0-3000\n- temp?: get temperature (°C): x: 0-90\n- attitude?: get IMU attitude data: pitch roll yaw\n- baro?: get barometer value (m): x\n- tof?: get distance value from TOF (cm): x: 30-1000\n- wifi?: get Wi-Fi SNR: snr","x":220,"y":740,"wires":[]},{"id":"65272a97.05a98c","type":"link out","z":"8c2f115e.23b968","name":"TelloControls-Out","links":["74924689.9de498"],"x":595,"y":500,"wires":[]},{"id":"662446d.b594838","type":"function","z":"8c2f115e.23b968","name":"Send Individual Tello Command","func":"var telloaction ;\n\nif((msg.payload.tellovalue) && (msg.payload.tellovalue != \"0\")) {\n  telloaction = new Buffer( msg.payload.tellocmd + ' '+ msg.payload.tellovalue );\n} else {\n  telloaction = new Buffer( msg.payload.tellocmd );\n}\n\nmsg.payload = telloaction;\t\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["6a7f5d6f.bbd054","6e56fc9f.d44714"]]},{"id":"74924689.9de498","type":"link in","z":"8c2f115e.23b968","name":"TelloControls-In","links":["65272a97.05a98c"],"x":95,"y":120,"wires":[["662446d.b594838"]]},{"id":"8ecc1d23.981f68","type":"udp in","z":"8c2f115e.23b968","name":"","iface":"","port":"52955","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":820,"y":120,"wires":[["11b5036.21da9fd","d4549642.8097c"]]},{"id":"d4549642.8097c","type":"debug","z":"8c2f115e.23b968","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":970,"y":160,"wires":[]},{"id":"11b5036.21da9fd","type":"function","z":"8c2f115e.23b968","name":"parse incoming messages","func":"var TELLO_CMD_ALT_LIMIT = 4182;\nvar TELLO_CMD_LIGHT_STRENGTH = 53;\nvar TELLO_CMD_LOW_BATT_THRESHOLD = 4183;\nvar TELLO_CMD_STATUS = 86;\nvar TELLO_CMD_LOG_HEADER_WRITE = 4176;\nvar TELLO_CMD_LOG_DATA_WRITE = 4177;\nvar TELLO_CMD_LOG_CONFIGURATION = 4178;\nvar seqID ;\nvar pacType;\n\nfunction parsePacket (bb) {\n    //\tvar data = Buffer.from(msg);\n\tvar size = bb.length;\n\tvar payload = bb.slice(9,size);\n\tvar dataSize = 0;\n\tvar cmdID    = 0;\n\n\tif (bb.length >= 11) {\n\t\t\tvar mark = bb.readUInt8(0);\n\t\t\tif (mark == 0xCC) {\t// start of packet\n                size      = bb.readUInt16LE(1) >> 3;\n                var crc8  = bb.readUInt8(3);\n                pacType   = bb.readUInt8(4);\n                cmdID     = bb.readUInt16LE(5);\n                seqID     = bb.readUInt16LE(7);\n                dataSize  = size - 11;\n                var data  = false;\n                var crc16 = bb.readUInt16LE(size - 2);\n\t\t\t} \n\n\t\t\tif (cmdID == TELLO_CMD_STATUS) {\n                //\tthis.parseStatus(bb);\n            } else if (cmdID == TELLO_CMD_LOG_HEADER_WRITE) {\n                node.warn(\"TELLO_CMD_LOG_HEADER_WRITE \" + TELLO_CMD_LOG_HEADER_WRITE);\n\t\t\t} else if (cmdID == TELLO_CMD_LOG_DATA_WRITE) {\n                // \n\t\t\t} else if (cmdID == TELLO_CMD_ALT_LIMIT) {    \n                node.warn(\"TELLO_CMD_ALT_LIMIT \"+TELLO_CMD_ALT_LIMIT);\n                if (payload.length > 0) \n                    node.warn(payload.readUInt16LE(1));\n\t\t\t} else if (cmdID == TELLO_CMD_LIGHT_STRENGTH) {    \n                node.warn(\"TELLO_CMD_LIGHT_STRENGTH \"+TELLO_CMD_LIGHT_STRENGTH);\n                // if (payload.length > 0) \n                node.warn(payload.readUInt16LE(1));\n                // node.warn(payload)\n\t\t\t} else if (cmdID == TELLO_CMD_LOW_BATT_THRESHOLD) {    \n                node.warn(\"TELLO_CMD_LOW_BATT_THRESHOLD \"+TELLO_CMD_LOW_BATT_THRESHOLD);\n                if (payload.length > 0)\n                    node.warn(payload.readUInt16LE(1));\n\t\t\t} else if (cmdID == 69 ) {    //VERSION\n                node.warn(\"TELLO_CMD_VERSION \"+cmdID);\n                node.warn(payload);\n                node.warn(payload.slice(1,20).toString());\n\t\t\t} else if (cmdID == TELLO_CMD_LOG_CONFIGURATION) {    \n                node.warn(\"TELLO_CMD_LOG_CONFIGURATION command detected\");\n\t\t\t} else {\n                node.warn(\"DBG unknown CMD \"+ cmdID);\n\t\t\t}\n\t} else {\n        node.warn('wrong packet', bb);\n\t}\n\treturn cmdID;\n}\n\nif( msg.payload.toString() == \"ok\" ) {\n\tmsg.payload = \"ok\";\n\treturn msg;\n}\n\nvar batterystatus = global.get(\"tellorequestbattery\") || false;\nif ( batterystatus === true ) {\n    msg.payload = { \"battery\":msg.payload.toString().trim() };\n    global.set(\"tellorequestbattery\", false);    \n    return msg;\n}\n\nmsg.cmdID  = parsePacket(msg.payload);\nmsg.seqID  = seqID;\nmsg.pacType= pacType;\nglobal.set(\"tellomsg\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":120,"wires":[["fd41671b.36bef8"]]},{"id":"fd41671b.36bef8","type":"debug","z":"8c2f115e.23b968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":120,"wires":[]},{"id":"defd56a9.af0d6","type":"comment","z":"8c2f115e.23b968","name":"Receive Return Strings","info":"","x":860,"y":80,"wires":[]},{"id":"954a1db1.43b138","type":"comment","z":"8c2f115e.23b968","name":"Send Commands","info":"","x":160,"y":80,"wires":[]},{"id":"dc65f633.3ba828","type":"comment","z":"3c72f734.b7612","name":"Command Center","info":"","x":100,"y":40,"wires":[]},{"id":"c30e9556.8d523","type":"comment","z":"3c72f734.b7612","name":"Flight Path","info":"","x":80,"y":220,"wires":[]},{"id":"4a83338d.cd45d4","type":"comment","z":"3c72f734.b7612","name":"Rotation","info":"","x":90,"y":520,"wires":[]},{"id":"3d29b589.d744da","type":"comment","z":"3c72f734.b7612","name":"Flips!","info":"","x":90,"y":720,"wires":[]},{"id":"965fb051.678558","type":"ui_button","z":"3c72f734.b7612","name":"","group":"7ab77eb0.ed8c8","order":0,"width":0,"height":0,"passthru":false,"label":"Take Off!","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":120,"y":80,"wires":[["468e0695.4c061","d85a85fc.0da33"]]},{"id":"468e0695.4c061","type":"change","z":"3c72f734.b7612","name":"Init","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"command","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":80,"wires":[["d82c27d5.baee8","1ef3d0da.9861df"]]},{"id":"d82c27d5.baee8","type":"function","z":"3c72f734.b7612","name":"Send Individual Tello Commands","func":"var telloaction ;\n\nif( msg.payload.distance != \"0\") {\n   telloaction = new Buffer( msg.payload.tellocmd + ' '+ msg.payload.distance );\n} else {\n   telloaction = new Buffer( msg.payload.tellocmd );\n}\n\nmsg.payload = telloaction;\t\nreturn msg;\n","outputs":1,"noerr":0,"x":870,"y":420,"wires":[["b4e12dc7.3e9d98","a5a33d63.a4cc88"]]},{"id":"f6f55fff.f1d99","type":"change","z":"3c72f734.b7612","name":"TakeOff","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"takeoff","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[["d82c27d5.baee8","1ef3d0da.9861df"]]},{"id":"27fb4846.0ecbd8","type":"change","z":"3c72f734.b7612","name":"Up 50 cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"up","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":260,"wires":[["d82c27d5.baee8"]]},{"id":"2431a6d0.0f305a","type":"change","z":"3c72f734.b7612","name":"Right 50","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"right","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[["d82c27d5.baee8"]]},{"id":"1bf50322.e9e025","type":"change","z":"3c72f734.b7612","name":"Forward 50","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"forward","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":420,"wires":[["d82c27d5.baee8"]]},{"id":"52149d37.918bec","type":"change","z":"3c72f734.b7612","name":"Down 50","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"down","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["d82c27d5.baee8"]]},{"id":"c0ec9b45.b59368","type":"change","z":"3c72f734.b7612","name":"Left 50","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"left","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":380,"wires":[["d82c27d5.baee8"]]},{"id":"d581280a.3c609","type":"change","z":"3c72f734.b7612","name":"Backward 50","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"back","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":460,"wires":[["d82c27d5.baee8"]]},{"id":"7752429b.38b94c","type":"change","z":"3c72f734.b7612","name":"Clockwise 45º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"cw","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"45","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":560,"wires":[["d82c27d5.baee8"]]},{"id":"a56fb3c6.69cac8","type":"change","z":"3c72f734.b7612","name":"Counter Clockwise 45º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"ccw","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"45","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":600,"wires":[["d82c27d5.baee8"]]},{"id":"9af47da9.45e33","type":"change","z":"3c72f734.b7612","name":"flip forward","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"flip","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":760,"wires":[["d82c27d5.baee8"]]},{"id":"d85a85fc.0da33","type":"delay","z":"3c72f734.b7612","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":120,"wires":[["f6f55fff.f1d99"]]},{"id":"6ada7829.96e5f","type":"change","z":"3c72f734.b7612","name":"Full Rotation 360º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"cw","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":640,"wires":[["d82c27d5.baee8"]]},{"id":"92f214aa.da418","type":"change","z":"3c72f734.b7612","name":"land","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"land","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[["d82c27d5.baee8"]]},{"id":"b4e12dc7.3e9d98","type":"udp out","z":"3c72f734.b7612","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1140,"y":440,"wires":[]},{"id":"a5a33d63.a4cc88","type":"debug","z":"3c72f734.b7612","name":"","active":true,"console":"false","complete":"false","x":1110,"y":400,"wires":[]},{"id":"1ef3d0da.9861df","type":"debug","z":"3c72f734.b7612","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":80,"wires":[]},{"id":"86fa9147.5e131","type":"ui_button","z":"3c72f734.b7612","name":"","group":"7ab77eb0.ed8c8","order":0,"width":0,"height":0,"passthru":false,"label":"Land","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":160,"wires":[["92f214aa.da418"]]},{"id":"e873cad0.d1ee3","type":"ui_button","z":"3c72f734.b7612","name":"","group":"9a3f2474.f8abf","order":0,"width":0,"height":0,"passthru":false,"label":"Up (50cm)","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"true","payloadType":"bool","topic":"","x":120,"y":260,"wires":[["27fb4846.0ecbd8"]]},{"id":"c625f692.30564","type":"ui_button","z":"3c72f734.b7612","name":"","group":"9a3f2474.f8abf","order":0,"width":0,"height":0,"passthru":false,"label":"Down (50cm)","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"true","payloadType":"bool","topic":"","x":130,"y":300,"wires":[["52149d37.918bec"]]},{"id":"447b3e99.8333a","type":"ui_button","z":"3c72f734.b7612","name":"","group":"9a3f2474.f8abf","order":0,"width":0,"height":0,"passthru":false,"label":"Right (50cm)","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"true","payloadType":"bool","topic":"","x":130,"y":340,"wires":[["2431a6d0.0f305a"]]},{"id":"b2dbd7b1.cd1f4","type":"ui_button","z":"3c72f734.b7612","name":"","group":"9a3f2474.f8abf","order":0,"width":0,"height":0,"passthru":false,"label":"Left (50cm)","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"true","payloadType":"bool","topic":"","x":130,"y":380,"wires":[["c0ec9b45.b59368"]]},{"id":"ac555d08.108e88","type":"ui_button","z":"3c72f734.b7612","name":"","group":"9a3f2474.f8abf","order":0,"width":0,"height":0,"passthru":false,"label":"Forward (50cm)","color":"","bgcolor":"","icon":"fa-forward","payload":"true","payloadType":"bool","topic":"","x":140,"y":420,"wires":[["1bf50322.e9e025"]]},{"id":"d2743935.4c5bb8","type":"ui_button","z":"3c72f734.b7612","name":"","group":"9a3f2474.f8abf","order":0,"width":0,"height":0,"passthru":false,"label":"Backward (50cm)","color":"","bgcolor":"","icon":"fa-backward","payload":"true","payloadType":"bool","topic":"","x":150,"y":460,"wires":[["d581280a.3c609"]]},{"id":"a236f04c.e22e4","type":"ui_button","z":"3c72f734.b7612","name":"","group":"4628d721.44ef48","order":0,"width":0,"height":0,"passthru":false,"label":"Clockwise (45º)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":140,"y":560,"wires":[["7752429b.38b94c"]]},{"id":"f7be04ae.b370e8","type":"ui_button","z":"3c72f734.b7612","name":"","group":"4628d721.44ef48","order":0,"width":0,"height":0,"passthru":false,"label":"Counter Clockwise (45º)","color":"","bgcolor":"","icon":"fa-undo","payload":"true","payloadType":"bool","topic":"","x":170,"y":600,"wires":[["a56fb3c6.69cac8"]]},{"id":"4f849f42.c061b","type":"ui_button","z":"3c72f734.b7612","name":"","group":"4628d721.44ef48","order":0,"width":0,"height":0,"passthru":false,"label":"Full Rotation (360º)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":150,"y":640,"wires":[["6ada7829.96e5f"]]},{"id":"f066be70.14fdb8","type":"ui_button","z":"3c72f734.b7612","name":"","group":"4628d721.44ef48","order":0,"width":0,"height":0,"passthru":false,"label":"Full Rotation (360º)","color":"","bgcolor":"","icon":"fa-undo","payload":"true","payloadType":"bool","topic":"","x":150,"y":680,"wires":[["414a4648.114cc"]]},{"id":"414a4648.114cc","type":"change","z":"3c72f734.b7612","name":"Full Rotation 360º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"ccw","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":680,"wires":[["d82c27d5.baee8"]]},{"id":"cb538994.5d3cf8","type":"ui_button","z":"3c72f734.b7612","name":"","group":"63f7e6a7.46a7e","order":0,"width":0,"height":0,"passthru":false,"label":"Flip (forward)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":130,"y":760,"wires":[["9af47da9.45e33"]]},{"id":"dec29ce6.85ffd8","type":"change","z":"3c72f734.b7612","name":"flip backward","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"flip","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":800,"wires":[["d82c27d5.baee8"]]},{"id":"fd65216b.05869","type":"ui_button","z":"3c72f734.b7612","name":"","group":"63f7e6a7.46a7e","order":0,"width":0,"height":0,"passthru":false,"label":"Flip (backward)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":140,"y":800,"wires":[["dec29ce6.85ffd8"]]},{"id":"a4cdfdd3.ecfeb","type":"change","z":"3c72f734.b7612","name":"flip right","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"flip","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"r","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":840,"wires":[["d82c27d5.baee8"]]},{"id":"5c6a36b2.c10d58","type":"ui_button","z":"3c72f734.b7612","name":"","group":"63f7e6a7.46a7e","order":0,"width":0,"height":0,"passthru":false,"label":"Flip (right)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":120,"y":840,"wires":[["a4cdfdd3.ecfeb"]]},{"id":"ce92fb16.277658","type":"change","z":"3c72f734.b7612","name":"flip left","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"flip","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"l","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":880,"wires":[["d82c27d5.baee8"]]},{"id":"9a46f597.10bca","type":"ui_button","z":"3c72f734.b7612","name":"","group":"63f7e6a7.46a7e","order":0,"width":0,"height":0,"passthru":false,"label":"Flip (left)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":120,"y":880,"wires":[["ce92fb16.277658"]]},{"id":"919bb0f9.3a4b58","type":"inject","z":"48f86e6a.69c9b","name":"Run Mission","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["f96b040d.188f48","e46b302d.0ca8e8","168ffc16.cc38d4","1df06df6.ecd452"]]},{"id":"f96b040d.188f48","type":"template","z":"48f86e6a.69c9b","name":"Custom Path","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"command,0,1000\ntakeoff,0\ndown,50\ncw,360\nforward,20\nback,20\nccw,360\nright,20\nleft,20\nland,0","x":310,"y":240,"wires":[[]]},{"id":"e46b302d.0ca8e8","type":"template","z":"48f86e6a.69c9b","name":"Box","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"command,0,250\ntakeoff,0\nup,50,1000\ndown,50\nforward,100,1000\ncw,90\nforward,100,1000\ncw,90\nforward,100,1000\ncw,90\nforward,100,1000\ncw,90\nland,0","x":290,"y":120,"wires":[[]]},{"id":"f30bebe3.da521","type":"comment","z":"48f86e6a.69c9b","name":"3 - Run a Pre-Programmed Mission Path","info":"Enter the commands in the \"Path\" template nodes\nas comma separated commands\n\n#1 Always start with\ncommand,0,250\ntakeoff,0\n\n#2 Flight path\ncommand [up,down,right,left,forward, back],distance(cm),time(ms)\n\n#3 Rotation\nc","x":630,"y":140,"wires":[]},{"id":"d6d28238.d30ad","type":"csv","z":"48f86e6a.69c9b","name":"Split","sep":",","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"tellocmd,distance,time","skip":0,"x":650,"y":180,"wires":[["a5d35220.0fdd98"]]},{"id":"c9df14e1.8d7dc","type":"comment","z":"48f86e6a.69c9b","name":"1 - Connect to TELLO-NNNNNN WiFi","info":"","x":300,"y":40,"wires":[]},{"id":"168ffc16.cc38d4","type":"template","z":"48f86e6a.69c9b","name":"Simple","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"command,0,250\ntakeoff,0\nup,25,5000\nflip,f\ndown,50,2000\nforward,50,4000\nback,50,4000\nleft,50,4000\nright,50,4000\nccw,360\nland,0","x":290,"y":160,"wires":[[]]},{"id":"1df06df6.ecd452","type":"template","z":"48f86e6a.69c9b","name":"Flip","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"command,0,250\ntakeoff,0\nup,20,4000\nflip,r,2000\ndown 20,4000\nland,0","x":290,"y":200,"wires":[["2f559b04.451bac"]]},{"id":"fd870337.6318e8","type":"comment","z":"48f86e6a.69c9b","name":"2 - Construct a programmed path","info":"","x":290,"y":80,"wires":[]},{"id":"e990e306.d54e98","type":"udp out","z":"48f86e6a.69c9b","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1220,"y":380,"wires":[]},{"id":"7ee4c17b.0e049","type":"inject","z":"48f86e6a.69c9b","name":"Abort Mayday Abort","topic":"","payload":"land","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":380,"wires":[["12c53608.3af642"]]},{"id":"12c53608.3af642","type":"change","z":"48f86e6a.69c9b","name":"Emergency landing!!","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"land","tot":"str"},{"t":"set","p":"payload.distance","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["d4e64acc.afcc98"]]},{"id":"d4e64acc.afcc98","type":"function","z":"48f86e6a.69c9b","name":"Send Tello Command","func":"var telloaction ;\n\nif( msg.payload.distance != \"0\") {\n   telloaction = new Buffer( msg.payload.tellocmd + ' '+ msg.payload.distance );\n} else {\n   telloaction = new Buffer( msg.payload.tellocmd );\n}\n\nmsg.payload = telloaction;\t\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":380,"wires":[["e990e306.d54e98"]]},{"id":"c414bd19.cf5fb","type":"debug","z":"48f86e6a.69c9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":340,"wires":[]},{"id":"93aaf8ec.6af878","type":"change","z":"48f86e6a.69c9b","name":"increment MissionCmd Counter","rules":[{"t":"set","p":"MissionCmd","pt":"flow","to":"($flowContext(\"MissionCmd\")+1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":300,"wires":[["e82a8b0.73d6b78"]]},{"id":"1b485d84.e435d2","type":"delay","z":"48f86e6a.69c9b","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":340,"wires":[["93aaf8ec.6af878","c414bd19.cf5fb","e990e306.d54e98"]]},{"id":"e82a8b0.73d6b78","type":"function","z":"48f86e6a.69c9b","name":"Send Individual Tello Commands","func":"var Mission = flow.get(\"Mission\");\nvar i = flow.get(\"MissionCmd\");\nvar telloaction ;\nmsg.payload = Mission[i];\n\nif( i < Mission.length ) {\n    if( Mission[i].distance != \"0\") {\n        telloaction = new Buffer( Mission[i].tellocmd + ' '+ Mission[i].distance );\n    } else {\n       telloaction = new Buffer( Mission[i].tellocmd );\n    }\n\n    if( typeof(Mission[i].time) !== 'undefined') {\n        msg.delay = Mission[i].time;\n    } else {\n        msg.delay=5000;\n    }\n    msg.payload = telloaction;\n    return msg;\n} \n\nreturn null;\n","outputs":1,"noerr":0,"x":1190,"y":180,"wires":[["1b485d84.e435d2"]]},{"id":"2f559b04.451bac","type":"change","z":"48f86e6a.69c9b","name":"Initialize Mission","rules":[{"t":"delete","p":"Mission","pt":"flow"},{"t":"set","p":"MissionCmd","pt":"flow","to":"0","tot":"num"},{"t":"delete","p":"John","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["d6d28238.d30ad"]]},{"id":"a5d35220.0fdd98","type":"function","z":"48f86e6a.69c9b","name":"Store Tello Mission Commands","func":"// Load the Mission commands into an flow array\nvar Mission = flow.get(\"Mission\") || [];\nMission.push(msg.payload);\nflow.set(\"Mission\", Mission);\n\n// Load all the Mission Commands and exit\nif( msg.parts.index != (msg.parts.count - 1) ) {\n    return null ; \n}\n// Continue with the flow once the last Mission command has been stored\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":180,"wires":[["e82a8b0.73d6b78","f85c3e7e.10d3e"]]},{"id":"f85c3e7e.10d3e","type":"change","z":"48f86e6a.69c9b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mission","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":120,"wires":[["356dd1bd.3326f6"]]},{"id":"356dd1bd.3326f6","type":"debug","z":"48f86e6a.69c9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":120,"wires":[]},{"id":"becaa6a.0560cd8","type":"udp in","z":"b314dec3.deefa","name":"","iface":"","port":"8890","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":220,"y":900,"wires":[["f62560ea.3a8b"]]},{"id":"bc607525.2c9408","type":"debug","z":"b314dec3.deefa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":980,"wires":[]},{"id":"f62560ea.3a8b","type":"delay","z":"b314dec3.deefa","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":900,"wires":[["1bfed0c.f0b65af","c005783f.6cc658"]]},{"id":"8ede8ad5.bfb9d","type":"function","z":"b314dec3.deefa","name":"Parse Status","func":"// JSONata node performance is better than Function nodes\n// Don't use this function node.\n// Leave here for illustration on parsing the telemetry data\n\n// The telemetry data arrives from the drone as a single string:\n// pitch:0;roll:-1;yaw:0;vgx:0;vgy:0;vgz:0;templ:68;temph:69;tof:10;h:0;bat:90;baro:-39.22;time:0;agx:-3.00;agy:20.00;agz:-995.00;\n\n// Split the telemetry data into a json object that looks like this:\n// { pitch:0, roll:-1, yaw:0, vgx:0, vgy:0, vgz:0, templ:68, temph:69, tof:10, \n//   h:0, bat:90, baro:-39.22, time:0, agx:-3.00, agy:20.00, agz:-995.00 }\n\n// Use String functions to\n// convert the  pitch:0;roll:-1; to \"pitch\":0,\"roll\":-1,\"\n// replace all occurrences of ; with ,\"\n// replace all occurrences of : with \",\nvar state = msg.payload.toString();\n\nvar jsonstr = \"{\\\"\" + state.replace(/;/g, ',\"').replace(/:/g, '\":').slice(0,-4) + \"}\";\n// Now it looks like this:\n// \"{\"pitch\":0,\"roll\":-1,\"yaw\":0,\"vgx\":0,\"vgy\":0,\"vgz\":0,\"templ\":68,\"temph\":69,\"tof\":10,\"h\":0,\"bat\":90,\"baro\":-39.22,\"time\":0,\"agx\":-3.00,\"agy\":20.00,\"agz\":-995.00}\"\n\nmsg.payload = JSON.parse(jsonstr);\nreturn msg;\n\n// Everythiing below this line, works too but is much more complicated.\n\n// Split the string into an array of keypairs\nvar tellostate_array = msg.payload.split(';');\n// 17 string elements in the array [ \"pitch:0\",\"roll:-1\", ... ]\n\n// Maybe there are better techniques...\n// Build a stringified json object\nvar buildjson;\nfor( i=0; i < tellostate_array.length-1; i++) {\n    // split the pitch:0 into a key:keyvalue\n    var keypair = tellostate_array[i].split(\":\");\n    if( i === 0 ) {\n        buildjson = \"{\\\"\"+keypair[0]+\"\\\":\"+keypair[1]+\",\";\n    } else {\n        buildjson = buildjson+\"\\\"\"+keypair[0]+\"\\\":\"+keypair[1]+\",\";\n    }\n}\n// JSON.parse() does not allow trailing commas so strip the last one off\nbuildjson = buildjson.slice(0,-1) + \"}\";\n// Now it looks like this:\n// \"{\"pitch\":0,\"roll\":-1,\"yaw\":0,\"vgx\":0,\"vgy\":0,\"vgz\":0,\"templ\":68,\"temph\":69,\"tof\":10,\"h\":0,\"bat\":90,\"baro\":-39.22,\"time\":0,\"agx\":-3.00,\"agy\":20.00,\"agz\":-995.00}\"\nmsg.payload = JSON.parse(buildjson);\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":980,"wires":[["bc607525.2c9408"]]},{"id":"1e0ffa9a.b1d94d","type":"inject","z":"b314dec3.deefa","name":"Sample","topic":"","payload":"pitch:0;roll:-1;yaw:0;vgx:0;vgy:0;vgz:0;templ:68;temph:69;tof:10;h:0;bat:90;baro:-39.22;time:0;agx:-3.00;agy:20.00;agz:-995.00;  ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":980,"wires":[["8ede8ad5.bfb9d","c005783f.6cc658"]]},{"id":"ea83dcd6.425dc","type":"ui_gauge","z":"b314dec3.deefa","name":"","group":"838c52c8.da18f","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery","label":"Battery","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1280,"y":500,"wires":[]},{"id":"7191adaf.b19f7c","type":"ui_gauge","z":"b314dec3.deefa","name":"","group":"838c52c8.da18f","order":3,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Fº","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1270,"y":580,"wires":[]},{"id":"3b058a35.7cc1ee","type":"change","z":"b314dec3.deefa","name":"battery percentage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":500,"wires":[["ea83dcd6.425dc"]]},{"id":"7426d4a1.ba812c","type":"change","z":"b314dec3.deefa","name":"fly time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":540,"wires":[["45117c08.27eb04"]]},{"id":"571cdfb3.5ab55","type":"change","z":"b314dec3.deefa","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temph","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":580,"wires":[["7191adaf.b19f7c"]]},{"id":"351b819b.65fa66","type":"comment","z":"b314dec3.deefa","name":"Status field descriptions","info":"pitch = the degree of the attitude pitch.\nroll = the degree of the attitude roll.\nyaw = the degree of the attitude yaw.\nvgx = the speed of “x” axis. \nvgy = the speed of the “y” axis.\nvgz = the speed of the “z” axis.\ntempl = the lowest temperature in degree Celsius.\ntemph = the highest temperature in degree Celsius\ntof = the time of flight distance in cm.\nh = the height in cm. \nbat = the percentage of the current battery level.\nbaro = the barometer measurement in cm.\ntime = the amount of time the motor has been used.\nagx = the acceleration of the “x” axis.\nagy = the acceleration of the “y” axis.\nagz = the acceleration of the “z” axis.","x":1100,"y":420,"wires":[]},{"id":"babc415e.61edf8","type":"ui_gauge","z":"b314dec3.deefa","name":"","group":"72acef26.ac524","order":1,"width":0,"height":0,"gtype":"gage","title":"Accel X","label":"cm/sec2","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1280,"y":700,"wires":[]},{"id":"b7524f86.ce9158","type":"ui_gauge","z":"b314dec3.deefa","name":"","group":"72acef26.ac524","order":2,"width":0,"height":0,"gtype":"gage","title":"Accel Y","label":"cm/sec2","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1280,"y":740,"wires":[]},{"id":"cdb90c93.817488","type":"ui_gauge","z":"b314dec3.deefa","name":"","group":"72acef26.ac524","order":3,"width":0,"height":0,"gtype":"gage","title":"Accel Z","label":"cm/sec2","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1280,"y":780,"wires":[]},{"id":"99fbf947.10273","type":"ui_gauge","z":"b314dec3.deefa","name":"","group":"68fa4386.a1f69c","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed Y","label":"cm/sec","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1280,"y":860,"wires":[]},{"id":"3f04f916.4f814e","type":"ui_gauge","z":"b314dec3.deefa","name":"","group":"68fa4386.a1f69c","order":3,"width":0,"height":0,"gtype":"gage","title":"Speed Z","label":"cm/sec","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1280,"y":900,"wires":[]},{"id":"2c22a3c.20b1f5c","type":"ui_gauge","z":"b314dec3.deefa","name":"","group":"68fa4386.a1f69c","order":1,"width":0,"height":0,"gtype":"gage","title":"Speed X","label":"cm/sec","format":"{{value}}","min":"-100","max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","x":1280,"y":820,"wires":[]},{"id":"2de31fd6.ce637","type":"change","z":"b314dec3.deefa","name":"Ground Speed X","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vgx","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":820,"wires":[["2c22a3c.20b1f5c"]]},{"id":"89e06a08.fc11f8","type":"change","z":"b314dec3.deefa","name":"Ground Speed y","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vgy","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":860,"wires":[["99fbf947.10273"]]},{"id":"387450c8.22dbc8","type":"change","z":"b314dec3.deefa","name":"Ground Speed z","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vgz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":900,"wires":[["3f04f916.4f814e"]]},{"id":"a9a346c3.a0d23","type":"change","z":"b314dec3.deefa","name":"Height","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":620,"wires":[["36e3f680.acb55a"]]},{"id":"ccd739e8.5d6718","type":"change","z":"b314dec3.deefa","name":"Accel X","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.agx","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":700,"wires":[["babc415e.61edf8"]]},{"id":"49361082.5242c","type":"change","z":"b314dec3.deefa","name":"Accel Y","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.agy","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":740,"wires":[["b7524f86.ce9158"]]},{"id":"774a91d9.d6cfe","type":"change","z":"b314dec3.deefa","name":"Accel Z","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.agz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":780,"wires":[["cdb90c93.817488"]]},{"id":"1bfed0c.f0b65af","type":"debug","z":"b314dec3.deefa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":860,"wires":[]},{"id":"9f805a8b.bb4b48","type":"ui_gauge","z":"b314dec3.deefa","name":"","group":"838c52c8.da18f","order":4,"width":0,"height":0,"gtype":"gage","title":"Barometer","label":"millibars","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1290,"y":660,"wires":[]},{"id":"19eadb30.615555","type":"change","z":"b314dec3.deefa","name":"Barometer","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.baro","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":660,"wires":[["9f805a8b.bb4b48"]]},{"id":"c005783f.6cc658","type":"change","z":"b314dec3.deefa","name":"Parse Status into an object","rules":[{"t":"set","p":"payload","pt":"msg","to":" $filter($split($trim($string(payload)), ';'), function($v){$v != ''}){$substringBefore($, ':') : $number($substringAfter($, ':'))}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":900,"wires":[["c4ce1e8.483c46","3b058a35.7cc1ee","7426d4a1.ba812c","571cdfb3.5ab55","a9a346c3.a0d23","19eadb30.615555","ccd739e8.5d6718","49361082.5242c","774a91d9.d6cfe","2de31fd6.ce637","89e06a08.fc11f8","387450c8.22dbc8"]]},{"id":"c4ce1e8.483c46","type":"debug","z":"b314dec3.deefa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":460,"wires":[]},{"id":"ec8810a3.7d158","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":2,"width":0,"height":0,"passthru":false,"label":"Takeoff","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":260,"wires":[["a15699d.b2f4768"]]},{"id":"e57c180c.b9059","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":3,"width":0,"height":0,"passthru":false,"label":"Land","color":"","bgcolor":"","icon":"","payload":"land","payloadType":"str","topic":"","x":250,"y":220,"wires":[["f4770905.2b7288"]]},{"id":"cd252dd0.ae2dc8","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":1,"width":0,"height":0,"label":"Connect","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":180,"wires":[["8f46785.0648488"]]},{"id":"c0843681.47283","type":"inject","z":"b314dec3.deefa","name":"Init","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":200,"wires":[["8f46785.0648488"]]},{"id":"8f46785.0648488","type":"change","z":"b314dec3.deefa","name":"Init","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"command","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["2c56625d.a27d9e"]]},{"id":"a15699d.b2f4768","type":"change","z":"b314dec3.deefa","name":"Init","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"command","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["295a27c1.b55898","f152ac70.b59fc","2c56625d.a27d9e"]]},{"id":"45c20aeb.e65a44","type":"change","z":"b314dec3.deefa","name":"TakeOff","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"takeoff","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":320,"wires":[["295a27c1.b55898","2c56625d.a27d9e"]]},{"id":"6acd4615.2e507","type":"change","z":"b314dec3.deefa","name":"Up 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"up","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":360,"wires":[["2c56625d.a27d9e"]]},{"id":"9c3691b4.91aaf","type":"change","z":"b314dec3.deefa","name":"Right 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"right","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":440,"wires":[["2c56625d.a27d9e"]]},{"id":"30bcfda7.f6cf6a","type":"change","z":"b314dec3.deefa","name":"Forward 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"forward","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":520,"wires":[["2c56625d.a27d9e"]]},{"id":"5ef92c6b.1af9d4","type":"change","z":"b314dec3.deefa","name":"Down 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"down","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":400,"wires":[["2c56625d.a27d9e"]]},{"id":"5ba87dab.1a60a4","type":"change","z":"b314dec3.deefa","name":"Left 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"left","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":480,"wires":[["2c56625d.a27d9e"]]},{"id":"927defae.7c9d58","type":"change","z":"b314dec3.deefa","name":"Back 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"back","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":560,"wires":[["2c56625d.a27d9e"]]},{"id":"dd74dc7.1f8f02","type":"change","z":"b314dec3.deefa","name":"cw 90º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"cw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":600,"wires":[["2c56625d.a27d9e"]]},{"id":"aee87efa.b1812","type":"change","z":"b314dec3.deefa","name":"ccw 90º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"ccw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":640,"wires":[["2c56625d.a27d9e"]]},{"id":"810ba25d.c4d308","type":"change","z":"b314dec3.deefa","name":"Flip f","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"flip","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":720,"wires":[["2c56625d.a27d9e"]]},{"id":"56fb21c7.b3769","type":"change","z":"b314dec3.deefa","name":"battery?","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"battery?","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"tellorequestbattery","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":800,"wires":[["2c56625d.a27d9e"]]},{"id":"e65e4d54.2f8bd8","type":"inject","z":"b314dec3.deefa","name":"Land","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":240,"wires":[["f4770905.2b7288"]]},{"id":"a9d544e8.840d88","type":"inject","z":"b314dec3.deefa","name":"TakeOff","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":280,"wires":[["a15699d.b2f4768"]]},{"id":"1c7ecbaa.33ca04","type":"inject","z":"b314dec3.deefa","name":"Up 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":360,"wires":[["6acd4615.2e507"]]},{"id":"b51f53c9.3f038","type":"inject","z":"b314dec3.deefa","name":"Down 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":400,"wires":[["5ef92c6b.1af9d4"]]},{"id":"4fa2e582.bb3fe4","type":"inject","z":"b314dec3.deefa","name":"Right 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":440,"wires":[["9c3691b4.91aaf"]]},{"id":"75304b42.0b69d4","type":"inject","z":"b314dec3.deefa","name":"Left 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":480,"wires":[["5ba87dab.1a60a4"]]},{"id":"59ed8bae.a35cac","type":"inject","z":"b314dec3.deefa","name":"Forward 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":520,"wires":[["30bcfda7.f6cf6a"]]},{"id":"8660999b.8bddb8","type":"inject","z":"b314dec3.deefa","name":"Back 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":560,"wires":[["927defae.7c9d58"]]},{"id":"42c528bf.9e4f5","type":"inject","z":"b314dec3.deefa","name":"cw 90º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":600,"wires":[["dd74dc7.1f8f02"]]},{"id":"70579a98.41ad64","type":"inject","z":"b314dec3.deefa","name":"Full 360º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":680,"wires":[["9f9b3c66.2128d8"]]},{"id":"d03b4c97.d61c","type":"inject","z":"b314dec3.deefa","name":"Flip forward","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":720,"wires":[["810ba25d.c4d308"]]},{"id":"b5542d4b.ff555","type":"inject","z":"b314dec3.deefa","name":"Battery?","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":220,"y":800,"wires":[["56fb21c7.b3769"]]},{"id":"6e69c1b9.e966c8","type":"inject","z":"b314dec3.deefa","name":"ccw 90º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":640,"wires":[["aee87efa.b1812"]]},{"id":"f152ac70.b59fc","type":"delay","z":"b314dec3.deefa","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":320,"wires":[["45c20aeb.e65a44"]]},{"id":"9f9b3c66.2128d8","type":"change","z":"b314dec3.deefa","name":"cw 360º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"cw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":680,"wires":[["2c56625d.a27d9e"]]},{"id":"f4770905.2b7288","type":"change","z":"b314dec3.deefa","name":"Land","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"land","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":240,"wires":[["2c56625d.a27d9e"]]},{"id":"173d7b1f.225985","type":"udp out","z":"b314dec3.deefa","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"52955","base64":false,"multicast":"false","x":630,"y":140,"wires":[]},{"id":"af84e0e7.416e48","type":"debug","z":"b314dec3.deefa","name":"","active":true,"console":"false","complete":"false","x":590,"y":100,"wires":[]},{"id":"295a27c1.b55898","type":"debug","z":"b314dec3.deefa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":280,"wires":[]},{"id":"66978910.0cf5f8","type":"comment","z":"b314dec3.deefa","name":"1 - Connect to TELLO-NNNNNN WiFi","info":"","x":240,"y":40,"wires":[]},{"id":"1f25af4f.304b91","type":"comment","z":"b314dec3.deefa","name":"Status \"set\" commands","info":"Send set command to Tello and wait for its response.\nPossible set commands:\n- speed?: get current speed (cm/s): x: 1-100\n- battery?: get current battery percentage: x: 0-100\n- time?: get current fly time (s): time\n- height?: get height (cm): x: 0-3000\n- temp?: get temperature (°C): x: 0-90\n- attitude?: get IMU attitude data: pitch roll yaw\n- baro?: get barometer value (m): x\n- tof?: get distance value from TOF (cm): x: 30-1000\n- wifi?: get Wi-Fi SNR: snr","x":260,"y":760,"wires":[]},{"id":"2c56625d.a27d9e","type":"link out","z":"b314dec3.deefa","name":"TelloControls-Out","links":["642c9e54.2cc99"],"x":695,"y":520,"wires":[]},{"id":"e40f060c.921fa8","type":"function","z":"b314dec3.deefa","name":"Send Individual Tello Command","func":"var telloaction ;\n\nif((msg.payload.tellovalue) && (msg.payload.tellovalue != \"0\")) {\n  telloaction = new Buffer( msg.payload.tellocmd + ' '+ msg.payload.tellovalue );\n} else {\n  telloaction = new Buffer( msg.payload.tellocmd );\n}\n\nmsg.payload = telloaction;\t\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["af84e0e7.416e48","173d7b1f.225985"]]},{"id":"642c9e54.2cc99","type":"link in","z":"b314dec3.deefa","name":"TelloControls-In","links":["2c56625d.a27d9e"],"x":135,"y":120,"wires":[["e40f060c.921fa8"]]},{"id":"41e585e6.22ea44","type":"udp in","z":"b314dec3.deefa","name":"","iface":"","port":"52955","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":860,"y":120,"wires":[["8616dd79.164fd8","32a2beb7.8b7a52"]]},{"id":"8616dd79.164fd8","type":"debug","z":"b314dec3.deefa","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":1010,"y":160,"wires":[]},{"id":"32a2beb7.8b7a52","type":"function","z":"b314dec3.deefa","name":"parse incoming messages","func":"var TELLO_CMD_ALT_LIMIT = 4182;\nvar TELLO_CMD_LIGHT_STRENGTH = 53;\nvar TELLO_CMD_LOW_BATT_THRESHOLD = 4183;\nvar TELLO_CMD_STATUS = 86;\nvar TELLO_CMD_LOG_HEADER_WRITE = 4176;\nvar TELLO_CMD_LOG_DATA_WRITE = 4177;\nvar TELLO_CMD_LOG_CONFIGURATION = 4178;\nvar seqID ;\nvar pacType;\n\nfunction parsePacket (bb) {\n    //\tvar data = Buffer.from(msg);\n\tvar size = bb.length;\n\tvar payload = bb.slice(9,size);\n\tvar dataSize = 0;\n\tvar cmdID    = 0;\n\n\tif (bb.length >= 11) {\n\t\t\tvar mark = bb.readUInt8(0);\n\t\t\tif (mark == 0xCC) {\t// start of packet\n                size      = bb.readUInt16LE(1) >> 3;\n                var crc8  = bb.readUInt8(3);\n                pacType   = bb.readUInt8(4);\n                cmdID     = bb.readUInt16LE(5);\n                seqID     = bb.readUInt16LE(7);\n                dataSize  = size - 11;\n                var data  = false;\n                var crc16 = bb.readUInt16LE(size - 2);\n\t\t\t} \n\n\t\t\tif (cmdID == TELLO_CMD_STATUS) {\n                //\tthis.parseStatus(bb);\n            } else if (cmdID == TELLO_CMD_LOG_HEADER_WRITE) {\n                node.warn(\"TELLO_CMD_LOG_HEADER_WRITE \" + TELLO_CMD_LOG_HEADER_WRITE);\n\t\t\t} else if (cmdID == TELLO_CMD_LOG_DATA_WRITE) {\n                // \n\t\t\t} else if (cmdID == TELLO_CMD_ALT_LIMIT) {    \n                node.warn(\"TELLO_CMD_ALT_LIMIT \"+TELLO_CMD_ALT_LIMIT);\n                if (payload.length > 0) \n                    node.warn(payload.readUInt16LE(1));\n\t\t\t} else if (cmdID == TELLO_CMD_LIGHT_STRENGTH) {    \n                node.warn(\"TELLO_CMD_LIGHT_STRENGTH \"+TELLO_CMD_LIGHT_STRENGTH);\n                // if (payload.length > 0) \n                node.warn(payload.readUInt16LE(1));\n                // node.warn(payload)\n\t\t\t} else if (cmdID == TELLO_CMD_LOW_BATT_THRESHOLD) {    \n                node.warn(\"TELLO_CMD_LOW_BATT_THRESHOLD \"+TELLO_CMD_LOW_BATT_THRESHOLD);\n                if (payload.length > 0)\n                    node.warn(payload.readUInt16LE(1));\n\t\t\t} else if (cmdID == 69 ) {    //VERSION\n                node.warn(\"TELLO_CMD_VERSION \"+cmdID);\n                node.warn(payload);\n                node.warn(payload.slice(1,20).toString());\n\t\t\t} else if (cmdID == TELLO_CMD_LOG_CONFIGURATION) {    \n                node.warn(\"TELLO_CMD_LOG_CONFIGURATION command detected\");\n\t\t\t} else {\n                node.warn(\"DBG unknown CMD \"+ cmdID);\n\t\t\t}\n\t} else {\n        node.warn('wrong packet', bb);\n\t}\n\treturn cmdID;\n}\n\nif( msg.payload.toString() == \"ok\" ) {\n\tmsg.payload = \"ok\";\n\treturn msg;\n}\n\nvar batterystatus = global.get(\"tellorequestbattery\") || false;\nif ( batterystatus === true ) {\n    msg.payload = { \"battery\":msg.payload.toString().trim() };\n    global.set(\"tellorequestbattery\", false);    \n    return msg;\n}\n\nmsg.cmdID  = parsePacket(msg.payload);\nmsg.seqID  = seqID;\nmsg.pacType= pacType;\nglobal.set(\"tellomsg\",msg);\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":120,"wires":[["66a4db0a.d90d9c"]]},{"id":"66a4db0a.d90d9c","type":"debug","z":"b314dec3.deefa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":120,"wires":[]},{"id":"95879137.2b6948","type":"comment","z":"b314dec3.deefa","name":"Receive Return Strings","info":"","x":900,"y":80,"wires":[]},{"id":"b9337279.ccbbb","type":"comment","z":"b314dec3.deefa","name":"Send Commands","info":"","x":200,"y":80,"wires":[]},{"id":"bd48d765.1be6d","type":"comment","z":"b314dec3.deefa","name":"Open port 8890/udp in Firewall","info":"Open Port 8890/udp in laptop firewall to receive Tello telemetry data.\n\nOn Linux\n$ sudo firewall-cmd --permanent --add-port=8890/udp\n\nTo get the video stream, open port 11111/udp\n$ sudo firewall-cmd --permanent --add-port=11111/udp\n\nOn Mac, use System Preferences to open the ports.\n - Open System Preferences > Security & Privacy > Firewall > Firewall Options\n - Click the + / Add button\n - Choose 'node' application from the Applications folder and click Add.\n - Ensure that the option next to the application is set to Allow incoming connections.\n - Click OK.","x":270,"y":860,"wires":[]},{"id":"45117c08.27eb04","type":"ui_text","z":"b314dec3.deefa","group":"72acef26.ac524","order":4,"width":0,"height":0,"name":"","label":"Flight Time:","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":540,"wires":[]},{"id":"36e3f680.acb55a","type":"ui_chart","z":"b314dec3.deefa","name":"","group":"838c52c8.da18f","order":2,"width":0,"height":0,"label":"Height","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":1270,"y":620,"wires":[[],[]]},{"id":"ebfae762.cac0f8","type":"comment","z":"b314dec3.deefa","name":"Node-RED Best Practices","info":"JSONata node performance is better than Function nodes","x":630,"y":940,"wires":[]},{"id":"754c7711.438b","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":0,"width":0,"height":0,"passthru":false,"label":"Up (50cm)","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"true","payloadType":"bool","topic":"","x":270,"y":340,"wires":[["6acd4615.2e507"]]},{"id":"b9f8fc8b.a315b8","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":0,"width":0,"height":0,"passthru":false,"label":"Down (50cm)","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"true","payloadType":"bool","topic":"","x":270,"y":380,"wires":[["5ef92c6b.1af9d4"]]},{"id":"cb694b30.4ff6f8","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":0,"width":0,"height":0,"passthru":false,"label":"Right (50cm)","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"true","payloadType":"bool","topic":"","x":270,"y":420,"wires":[["9c3691b4.91aaf"]]},{"id":"556abb75.5e2ac4","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":0,"width":0,"height":0,"passthru":false,"label":"Left (50cm)","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"true","payloadType":"bool","topic":"","x":270,"y":460,"wires":[["5ba87dab.1a60a4"]]},{"id":"2347428f.cd9546","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":0,"width":0,"height":0,"passthru":false,"label":"Forward (50cm)","color":"","bgcolor":"","icon":"fa-forward","payload":"true","payloadType":"bool","topic":"","x":280,"y":500,"wires":[["30bcfda7.f6cf6a"]]},{"id":"67bfbb6b.8a3714","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":0,"width":0,"height":0,"passthru":false,"label":"Backward (50cm)","color":"","bgcolor":"","icon":"fa-backward","payload":"true","payloadType":"bool","topic":"","x":290,"y":540,"wires":[["927defae.7c9d58"]]},{"id":"8c6e331b.bbc6b8","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":0,"width":0,"height":0,"passthru":false,"label":"Clockwise (90º)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":280,"y":580,"wires":[["dd74dc7.1f8f02"]]},{"id":"77f6d54f.a5aba4","type":"ui_button","z":"b314dec3.deefa","name":"Counter Clockwise","group":"13c674bb.d69793","order":0,"width":0,"height":0,"passthru":false,"label":"Counter Clockwise (45º)","color":"","bgcolor":"","icon":"fa-undo","payload":"true","payloadType":"bool","topic":"","x":290,"y":620,"wires":[[]]},{"id":"7f7e3343.615264","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":0,"width":0,"height":0,"passthru":false,"label":"Full Rotation (360º)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":290,"y":660,"wires":[["9f9b3c66.2128d8"]]},{"id":"616f57da.d3f828","type":"ui_button","z":"b314dec3.deefa","name":"","group":"13c674bb.d69793","order":0,"width":0,"height":0,"passthru":false,"label":"Flip (forward)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":280,"y":700,"wires":[["810ba25d.c4d308"]]}]