projects/System-diagnostic-framework/flow.json
[{"id":"d6f813da.8b52a","type":"tab","label":"Logging"},{"id":"ff1a2d61.ed86b","type":"sqlitedb","z":"","db":"/home/pi/sqlite/diagnostic"},{"id":"3b95402b.e4b088","type":"ui_group","z":"","name":"State Administration","tab":"27ed69d6.638706","order":1,"disp":true,"width":"6"},{"id":"bc74f52.7bc2388","type":"ui_group","z":"","name":"System Administration","tab":"27ed69d6.638706","order":3,"disp":true,"width":"6"},{"id":"b34ca5e4.d3492","type":"ui_group","z":"","name":"System Status","tab":"27ed69d6.638706","order":3,"disp":true,"width":"6"},{"id":"4fac8cdc.7cffb4","type":"ui_group","z":"","name":"System Messages","tab":"27ed69d6.638706","order":4,"disp":true,"width":"24"},{"id":"49e6a983.85d1","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered"},{"id":"27ed69d6.638706","type":"ui_tab","z":"","name":"Logs","icon":"message","order":3},{"id":"9f6a635c.789be","type":"inject","z":"d6f813da.8b52a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":320,"wires":[["50fe1536.ce43ec"]]},{"id":"50fe1536.ce43ec","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"msg.topic = \"SELECT * FROM state ORDER BY sta_id\";\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":320,"wires":[["e4970a3a.d89578"]]},{"id":"e4970a3a.d89578","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":437,"y":320,"wires":[["ade50ab6.eba2f8"]]},{"id":"ade50ab6.eba2f8","type":"function","z":"d6f813da.8b52a","name":"Process states","func":"global.set(\"Diag_State_Buffer\",msg.payload);\n\nvar output = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    //output.push( \"[\"+msg.payload[i].id+\"] \"+msg.payload[i].caption);\n    obj = {};\n    \n    obj [\"[\"+msg.payload[i].sta_id+\"] \"+msg.payload[i].sta_title]=msg.payload[i].sta_id;\n    output.push(obj);\n}\nmsg.options = output;\nreturn msg;","outputs":1,"noerr":0,"x":637,"y":321,"wires":[["eb248287.203ee8"]]},{"id":"eb248287.203ee8","type":"ui_dropdown","z":"d6f813da.8b52a","name":"","label":"Select","group":"3b95402b.e4b088","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":823,"y":321,"wires":[["d120b3fd.0d56c"]]},{"id":"aa691afb.e0af78","type":"ui_text_input","z":"d6f813da.8b52a","name":"","label":"Caption","group":"3b95402b.e4b088","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":840,"y":439,"wires":[["7e8fd3.670fe82c"]]},{"id":"fa3bedc1.b5144","type":"ui_colour_picker","z":"d6f813da.8b52a","name":"","label":"Color","group":"3b95402b.e4b088","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"order":4,"width":0,"height":0,"passthru":false,"topic":"","x":839,"y":483,"wires":[["dbd524a6.813ba8"]]},{"id":"d120b3fd.0d56c","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"global.set(\"diag_state_selected\",msg.payload);\nmsg.topic = \"SELECT * FROM state WHERE sta_id=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":112,"y":435,"wires":[["d3f336b4.d8756"]]},{"id":"d3f336b4.d8756","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":276,"y":435,"wires":[["444c214.a847be"]]},{"id":"444c214.a847be","type":"switch","z":"d6f813da.8b52a","name":"If no data","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":442,"y":435,"wires":[["dd2d77fd.6c4518","e2b9c6f0.82a21","9c057039.139ca8"]]},{"id":"dd2d77fd.6c4518","type":"change","z":"d6f813da.8b52a","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sta_title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":642,"y":439,"wires":[["aa691afb.e0af78"]]},{"id":"e2b9c6f0.82a21","type":"change","z":"d6f813da.8b52a","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sta_color","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":483,"wires":[["fa3bedc1.b5144"]]},{"id":"578272d.e76060c","type":"ui_numeric","z":"d6f813da.8b52a","name":"","label":"ID","group":"3b95402b.e4b088","order":2,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":833,"y":402,"wires":[["b1b444e6.6e6728"]]},{"id":"9c057039.139ca8","type":"change","z":"d6f813da.8b52a","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sta_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":647,"y":402,"wires":[["578272d.e76060c"]]},{"id":"ca46628e.0b65b","type":"ui_button","z":"d6f813da.8b52a","name":"","group":"3b95402b.e4b088","order":0,"width":0,"height":0,"label":"Create New","color":"","bgcolor":"","icon":"add","payload":"","payloadType":"str","topic":"","x":101,"y":249,"wires":[["7fbbd881.b26a08"]]},{"id":"7fbbd881.b26a08","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"msg.topic = \"INSERT INTO state (sta_id,sta_caption,sta_color) VALUES (101,'New state','ffffff')\";\nglobal.set(\"diag_state_selected\",undefined);\nreturn msg;","outputs":1,"noerr":0,"x":286,"y":249,"wires":[["70738f83.1e3a38"]]},{"id":"70738f83.1e3a38","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":450,"y":249,"wires":[["50fe1536.ce43ec","5e5492a8.120e5c"]]},{"id":"b1b444e6.6e6728","type":"function","z":"d6f813da.8b52a","name":"Store value","func":"global.set(\"diag_state_id\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1019,"y":401,"wires":[[]]},{"id":"7e8fd3.670fe82c","type":"function","z":"d6f813da.8b52a","name":"Store value","func":"global.set(\"diag_state_caption\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1021,"y":439,"wires":[[]]},{"id":"dbd524a6.813ba8","type":"function","z":"d6f813da.8b52a","name":"Store value","func":"global.set(\"diag_state_color\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1024,"y":479,"wires":[[]]},{"id":"26615f6b.3c54c","type":"ui_button","z":"d6f813da.8b52a","name":"","group":"3b95402b.e4b088","order":0,"width":0,"height":0,"label":"Update selected","color":"","bgcolor":"#FF9000","icon":"mode_edit","payload":"","payloadType":"str","topic":"","x":109,"y":205,"wires":[["6768129e.8d8b1c"]]},{"id":"6768129e.8d8b1c","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"if (global.get(\"diag_state_selected\")!==undefined) {\n    msg.topic = \"UPDATE state SET \";\n    if (global.get(\"diag_state_id\")!==undefined) {\n        msg.topic = msg.topic+ \"sta_id=\"+global.get(\"diag_state_id\")+\", \";\n    }\n    if (global.get(\"diag_state_caption\")!==undefined) {\n        msg.topic = msg.topic+ \"sta_name='\"+global.get(\"diag_state_caption\")+\"', \";\n    }\n    if (global.get(\"diag_state_color\")!==undefined) {\n        msg.topic = msg.topic+ \"sta_color='\"+global.get(\"diag_state_color\")+\"', \";\n    }\n    msg.topic = msg.topic.substring(0,msg.topic.length-2);\n    msg.topic = msg.topic+ \" WHERE sta_id=\"+global.get(\"diag_state_selected\");\n    global.set(\"diag_state_selected\",undefined);\n    global.set(\"diag_state_id\",undefined);\n    global.set(\"diag_state_caption\",undefined);\n    global.set(\"diag_state_color\",undefined);\n} else {\n    msg.topic = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":284,"y":205,"wires":[["7b2894f6.2e6c54"]]},{"id":"7b2894f6.2e6c54","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":452,"y":203,"wires":[["50fe1536.ce43ec","6dfb07ca.b7867"]]},{"id":"beab631e.65ba68","type":"ui_button","z":"d6f813da.8b52a","name":"","group":"3b95402b.e4b088","order":0,"width":0,"height":0,"label":"Delete selected","color":"","bgcolor":"#ff5555","icon":"delete","payload":"","payloadType":"str","topic":"","x":110,"y":157,"wires":[["4d6ed1d3.d68be8"]]},{"id":"4d6ed1d3.d68be8","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"if (global.get(\"diag_state_selected\")!==undefined) {\n    msg.topic = \"DELETE FROM state WHERE sta_id=\"+global.get(\"diag_state_selected\");\n    global.set(\"diag_state_selected\",undefined);\n    global.set(\"diag_state_id\",undefined);\n    global.set(\"diag_state_caption\",undefined);\n    global.set(\"diag_state_color\",undefined);\n} else {\n    msg.topic = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":157,"wires":[["1f360949.20b76f"]]},{"id":"1f360949.20b76f","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":451,"y":158,"wires":[["50fe1536.ce43ec","67a6cad7.de7b7c"]]},{"id":"9e2d4fa0.16052","type":"comment","z":"d6f813da.8b52a","name":"Maintenance of the State table","info":"","x":158,"y":110,"wires":[]},{"id":"148ddb4a.f60d95","type":"ui_toast","z":"d6f813da.8b52a","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":962,"y":203,"wires":[]},{"id":"67a6cad7.de7b7c","type":"change","z":"d6f813da.8b52a","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Selected entry has been deleted","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":686.5,"y":157,"wires":[["148ddb4a.f60d95"]]},{"id":"6dfb07ca.b7867","type":"change","z":"d6f813da.8b52a","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Selected entry has been updated","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":687,"y":207,"wires":[["148ddb4a.f60d95"]]},{"id":"5e5492a8.120e5c","type":"change","z":"d6f813da.8b52a","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"New entry has been created","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":687,"y":252,"wires":[["148ddb4a.f60d95"]]},{"id":"cbf13057.8f876","type":"inject","z":"d6f813da.8b52a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":136,"y":749,"wires":[["3f743def.d0ec82"]]},{"id":"3f743def.d0ec82","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"msg.topic = \"SELECT * FROM system ORDER BY sys_id\";\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":749,"wires":[["475c4c38.e08a64"]]},{"id":"475c4c38.e08a64","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":463,"y":749,"wires":[["fe051195.556f18","38262893.430b58"]]},{"id":"fe051195.556f18","type":"function","z":"d6f813da.8b52a","name":"Process systems","func":"global.set(\"Diag_System_Buffer\",msg.payload);\n\nvar output = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    //output.push( \"[\"+msg.payload[i].id+\"] \"+msg.payload[i].caption);\n    obj = {};\n    \n    obj [\"[\"+msg.payload[i].sys_id+\"] \"+msg.payload[i].sys_name]=msg.payload[i].sys_id;\n    output.push(obj);\n}\nmsg.options = output;\nreturn msg;","outputs":1,"noerr":0,"x":673,"y":750,"wires":[["9a7340c1.333dd"]]},{"id":"9a7340c1.333dd","type":"ui_dropdown","z":"d6f813da.8b52a","name":"","label":"Select","group":"bc74f52.7bc2388","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":849,"y":750,"wires":[["9d7c56e3.7cac48"]]},{"id":"da088398.f7c95","type":"ui_text_input","z":"d6f813da.8b52a","name":"","label":"Name","group":"bc74f52.7bc2388","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":856,"y":868,"wires":[["a483fe22.44725"]]},{"id":"9d7c56e3.7cac48","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"global.set(\"diag_system_selected\",msg.payload);\nmsg.topic = \"SELECT * FROM system WHERE sys_id=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":138,"y":864,"wires":[["f8bea69.8c8bfd8"]]},{"id":"f8bea69.8c8bfd8","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":302,"y":864,"wires":[["feb26d09.4ee9b"]]},{"id":"feb26d09.4ee9b","type":"switch","z":"d6f813da.8b52a","name":"If no data","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":468,"y":864,"wires":[["ba0647b6.5c9c5","281c53cf.64d29c"]]},{"id":"ba0647b6.5c9c5","type":"change","z":"d6f813da.8b52a","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sys_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":668,"y":868,"wires":[["da088398.f7c95"]]},{"id":"3e7074dc.ba51ac","type":"ui_numeric","z":"d6f813da.8b52a","name":"","label":"ID","group":"bc74f52.7bc2388","order":2,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":859,"y":831,"wires":[["690889ea.df1f8"]]},{"id":"281c53cf.64d29c","type":"change","z":"d6f813da.8b52a","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sys_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":673,"y":831,"wires":[["3e7074dc.ba51ac"]]},{"id":"199e6c67.d3ff5c","type":"ui_button","z":"d6f813da.8b52a","name":"","group":"bc74f52.7bc2388","order":0,"width":0,"height":0,"label":"Create New","color":"","bgcolor":"","icon":"add","payload":"","payloadType":"str","topic":"","x":127,"y":678,"wires":[["b89a8247.64c05"]]},{"id":"b89a8247.64c05","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"msg.topic = \"INSERT INTO system (sys_id,sys_name,sys_state) VALUES (101,'New system',0)\";\nglobal.set(\"diag_system_selected\",undefined);\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":678,"wires":[["ddd17231.99c3d8"]]},{"id":"ddd17231.99c3d8","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":476,"y":678,"wires":[["3f743def.d0ec82","17f8e6c.bc63119"]]},{"id":"690889ea.df1f8","type":"function","z":"d6f813da.8b52a","name":"Store value","func":"global.set(\"diag_system_id\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1045,"y":830,"wires":[[]]},{"id":"a483fe22.44725","type":"function","z":"d6f813da.8b52a","name":"Store value","func":"global.set(\"diag_system_name\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1047,"y":868,"wires":[[]]},{"id":"b2c2e3ea.579b3","type":"ui_button","z":"d6f813da.8b52a","name":"","group":"bc74f52.7bc2388","order":0,"width":0,"height":0,"label":"Update selected","color":"","bgcolor":"#FF9000","icon":"mode_edit","payload":"","payloadType":"str","topic":"","x":135,"y":634,"wires":[["1eefcea0.965271"]]},{"id":"1eefcea0.965271","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"if (global.get(\"diag_system_selected\")!==undefined) {\n    msg.topic = \"UPDATE system SET \";\n    if (global.get(\"diag_system_id\")!==undefined) {\n        msg.topic = msg.topic+ \"sys_id=\"+global.get(\"diag_system_id\")+\", \";\n    }\n    if (global.get(\"diag_system_name\")!==undefined) {\n        msg.topic = msg.topic+ \"sys_name='\"+global.get(\"diag_system_name\")+\"', \";\n    }\n    msg.topic = msg.topic.substring(0,msg.topic.length-2);\n    msg.topic = msg.topic+ \" WHERE sys_id=\"+global.get(\"diag_system_selected\");\n    global.set(\"diag_system_selected\",undefined);\n    global.set(\"diag_system_id\",undefined);\n    global.set(\"diag_system_name\",undefined);\n} else {\n    msg.topic = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":634,"wires":[["5fa5aa21.dbd57c"]]},{"id":"5fa5aa21.dbd57c","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":478,"y":632,"wires":[["3f743def.d0ec82","d461815e.066b58"]]},{"id":"3214d591.c016d2","type":"ui_button","z":"d6f813da.8b52a","name":"","group":"bc74f52.7bc2388","order":0,"width":0,"height":0,"label":"Delete selected","color":"","bgcolor":"#ff5555","icon":"delete","payload":"","payloadType":"str","topic":"","x":136,"y":586,"wires":[["c77b2d74.5bfde8"]]},{"id":"c77b2d74.5bfde8","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"if (global.get(\"diag_system_selected\")!==undefined) {\n    msg.topic = \"DELETE FROM system WHERE sys_id=\"+global.get(\"diag_system_selected\");\n    global.set(\"diag_system_selected\",undefined);\n    global.set(\"diag_system_id\",undefined);\n    global.set(\"diag_system_name\",undefined);\n} else {\n    msg.topic = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":586,"wires":[["1d2b96ca.465739"]]},{"id":"1d2b96ca.465739","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":477,"y":587,"wires":[["3f743def.d0ec82","ba68bfc8.492ff"]]},{"id":"cc24ce3.963ae3","type":"comment","z":"d6f813da.8b52a","name":"Maintenance of the System table","info":"","x":184,"y":539,"wires":[]},{"id":"54e88edf.f5097","type":"ui_toast","z":"d6f813da.8b52a","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":988,"y":632,"wires":[]},{"id":"ba68bfc8.492ff","type":"change","z":"d6f813da.8b52a","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Selected entry has been deleted","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":712.5,"y":586,"wires":[["54e88edf.f5097"]]},{"id":"d461815e.066b58","type":"change","z":"d6f813da.8b52a","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Selected entry has been updated","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":713,"y":636,"wires":[["54e88edf.f5097"]]},{"id":"17f8e6c.bc63119","type":"change","z":"d6f813da.8b52a","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"New entry has been created","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":713,"y":681,"wires":[["54e88edf.f5097"]]},{"id":"81277856.d56d2","type":"comment","z":"d6f813da.8b52a","name":"Receiving and processing messages","info":"","x":198,"y":972,"wires":[]},{"id":"499bb322.db94ac","type":"link in","z":"d6f813da.8b52a","name":"Diagnostic_Update","links":["a5072bfc.d426a","1856177c.692aa9","e592d5a5.26bde8","b73c8744.8ec588","59df56a.e8d5aa8","6bc27c2.26eb584","b269471e.f03798","149d2576.aa372b","4f24cc12.704334","85f0d77.da83928","78fed854.1b6aa8","eaf2075b.f08f88","9371bd5d.293c2","8c6c56bb.efe678","2e75adec.578e52","d9ab022c.d40aa","7692ea3d.040324","5c63f003.554","89cc7882.52fb68","ee08c280.18881","31989b49.404cf4","1711c87b.c95a78","858824a8.955768","1ceba7.f7399459","8d86bc97.858bd","c1d8ef52.f0ff9"],"x":94,"y":1078,"wires":[["c4a1631d.1fb14","e8021f2.70ce7e","6bb8b88c.6e5e78","9a2827b4.1fd728"]]},{"id":"e5e368c3.bca84","type":"function","z":"d6f813da.8b52a","name":"Diagnostic input message structure","func":"msg.payload = \"This updates the system status as well\";\nmsg.system = 1; // System id, use 1 for Dummy\nmsg.state = 70; // specify if the message is to change system status\nmsg.severity = 0; // 0: information, 1: warning, 2: error\n//msg.email = true; // if separate email should be sent\n//msg.emailtext = \"\"; this a long text which goes into the email\nreturn msg;","outputs":1,"noerr":0,"x":393,"y":1019,"wires":[["a5072bfc.d426a"]]},{"id":"ed5af577.ee9bf","type":"inject","z":"d6f813da.8b52a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":1020,"wires":[["e5e368c3.bca84"]]},{"id":"a5072bfc.d426a","type":"link out","z":"d6f813da.8b52a","name":"","links":["499bb322.db94ac"],"x":620,"y":1019,"wires":[]},{"id":"c4a1631d.1fb14","type":"function","z":"d6f813da.8b52a","name":"Insert message record","func":"var d = new Date();\nvar epoch = d.getTime();\n\nif (msg.state>0) {\n    msg.topic = \"INSERT INTO message (msg_system,msg_severity,msg_text,msg_epoch,msg_newstate) VALUES (\"+msg.system+\",\"+msg.severity+\",'\"+msg.payload+\"',\"+epoch+\",\"+msg.state+\")\";\n} else {\n    msg.topic = \"INSERT INTO message (msg_system,msg_severity,msg_text,msg_epoch) VALUES (\"+msg.system+\",\"+msg.severity+\",'\"+msg.payload+\"',\"+epoch+\")\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":1081,"wires":[["222cc69d.8df0ea"]]},{"id":"222cc69d.8df0ea","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":970,"y":1082,"wires":[["8307bdf8.6592e"]]},{"id":"e8021f2.70ce7e","type":"switch","z":"d6f813da.8b52a","name":"Check status change","property":"state","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":364,"y":1137,"wires":[["7d8425a7.0ffb84","7f8464f1.73228c"]]},{"id":"7d8425a7.0ffb84","type":"function","z":"d6f813da.8b52a","name":"Status update","func":"msg.topic = \"UPDATE system SET sys_state=\"+msg.state+\" WHERE sys_id=\"+msg.system;\nreturn msg;","outputs":1,"noerr":0,"x":626,"y":1137,"wires":[["222cc69d.8df0ea"]]},{"id":"6bb8b88c.6e5e78","type":"switch","z":"d6f813da.8b52a","name":"Check email","property":"email","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":332,"y":1187,"wires":[["c28e30a.27c605"]]},{"id":"338fc17d.3fe9be","type":"e-mail","z":"d6f813da.8b52a","server":"smtp.gmail.com","port":"465","secure":true,"name":"csongor.varga@gmail.com","dname":"Email notification","x":928.8888702392578,"y":1181.3332824707031,"wires":[]},{"id":"c28e30a.27c605","type":"function","z":"d6f813da.8b52a","name":"Email content","func":"msg.topic=msg.payload;\nmsg.payload = msg.emailtext;\nreturn msg;","outputs":1,"noerr":0,"x":576,"y":1187,"wires":[["338fc17d.3fe9be"]]},{"id":"133f1825.e9a45","type":"comment","z":"d6f813da.8b52a","name":"System status display","info":"","x":164,"y":1303,"wires":[]},{"id":"8b3a2902.e6293","type":"template","z":"d6f813da.8b52a","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    {{#payload}}\n        <tr>\n            <td style=\"background-color: {{sta_color}};\">{{sys_name}}</td>\n            <td style=\"background-color: {{sta_color}};\">{{sta_title}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","x":705,"y":1386,"wires":[["5ce471ef.145fc","67644e22.40a5f"]]},{"id":"5ce471ef.145fc","type":"ui_template","z":"d6f813da.8b52a","group":"b34ca5e4.d3492","name":"Status list","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"height:100%;\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":911,"y":1384,"wires":[[]]},{"id":"8307bdf8.6592e","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"msg.topic = \"SELECT * FROM system, state WHERE sys_state = sta_id ORDER BY sys_id\";\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":1385,"wires":[["1d59f9b1.d0755e"]]},{"id":"1d59f9b1.d0755e","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":465,"y":1386,"wires":[["8b3a2902.e6293","67644e22.40a5f"]]},{"id":"9d90d24c.a55c98","type":"inject","z":"d6f813da.8b52a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":125,"y":1385,"wires":[["8307bdf8.6592e"]]},{"id":"67644e22.40a5f","type":"debug","z":"d6f813da.8b52a","name":"","active":false,"console":"false","complete":"false","x":917,"y":1453,"wires":[]},{"id":"54f952f9.1cff8c","type":"comment","z":"d6f813da.8b52a","name":"Message Log","info":"","x":121,"y":1543,"wires":[]},{"id":"fb3a03b4.6ddfe8","type":"template","z":"d6f813da.8b52a","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>Severity</th><th>Timestamp</th><th>System</th><th>Message</th></tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{msg_severity}}</td>\n            <td>{{msg_timestamp}}</td>\n            <td>{{sys_name}}</td>\n            <td>{{msg_text}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","x":720,"y":1938,"wires":[["4369ff4c.eb5368"]]},{"id":"4369ff4c.eb5368","type":"ui_template","z":"d6f813da.8b52a","group":"4fac8cdc.7cffb4","name":"Log output","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"height:400;\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":941,"y":1938,"wires":[[]]},{"id":"ee7d5dbc.b4de88","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"context.set(msg.topic,msg.payload);\n\nvar d = new Date();\nvar epoch = d.getTime();\nvar fromdate = 0;\nvar enddate = 0;\n\nmsg.topic = \"SELECT * FROM message, system WHERE msg_system = sys_id \";\n\nif (context.get(\"msg_severity\")!==undefined) {\n    if (context.get(\"msg_severity\")!==\"*\") {\n        msg.topic = msg.topic + \" AND msg_severity = \"+context.get(\"msg_severity\");\n    }\n}\n\nif (context.get(\"msg_system\")!==undefined) {\n    if (context.get(\"msg_system\")!==\"*\") {\n        msg.topic = msg.topic + \" AND msg_system = \"+context.get(\"msg_system\");\n    }\n}\n\nif (context.get(\"msg_newstate\")===1) {\n    msg.topic = msg.topic + \" AND msg_newstate IS NOT NULL \";\n}\n\nif (context.get(\"msg_time\")!==undefined) {\n    switch (context.get(\"msg_time\")) {\n        case 0:\n            fromdate = epoch - 1000*60*60*24;\n            msg.topic = msg.topic + \" AND msg_epoch > \"+fromdate;\n            break;\n        case 1:\n            fromdate = epoch - 1000*60*60*24*7;\n            msg.topic = msg.topic + \" AND msg_epoch > \"+fromdate;\n            break;\n        case 2:\n            fromdate = epoch - 1000*60*60*24*30;\n            msg.topic = msg.topic + \" AND msg_epoch > \"+fromdate;\n            break;\n    }\n}\n\n// msg.topic = msg.topic.substring(0,msg.topic.length-2);\nmsg.topic = msg.topic+ \" ORDER BY msg_id\";\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":1937,"wires":[["5a0e4a8.9e95834"]]},{"id":"5a0e4a8.9e95834","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":495,"y":1937,"wires":[["fb3a03b4.6ddfe8"]]},{"id":"f94818ca.3d7f6","type":"inject","z":"d6f813da.8b52a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":1937,"wires":[["ee7d5dbc.b4de88"]]},{"id":"9d94e893.a31ca8","type":"ui_button","z":"d6f813da.8b52a","name":"","group":"4fac8cdc.7cffb4","order":2,"width":"3","height":"1","label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"msg_refresh","x":543,"y":1647,"wires":[["ee7d5dbc.b4de88"]]},{"id":"67849cd.b80f1e4","type":"ui_dropdown","z":"d6f813da.8b52a","name":"Severity","label":"","group":"4fac8cdc.7cffb4","order":3,"width":"4","height":"1","passthru":true,"options":[{"label":"All severity","value":"*","type":"str"},{"label":"Information only","value":0,"type":"num"},{"label":"Warnings only","value":1,"type":"num"},{"label":"Errors only","value":2,"type":"num"}],"payload":"","topic":"msg_severity","x":542,"y":1693,"wires":[["ee7d5dbc.b4de88"]]},{"id":"f07e47f.17179b8","type":"ui_dropdown","z":"d6f813da.8b52a","name":"Time filter","label":"","group":"4fac8cdc.7cffb4","order":4,"width":"4","height":"1","passthru":true,"options":[{"label":"Last 24 hrs","value":0,"type":"num"},{"label":"Last 7 days","value":1,"type":"num"},{"label":"Last 30 days","value":2,"type":"num"},{"label":"All","value":3,"type":"num"}],"payload":"","topic":"msg_time","x":544,"y":1740,"wires":[["ee7d5dbc.b4de88"]]},{"id":"1ed71d.e6aae0e3","type":"inject","z":"d6f813da.8b52a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":120,"y":1685,"wires":[["ae5051e4.f74548","3e1549e3.ed674e","d6e949f9.32433"]]},{"id":"ae5051e4.f74548","type":"change","z":"d6f813da.8b52a","name":"Initial value","rules":[{"t":"set","p":"payload","pt":"msg","to":"*","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1693,"wires":[["67849cd.b80f1e4","3dafaf2c.d3f688"]]},{"id":"3e1549e3.ed674e","type":"change","z":"d6f813da.8b52a","name":"Initial value","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":351,"y":1739,"wires":[["f07e47f.17179b8"]]},{"id":"9a2827b4.1fd728","type":"ui_toast","z":"d6f813da.8b52a","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":348.5,"y":1241,"wires":[]},{"id":"4e34d31b.53edf4","type":"ui_dropdown","z":"d6f813da.8b52a","name":"New State","label":"","group":"4fac8cdc.7cffb4","order":5,"width":"4","height":"1","passthru":true,"options":[{"label":"All messages","value":0,"type":"num"},{"label":"Only new status","value":1,"type":"num"}],"payload":"","topic":"msg_newstate","x":554,"y":1786,"wires":[["ee7d5dbc.b4de88"]]},{"id":"d6e949f9.32433","type":"change","z":"d6f813da.8b52a","name":"Initial value","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":355,"y":1788,"wires":[["4e34d31b.53edf4"]]},{"id":"38262893.430b58","type":"link out","z":"d6f813da.8b52a","name":"System List Updated","links":["db3778e6.0f3f8"],"x":898,"y":705,"wires":[]},{"id":"5f273d25.66220c","type":"ui_dropdown","z":"d6f813da.8b52a","name":"System","label":"","group":"4fac8cdc.7cffb4","order":6,"width":"5","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"msg_system","x":541,"y":1596,"wires":[["ee7d5dbc.b4de88"]]},{"id":"db3778e6.0f3f8","type":"link in","z":"d6f813da.8b52a","name":"","links":["38262893.430b58"],"x":190,"y":1597,"wires":[["900ce4e4.1b1448"]]},{"id":"900ce4e4.1b1448","type":"function","z":"d6f813da.8b52a","name":"Process systems","func":"var output = [];\noutput.push({\"All systems\":\"*\"});\nfor (var i = 0; i < msg.payload.length; i++) {\n    obj = {};\n    obj [\"[\"+msg.payload[i].sys_id+\"] \"+msg.payload[i].sys_name]=msg.payload[i].sys_id;\n    output.push(obj);\n}\nmsg.options = output;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1596,"wires":[["5f273d25.66220c"]]},{"id":"3dafaf2c.d3f688","type":"delay","z":"d6f813da.8b52a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":347.5,"y":1646,"wires":[["5f273d25.66220c"]]},{"id":"3b5c78cd.1227b8","type":"comment","z":"d6f813da.8b52a","name":"Message Archiving","info":"","x":138,"y":2009,"wires":[]},{"id":"14423bf1.1b72e4","type":"inject","z":"d6f813da.8b52a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132,"y":2066,"wires":[["cbc9fd4a.d8a48"]]},{"id":"9023c953.9d41a","type":"link in","z":"d6f813da.8b52a","name":"Diag email notification in","links":["3bdde187.1895fe","809ae100.392af"],"x":703.6666666666666,"y":1259.111111111111,"wires":[["338fc17d.3fe9be"]]},{"id":"84019dc8.63ddf8","type":"comment","z":"d6f813da.8b52a","name":"Diagnostic Daily Digest","info":"","x":132.3333282470703,"y":2161.777587890625,"wires":[]},{"id":"39bef155.275fce","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":495,"y":2066,"wires":[[]]},{"id":"cbc9fd4a.d8a48","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"var d = new Date();\nvar epoch = d.getTime();\n\n// today - 30 days\nvar fromdate = epoch - 1000*60*60*24*30;\n\nmsg.topic = \"DELETE * FROM message WHERE msg_epoch < \"+fromdate;\n\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":2066,"wires":[["39bef155.275fce"]]},{"id":"3d5f8069.d775d","type":"template","z":"d6f813da.8b52a","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>System</th><th>Status</th></tr>\n    {{#payload}}\n        <tr>\n            <td>{{sys_name}}</td>\n            <td style=\"background-color: {{sta_color}};\">{{sta_title}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","x":739.8888549804688,"y":2221.888345718384,"wires":[["448640b.96cba4"]]},{"id":"476020c5.c62d1","type":"function","z":"d6f813da.8b52a","name":"System State Summary","func":"msg.topic = \"SELECT * FROM system, state WHERE sys_state = sta_id ORDER BY sys_id\";\nreturn msg;","outputs":1,"noerr":0,"x":361.77777099609375,"y":2222.888589859009,"wires":[["38a66287.b3e32e"]]},{"id":"38a66287.b3e32e","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":553.7777709960938,"y":2221.888589859009,"wires":[["3d5f8069.d775d","68251e63.bc625"]]},{"id":"8f985578.3780b","type":"inject","z":"d6f813da.8b52a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"x":133.44444274902344,"y":2222.888589859009,"wires":[["476020c5.c62d1","70b82439.aa5054","d57541a2.2cef58","3c07a3ee.48ed8c","21105d06.932d92","96c4221c.27c0a8","6a07fc4d.2c6514"]]},{"id":"10c15cec.e3cc33","type":"join","z":"d6f813da.8b52a","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"<br/>","timeout":"5","count":"8","x":1281.222183227539,"y":2215.5280361175537,"wires":[["84491e9c.a74518"]]},{"id":"c0453650.a61cf8","type":"template","z":"d6f813da.8b52a","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><td class=\"solidline\"><b>Severity</b></td><td class=\"solidline\"><b>Timestamp</b></td><td class=\"solidline\"><b>System</b></td><td class=\"solidline\"><b>Message</b></td></tr>\n    {{#payload}}\n        <tr style=\"border-bottom: 1px dotted #e0e0e0;\">\n            <td class=\"dottedline\">{{msg_severity}}</td>\n            <td class=\"dottedline\">{{msg_timestamp}}</td>\n            <td class=\"dottedline\">{{sys_name}}</td>\n            <td class=\"dottedline\">{{msg_text}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","x":728.9999923706055,"y":2291.7775650024414,"wires":[["55a4e73.03c2518"]]},{"id":"3a290b6f.6e4b94","type":"function","z":"d6f813da.8b52a","name":"Messages","func":"var d = new Date();\nvar epoch = d.getTime();\nvar fromdate = 0;\nfromdate = epoch - 1000*60*60*24;\n\nmsg.topic = \"SELECT * FROM message, system WHERE msg_system = sys_id AND msg_epoch > \"+fromdate;\nmsg.topic = msg.topic+ \" ORDER BY msg_id\";\n\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":330.5555419921875,"y":2292.888589859009,"wires":[["61a475b6.6e12ac"]]},{"id":"61a475b6.6e12ac","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":537.3333129882812,"y":2291.888589859009,"wires":[["c0453650.a61cf8"]]},{"id":"70b82439.aa5054","type":"delay","z":"d6f813da.8b52a","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":127.77778625488281,"y":2292.888833999634,"wires":[["3a290b6f.6e4b94"]]},{"id":"f56cffb5.b7396","type":"comment","z":"d6f813da.8b52a","name":"System Status Stat Reset","info":"","x":150.13888549804688,"y":2710.749917984009,"wires":[]},{"id":"20f03f8f.ecb1f","type":"inject","z":"d6f813da.8b52a","name":"","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":151.24999237060547,"y":2776.305337905884,"wires":[["61ef77e3.727fe8"]]},{"id":"13365a4b.f3b5b6","type":"function","z":"d6f813da.8b52a","name":"Reset log","func":"global.set(\"Diag_System_Buffer\",msg.payload);\n\nvar d = new Date();\nvar current = d.getTime();\nvar output = [];\n\nif (msg.payload!==undefined) {\n    for (var i = 0; i < msg.payload.length; i++) {\n        output = [];\n        output.push( { state: msg.payload[i].sys_state, epoch: current } );\n        global.set(msg.payload[i].sys_name.replace(\" \",\"_\")+\"_statestat\",output);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":643.6944274902344,"y":2777.194253921509,"wires":[["b81036c3.bf6448"]]},{"id":"b81036c3.bf6448","type":"debug","z":"d6f813da.8b52a","name":"","active":false,"console":"false","complete":"false","x":814.8054809570312,"y":2777.305582046509,"wires":[]},{"id":"7f8464f1.73228c","type":"function","z":"d6f813da.8b52a","name":"Update state stat","func":"var systembuf = global.get(\"Diag_System_Buffer\");\nvar d = new Date();\nvar current = d.getTime();\nvar sys_name = \"\";\n\n// find the system name\nfor (var i=0; i<systembuf.length; i++) {\n    if (systembuf[i].sys_id===msg.system) {\n        sys_name = systembuf[i].sys_name;\n    }\n}\n\nvar statestat = global.get(sys_name.replace(\" \",\"_\")+\"_statestat\");\nif (statestat===undefined) {\n    statestat = [];\n}\n\nstatestat.push({state: msg.state, epoch: current});\nglobal.set(sys_name.replace(\" \",\"_\")+\"_statestat\",statestat);\n\nreturn msg;","outputs":1,"noerr":0,"x":636,"y":1102,"wires":[[]]},{"id":"68251e63.bc625","type":"function","z":"d6f813da.8b52a","name":"Generate state stat","func":"var statebuf = global.get(\"Diag_State_Buffer\");\nvar d = new Date();\nvar current = d.getTime();\nvar sys_name = \"\";\nvar html = \"<table width='100%'>\";\n\nfor (var i=0; i<msg.payload.length; i++) {\n    html = html + \"<tr><td nowrap>\" + msg.payload[i].sys_name + \"</td><td width='100%'><table height='100%' width='100%'><tr>\";\n    var statestat = global.get(msg.payload[i].sys_name.replace(\" \",\"_\")+\"_statestat\");\n    var width = 0;\n    for (var j=0; j<statestat.length; j++) {\n        if (j===statestat.length-1) {\n            // this is the last item in the list\n            width=Math.floor((current-statestat[j].epoch)/(current-statestat[0].epoch)*100+0.999999999);\n        } else {\n            // this is not the last item in the list\n            width=Math.floor((statestat[j+1].epoch-statestat[j].epoch)/(current-statestat[0].epoch)*100+0.999999999);\n        }\n        \n        // find the color for the state\n        var mycolor = \"\";\n        for (var k=0; k<statebuf.length; k++) {\n            if (statebuf[k].sta_id===statestat[j].state) {\n                mycolor = statebuf[k].sta_color;\n            }\n        }\n        \n        html = html + \"<td style='background-color:\" + mycolor + \"; width:\" + width + \"%'>&nbsp;</td>\";\n    }\n    html = html + \"</tr></table></td></tr>\\n\";\n}\nhtml = html + \"</table>\\n\";\n\nmsg.payload = html;\n\nreturn msg;","outputs":1,"noerr":0,"x":505,"y":2358.999917984009,"wires":[["4b1b88a.97a9378","61ef77e3.727fe8"]]},{"id":"61ef77e3.727fe8","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"msg.topic = \"SELECT * FROM system ORDER BY sys_id\";\nreturn msg;","outputs":1,"noerr":0,"x":332.25,"y":2776.749917984009,"wires":[["c7340c6c.17b28"]]},{"id":"c7340c6c.17b28","type":"sqlite","z":"d6f813da.8b52a","mydb":"ff1a2d61.ed86b","name":"Diag DB","x":485.25,"y":2776.749917984009,"wires":[["13365a4b.f3b5b6"]]},{"id":"782b0871.bb3e","type":"function","z":"d6f813da.8b52a","name":"Dump state stat","func":"var systembuf = global.get(\"Diag_System_Buffer\");\nvar d = new Date();\nvar current = d.getTime();\nvar sys_name = \"\";\nvar output = [];\nvar statestat = [];\n\n// find the system name\nfor (var i=0; i<systembuf.length; i++) {\n    sys_name = systembuf[i].sys_name;\n    //var statestat = \"none\";\n    statestat = global.get(sys_name.replace(\" \",\"_\")+\"_statestat\");\n    if (statestat===undefined) {\n        statestat=[];\n    }\n    output.push({system: sys_name, stat: statestat});\n}\n\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":367.2500305175781,"y":2905.035888671875,"wires":[["e9c40a8c.9884c8"]]},{"id":"e9c40a8c.9884c8","type":"debug","z":"d6f813da.8b52a","name":"","active":true,"console":"false","complete":"false","x":627.1071510314941,"y":2906.4644412994385,"wires":[]},{"id":"ca9ff038.9aa75","type":"inject","z":"d6f813da.8b52a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147.1071510314942,"y":2903.6072984422954,"wires":[["782b0871.bb3e"]]},{"id":"21b26b63.31dd54","type":"comment","z":"d6f813da.8b52a","name":"Debugging","info":"","x":82.82142639160156,"y":2852.1787109375,"wires":[]},{"id":"84491e9c.a74518","type":"template","z":"d6f813da.8b52a","name":"Email body","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body style=\"margin:0; padding:0;\" bgcolor=\"#f2f2f2\" leftmargin=\"0\" t=\nopmargin=\"0\" marginwidth=\"0\" marginheight=\"0\">\n<style>\n   body {\n    margin: 0;\n    padding: 0;\n    -ms-text-size-adjust: 100%;\n    -webkit-text-size-adjust: 100%;\n    font-family: 'Roboto', Helvetica, Arial, sans-serif;\n  }\n\n  table {\n    border-spacing: 0;\n  }\n\n  table td {\n    border-collapse: collapse;\n  }\n\n  .ReadMsgBody {\n    width: 100%;\n    background-color: #ebebeb;\n  }\n  \n  .divider {\n    border-bottom: 1px solid #e2066e;\n  }\n  \n  td.solidline {\n      border-bottom: 1px solid #e0e0e0;\n  }\n  \n  td.dottedline {\n      border-bottom: 1px dotted #e0e0e0;\n  }  \n\n</style>        \n\n<table border=\"0\" width=\"100%\" height=\"100%\" cellpadding=\"0\" cellsp=\nacing=\"0\" bgcolor=\"#ffffff\" style=\"border: 20px solid #f2f2f2;\">\n  <tr><td valign=\"top\" width=\"20\"></td><td valign=\"top\">\n        \n        <p style=\"text-align: right;\"><span style=\"font-size:150%;\">{{{payload.title}}}</span><br/>\n        <span style=\"font-size:80%;\">{{{payload.date}}}</span></p>\n        <table bgcolor=\"#f3f3f3\" cellspacing=\"4\" align=\"center\"><tr><td bgcolor=\"#ffffff\" width=\"120\">{{{payload.solar1}}}</td><td bgcolor=\"#ffffff\" width=\"120\">{{{payload.solar2}}}</td><td bgcolor=\"#ffffff\" width=\"120\">{{{payload.solar3}}}</td></tr></table>\n  </td><td valign=\"top\" width=\"20\"></td></tr>\n  <tr><td style=\"border-bottom: 1px solid #e2066e;\" colspan=\"3\"></td></tr>\n  <tr><td valign=\"top\" width=\"20\"></td><td valign=\"top\">\n        {{{payload.state_summary}}}\n  </td><td valign=\"top\" width=\"20\"></td></tr>\n  <tr><td style=\"border-bottom: 1px solid #e2066e;\" colspan=\"3\"></td></tr>\n  <tr><td valign=\"top\" width=\"20\"></td><td valign=\"top\">\n        {{{payload.state_stat}}}\n  </td><td valign=\"top\" width=\"20\"></td></tr>\n  <tr><td style=\"border-bottom: 1px solid #e2066e;\" colspan=\"3\"></td></tr>\n  <tr><td valign=\"top\" width=\"20\"></td><td valign=\"top\">\n        {{{payload.messages}}}\n  </td><td valign=\"top\" width=\"20\"></td></tr>\n \n</table>\n    </body>\n</html>","x":1454.000057220459,"y":2215.527823448181,"wires":[["b596858d.6d006"]]},{"id":"b596858d.6d006","type":"change","z":"d6f813da.8b52a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Daily Diagnostic Report","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1646.222324371338,"y":2215.5279865264893,"wires":[["809ae100.392af"]]},{"id":"809ae100.392af","type":"link out","z":"d6f813da.8b52a","name":"","links":["9023c953.9d41a"],"x":1778.4446334838867,"y":2215.528067588806,"wires":[]},{"id":"448640b.96cba4","type":"change","z":"d6f813da.8b52a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"state_summary","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":911.2222290039062,"y":2223.2220611572266,"wires":[["10c15cec.e3cc33"]]},{"id":"55a4e73.03c2518","type":"change","z":"d6f813da.8b52a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":897.4444732666016,"y":2291.4444522857666,"wires":[["10c15cec.e3cc33"]]},{"id":"4b1b88a.97a9378","type":"change","z":"d6f813da.8b52a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"state_stat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":895.6666259765625,"y":2356.222085952759,"wires":[["10c15cec.e3cc33"]]},{"id":"d57541a2.2cef58","type":"function","z":"d6f813da.8b52a","name":"Run date","func":"// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nmsg.payload = dd + \".\" + mm + \".\" + yyyy + \".\";    \n      \nreturn msg;","outputs":1,"noerr":0,"x":329,"y":2416.499917984009,"wires":[["d81b879.b357a78"]]},{"id":"d81b879.b357a78","type":"change","z":"d6f813da.8b52a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"date","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":896.5,"y":2415.249917984009,"wires":[["10c15cec.e3cc33"]]},{"id":"86fdcc14.506c28","type":"change","z":"d6f813da.8b52a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":897.75,"y":2465.249917984009,"wires":[["10c15cec.e3cc33"]]},{"id":"3c07a3ee.48ed8c","type":"change","z":"d6f813da.8b52a","name":"Report title","rules":[{"t":"set","p":"payload","pt":"msg","to":"Node Red Diagnistic Daily Report","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":337.75,"y":2463.999917984009,"wires":[["86fdcc14.506c28"]]},{"id":"21105d06.932d92","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h - p_30d;\nenddate = today0h;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\nfromdate = fromdate - p_30d;\nenddate = enddate - p_30d;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n\nreturn [ sql ];","outputs":1,"noerr":0,"x":319.50000381469727,"y":2517.4999647140503,"wires":[["ee526fbd.308ca"]]},{"id":"ee526fbd.308ca","type":"sqlite","z":"d6f813da.8b52a","mydb":"49e6a983.85d1","name":"DB","x":464.50000381469727,"y":2516.4999647140503,"wires":[["50201527.dffa84"]]},{"id":"50201527.dffa84","type":"join","z":"d6f813da.8b52a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":597.5000038146973,"y":2516.4999647140503,"wires":[["82d3d931.c6c158"]]},{"id":"82d3d931.c6c158","type":"function","z":"d6f813da.8b52a","name":"Prep Data","func":"// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation in last 30 days\";\nmsg.current = Math.floor(msg.payload[0][0].value/1000);\nmsg.unit = \"kWh\";\nmsg.reference = Math.floor(msg.payload[1][0].value/1000);\nif (msg.payload[0][0].value>msg.payload[1][0].value) {\n    msg.trend = \"&#8679;\";\n    msg.trendcolor = \"green\";\n} else {\n    msg.trend = \"&#8681;\";\n    msg.trendcolor = \"red\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":759.5000038146973,"y":2516.4999647140503,"wires":[["9871fdb2.c3a708"]]},{"id":"96c4221c.27c0a8","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h - p_7d;\nenddate = today0h;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\nfromdate = fromdate - p_7d;\nenddate = enddate - p_7d;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n\nreturn [ sql ];","outputs":1,"noerr":0,"x":317.50000381469727,"y":2569.4999647140503,"wires":[["4b8eb5a1.01feac"]]},{"id":"4b8eb5a1.01feac","type":"sqlite","z":"d6f813da.8b52a","mydb":"49e6a983.85d1","name":"DB","x":462.50000381469727,"y":2568.4999647140503,"wires":[["b1e0c1a3.af70e"]]},{"id":"b1e0c1a3.af70e","type":"join","z":"d6f813da.8b52a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":595.5000038146973,"y":2568.4999647140503,"wires":[["356d758d.dc1b72"]]},{"id":"356d758d.dc1b72","type":"function","z":"d6f813da.8b52a","name":"Prep Data","func":"// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation in last 7 days\";\nmsg.current = parseFloat(msg.payload[0][0].value/1000).toFixed(1);\nmsg.unit = \"kWh\";\nmsg.reference = Math.abs(Math.floor((msg.payload[0][0].value-msg.payload[1][0].value)/msg.payload[0][0].value*100)) + \"%\";\nif (msg.payload[0][0].value>msg.payload[1][0].value) {\n    msg.trend = \"&#8679;\";\n    msg.trendcolor = \"green\";\n} else {\n    msg.trend = \"&#8681;\";\n    msg.trendcolor = \"red\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":757.5000038146973,"y":2568.4999647140503,"wires":[["d6f3e730.a2ae28"]]},{"id":"6a07fc4d.2c6514","type":"function","z":"d6f813da.8b52a","name":"SQL","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h-p_1d;\nmsg.topic= \"SELECT * FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch = \" + fromdate + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":322.50000381469727,"y":2624.4999647140503,"wires":[["1caf9ead.f7f7b9"]]},{"id":"1caf9ead.f7f7b9","type":"sqlite","z":"d6f813da.8b52a","mydb":"49e6a983.85d1","name":"DB","x":467.50000381469727,"y":2623.4999647140503,"wires":[["c273faa.bb99488"]]},{"id":"c273faa.bb99488","type":"function","z":"d6f813da.8b52a","name":"Prep Data","func":"// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation yesterday vs. max\";\nmsg.current = parseFloat(msg.payload[0].value/1000).toFixed(2);\nmsg.unit = \"kWh\";\nvar width = Math.abs(Math.floor(msg.payload[0].value/20000*100));\nmsg.reference = width.toString() + \"%\";\nmsg.reference2 = (100-width).toString() + \"%\";\n\nreturn msg;","outputs":1,"noerr":0,"x":627.5000038146973,"y":2623.4999647140503,"wires":[["16ca7d8e.3d5bc2"]]},{"id":"9871fdb2.c3a708","type":"template","z":"d6f813da.8b52a","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <table width=\"100%\" height=\"100%\">\n        <tr>\n            <td colspan=\"2\">{{title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{current}}</span><br/>{{unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold; color:{{trendcolor}}; background-color:white;\">{{{trend}}}</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{reference}}</td>\n        </tr>\n    </table>\n","x":931.5000152587891,"y":2516.4999656677246,"wires":[["d6c93526.3c2868"]]},{"id":"d6f3e730.a2ae28","type":"template","z":"d6f813da.8b52a","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <table width=\"100%\" height=\"100%\">\n        <tr>\n            <td colspan=\"2\">{{title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{current}}</span><br/>{{unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold; color:{{trendcolor}}; background-color:white;\">{{{trend}}}</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{reference}}</td>\n        </tr>\n    </table>\n","x":929.0000152587891,"y":2568.9999656677246,"wires":[["89a225c3.59c2"]]},{"id":"16ca7d8e.3d5bc2","type":"template","z":"d6f813da.8b52a","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <table width=\"100%\" height=\"100%\" style=\"border-collapse: collapse;\">\n        <tr>\n            <td colspan=\"2\">{{title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{current}}</span><br/>{{unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold; color:{{trendcolor}}; background-color:white;\">&nbsp;</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{reference}}</td>\n        </tr>\n        <tr style=\"background-color: lightgrey;\"><td colspan=\"2\">\n            <table width=\"100%\" height=\"100%\" style=\"border-collapse: collapse;\"><tr>\n            <td width={{reference}} style=\"border-bottom: 6px solid blue;\"></td><td width={{reference2}}></td>\n            </tr></table></td>\n        </tr>\n    </table>\n","x":800.2500152587891,"y":2622.7499656677246,"wires":[["2ed95600.1e4962"]]},{"id":"d6c93526.3c2868","type":"change","z":"d6f813da.8b52a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"solar1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1097.75,"y":2517.749917984009,"wires":[["10c15cec.e3cc33"]]},{"id":"89a225c3.59c2","type":"change","z":"d6f813da.8b52a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"solar2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1095.25,"y":2571.499917984009,"wires":[["10c15cec.e3cc33"]]},{"id":"2ed95600.1e4962","type":"change","z":"d6f813da.8b52a","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"solar3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1096.500015258789,"y":2622.7499656677246,"wires":[["10c15cec.e3cc33"]]},{"id":"3b9d4917.98cf36","type":"comment","z":"d6f813da.8b52a","name":"https://flows.nodered.org/flow/3561d487922dbd5361924b221284a1c3","info":"","x":280,"y":60,"wires":[]}]