projects/MyDevice/backup/flow2020.07.21_bad.json
[{"id":"e292c943.58b5a","type":"tab","label":"Info","disabled":false,"info":""},{"id":"a11862ca.d53dc","type":"tab","label":"My Device","disabled":false,"info":""},{"id":"dfafd770.e95b6","type":"tab","label":"API","disabled":false,"info":""},{"id":"3b1647a8.f0aef","type":"tab","label":"UI API","disabled":false,"info":""},{"id":"c4ac9123.60a2d8","type":"tab","label":"DB","disabled":false,"info":""},{"id":"a35b8df1.a8359","type":"Device Schema","z":"","deviceType":"Cab","props":[{"guid":"cf34a9983af3","name":"state","defaultValue":{"type":"str","value":"idle"}},{"guid":"9ae805693cb9","name":"speed","defaultValue":{"type":"num","value":"60"}},{"guid":"3c66eb120cef","name":"temperature","defaultValue":{"type":"num","value":"100"}},{"guid":"07f6eadbd104","name":"latitude","defaultValue":{"type":"str","value":""}},{"guid":"1d75a2505b5d","name":"longitude","defaultValue":{"type":"str","value":""}},{"guid":"508bc5807ba6","name":"load","defaultValue":{"type":"num","value":"0"}},{"guid":"89cadacb0aef","name":"timestamp","defaultValue":{"type":"date","value":""}},{"guid":"7aff46892f74","name":"command","defaultValue":{"type":"json","value":"{\"foo\":\"bar\"}"}}],"evts":[{"guid":"f17c5095fa9a","name":"Status","payload":{"properties":{"0":"cf34a9983af3","1":"9ae805693cb9","2":"3c66eb120cef","3":"07f6eadbd104","4":"1d75a2505b5d","5":"508bc5807ba6","6":"89cadacb0aef","length":7,"prevObject":{"0":"cf34a9983af3","1":"9ae805693cb9","2":"3c66eb120cef","3":"07f6eadbd104","4":"1d75a2505b5d","5":"508bc5807ba6","6":"89cadacb0aef","length":7,"prevObject":{"0":{},"1":{},"2":{},"3":{},"4":{},"5":{},"6":{},"length":7,"prevObject":{"0":{"sizzle1595352544338":{"undefined":{"parentNode":[560,39,true]}}},"length":1}}}}}}]},{"id":"58f39586.bcf6cc","type":"ui_group","z":"","name":"Parameters","tab":"d6d37f7c.d89b08","order":1,"disp":true,"width":12,"collapse":true},{"id":"aeef6c99.b56e98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d6d37f7c.d89b08","type":"ui_tab","z":"","name":"Drone","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1b3ab68.a48ae8","type":"ui_group","z":"","name":"Instance","tab":"d6d37f7c.d89b08","order":2,"disp":true,"width":"6","collapse":false},{"id":"75358a9.1d2c074","type":"ui_group","z":"","name":"Control","tab":"d6d37f7c.d89b08","order":3,"disp":true,"width":"6","collapse":false},{"id":"f0524f8e.484928","type":"ui_group","z":"","name":"Tables","tab":"d6d37f7c.d89b08","order":6,"disp":true,"width":25,"collapse":true},{"id":"bcf60622.579cd8","type":"ui_tab","z":"","name":"UI API","icon":"dashboard","disabled":false,"hidden":false},{"id":"bf2c5aff.4ce0b8","type":"ui_group","z":"","name":"Form Update","tab":"bcf60622.579cd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dafeac89.98c6d","type":"ui_group","z":"","name":"Responces","tab":"bcf60622.579cd8","order":3,"disp":true,"width":"6","collapse":false},{"id":"1a8dcc49.259874","type":"ui_group","z":"","name":"Form Instances","tab":"bcf60622.579cd8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4f2ffdbd.f432ec","type":"ui_group","z":"","name":"Form Update","tab":"d6d37f7c.d89b08","order":4,"disp":true,"width":"6","collapse":false},{"id":"b1e31179.f88798","type":"ui_group","z":"","name":"Form Instances","tab":"d6d37f7c.d89b08","order":5,"disp":true,"width":"6","collapse":false},{"id":"fbbe7b45.74e6b","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ff6fe54.b88f22","type":"Kafka Broker","z":"","name":"kafka","hosts":[{"host":"kafka","port":29092}],"hostsEnvVar":"","connectTimeout":"100","requestTimeout":"29700","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false},{"id":"9a7dee80.ad5aa","type":"Kafka Broker","z":"","name":"","hosts":[{"host":"kafka","port":29092}],"hostsEnvVar":"","connectTimeout":"100","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":true,"usetls":false},{"id":"b900bb58.d37198","type":"mongodb2","z":"","uri":"${DB_URL}","name":"${DB_NAME}","options":"","parallelism":"-1"},{"id":"43c59706.71d5d","type":"ui_group","z":"","name":"Table","tab":"bcf60622.579cd8","order":4,"disp":true,"width":"20","collapse":false},{"id":"997b5a4b.961608","type":"ui_tab","z":"","name":"Tabe Mongo","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"380801a2.0fa976","type":"inject","z":"a11862ca.d53dc","name":"start","topic":"","payload":"{\"instances\":3}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":60,"wires":[["3ddd5b64.b5bf6c"]]},{"id":"fe19c09d.eef67","type":"start virtual device","z":"a11862ca.d53dc","name":"","deviceId":"","schema":"a35b8df1.a8359","outputs":1,"x":290,"y":220,"wires":[["53dd0f58.7664f8","cac109e6.0447a8"]]},{"id":"aad5eac5.59e42","type":"stop virtual device","z":"a11862ca.d53dc","name":"","deviceId":"","schema":"a35b8df1.a8359","x":750,"y":360,"wires":[[]]},{"id":"8c8cb090.7d5218","type":"inject","z":"a11862ca.d53dc","name":"stop","topic":"","payload":"{\"instances\":3}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":380,"wires":[["cd4af4eb.59d4d8"]]},{"id":"3ddd5b64.b5bf6c","type":"function","z":"a11862ca.d53dc","name":"setDeviceId","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 9) {\n        \n        deviceId = \"Device0\" + (i+1); \n    } else {\n        deviceId = \"Device\" + (i+1); \n    }\n    deviceMsgs.push({payload: {deviceId: deviceId}});\n}\n\n\n\n\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":130,"y":140,"wires":[["fe19c09d.eef67"]]},{"id":"cd4af4eb.59d4d8","type":"function","z":"a11862ca.d53dc","name":"setDeviceId","func":"var deviceMsgs3 = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId2;\n    if(i < 9) {\n        \n        deviceId2 = \"Device0\" + (i+1); \n    } else {\n        deviceId2 = \"Device\" + (i+1); \n    }\n    deviceMsgs3.push({payload: {deviceId: deviceId2}});\n}\nreturn [deviceMsgs3];\n","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["19d5b868.14f6f"]]},{"id":"3626a2cd.130f8e","type":"comment","z":"a11862ca.d53dc","name":"*************************************** Device UI ***************************************","info":"","x":320,"y":700,"wires":[]},{"id":"b1abc330.ed22d","type":"ui_text","z":"a11862ca.d53dc","group":"58f39586.bcf6cc","order":2,"width":12,"height":1,"name":"","label":"State","format":"{{msg.payload.properties.state}}","layout":"row-spread","x":950,"y":1160,"wires":[]},{"id":"3a60bfa0.2009c","type":"ui_text","z":"a11862ca.d53dc","group":"58f39586.bcf6cc","order":3,"width":12,"height":1,"name":"","label":"Coordinate","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":1020,"wires":[]},{"id":"798e4d57.910d0c","type":"device listener","z":"a11862ca.d53dc","monitor":"stop","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"a35b8df1.a8359","props":[],"name":"device deleted","x":110,"y":660,"wires":[["8dc5f38.57a0f1"]]},{"id":"8dc5f38.57a0f1","type":"function","z":"a11862ca.d53dc","name":"remove device instance","func":"var devices = flow.get(\"activeDevices\") || [];\nvar selectedId = flow.get(\"deviceId\");\n\nvar deviceId = msg.payload.deviceId;\nvar index = devices.indexOf(deviceId);\nif (index >= 0)\n{\n    devices.splice(index,1);\n    flow.set(\"activeDevices\", devices);\n\n    if (selectedId === deviceId)\n    {\n        selectedId = devices[0];\n        flow.set(\"deviceId\", selectedId);\n       \n    }\n}\n\nvar msg = {payload: selectedId, options: devices};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["5c824527.8242bc"]]},{"id":"8e0e8a3a.e13f58","type":"function","z":"a11862ca.d53dc","name":"add device instance","func":"var devices = flow.get(\"activeDevices\") || [];\nvar selectedId = flow.get(\"deviceId\") || null;\nvar deviceId = msg.payload.deviceId;\nnode.log(msg.payload.deviceId);\nif (devices.indexOf(deviceId) < 0)\n{\n    devices.push(msg.payload.deviceId);\n    flow.set(\"activeDevices\", devices);\n    if (selectedId === null)\n    {\n        selectedId = devices[0];\n        flow.set(\"deviceId\", selectedId);\n    }\n}\n\n\nvar msg = {payload: selectedId, options: devices};\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":340,"y":600,"wires":[["5c824527.8242bc"]]},{"id":"a3ed3cc3.4989d","type":"function","z":"a11862ca.d53dc","name":"Change active Device","func":"flow.set(\"deviceId\",msg.payload);\nreturn {payload:{deviceId:msg.payload}};","outputs":1,"noerr":0,"x":760,"y":620,"wires":[["7121cff5.dcc43"]]},{"id":"7365868b.a5778","type":"device listener","z":"a11862ca.d53dc","monitor":"start","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"a35b8df1.a8359","props":[],"name":"device started","x":110,"y":560,"wires":[["8e0e8a3a.e13f58","386dcfa0.6f86e8"]]},{"id":"7121cff5.dcc43","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"get active device properties","propAll":true,"prop":"9f9135f2be17","valueType":"msg","value":"payload","x":1020,"y":620,"wires":[["386dcfa0.6f86e8"]]},{"id":"386dcfa0.6f86e8","type":"link out","z":"a11862ca.d53dc","name":"Reset Values out","links":["d9bf483e.3f5488"],"x":1275,"y":560,"wires":[]},{"id":"5c824527.8242bc","type":"ui_dropdown","z":"a11862ca.d53dc","name":"Select instance","label":"Select Device instance","tooltip":"","place":"","group":"f1b3ab68.a48ae8","order":1,"width":6,"height":2,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":560,"y":620,"wires":[["a3ed3cc3.4989d"]]},{"id":"5415e467.7f697c","type":"ui_gauge","z":"a11862ca.d53dc","name":"","group":"58f39586.bcf6cc","order":7,"width":6,"height":3,"gtype":"gage","title":"Speed","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":940,"wires":[]},{"id":"e27b3bf5.3e0a68","type":"ui_gauge","z":"a11862ca.d53dc","name":"","group":"58f39586.bcf6cc","order":6,"width":6,"height":3,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":980,"wires":[]},{"id":"c0d0b06b.47e23","type":"function","z":"a11862ca.d53dc","name":"deviceId","func":"msg.payload = msg.payload.deviceId\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1260,"wires":[["4637ea22.a34e6c"]]},{"id":"4637ea22.a34e6c","type":"ui_text","z":"a11862ca.d53dc","group":"58f39586.bcf6cc","order":1,"width":12,"height":1,"name":"","label":"DeviceId","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":1260,"wires":[]},{"id":"23f4901e.09ac18","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["9ae805693cb9"],"name":"On Speed change","x":130,"y":940,"wires":[["e5cb5b38.043f08"]]},{"id":"e5cb5b38.043f08","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":940,"wires":[["8477e1b1.2f0fc8","c0d0b06b.47e23"]]},{"id":"8477e1b1.2f0fc8","type":"change","z":"a11862ca.d53dc","name":"format","rules":[{"t":"move","p":"payload.properties.speed","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":940,"wires":[["5415e467.7f697c","887193c.8c6d9f"]]},{"id":"c807c28b.646548","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":980,"wires":[["9070e986.0b6e","c0d0b06b.47e23"]]},{"id":"9070e986.0b6e","type":"change","z":"a11862ca.d53dc","name":"format","rules":[{"t":"move","p":"payload.properties.temperature","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":980,"wires":[["e27b3bf5.3e0a68","4eacbddb.1ddd24"]]},{"id":"5e532da1.74f214","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["3c66eb120cef"],"name":"On Temperature change","x":150,"y":980,"wires":[["c807c28b.646548"]]},{"id":"4b3090df.e1ac9","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1020,"wires":[["f3bb02d6.9935","c0d0b06b.47e23","d620bf9d.d23c68"]]},{"id":"bf60c1fa.6cc1b","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["07f6eadbd104","1d75a2505b5d"],"name":"On Coordinate change","x":140,"y":1020,"wires":[["4b3090df.e1ac9"]]},{"id":"fe818e22.0d735","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1160,"wires":[["c0d0b06b.47e23","b1abc330.ed22d"]]},{"id":"3a097bab.7dad24","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["cf34a9983af3"],"name":"On State change","x":120,"y":1160,"wires":[["fe818e22.0d735"]]},{"id":"f3bb02d6.9935","type":"function","z":"a11862ca.d53dc","name":"join","func":"msg.payload = msg.payload.properties.latitude +\", \" + msg.payload.properties.longitude\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1020,"wires":[["3a60bfa0.2009c"]]},{"id":"9f12ca95.98ed2","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":780,"wires":[["c0d0b06b.47e23","8477e1b1.2f0fc8","9070e986.0b6e","f3bb02d6.9935","b1abc330.ed22d","3cb79264.56033e","cd161c03.d228b8"]]},{"id":"d9bf483e.3f5488","type":"link in","z":"a11862ca.d53dc","name":"Reset Values in","links":["386dcfa0.6f86e8"],"x":55,"y":780,"wires":[["9f12ca95.98ed2"]]},{"id":"19d5b868.14f6f","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"set state off","propAll":false,"prop":"cf34a9983af3","valueType":"str","value":"off","x":490,"y":360,"wires":[["aad5eac5.59e42"]]},{"id":"24a2f9a8.55cd7e","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"Set Speed","propAll":false,"prop":"9ae805693cb9","valueType":"msg","value":"payload","x":1310,"y":1260,"wires":[[]]},{"id":"ff27cb67.1f6388","type":"function","z":"a11862ca.d53dc","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":1153.3571319580078,"y":1258.8571462631226,"wires":[["24a2f9a8.55cd7e"]]},{"id":"887193c.8c6d9f","type":"ui_slider","z":"a11862ca.d53dc","name":"Set Speed","label":"Set Speed","tooltip":"","group":"75358a9.1d2c074","order":1,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":"0","max":"200","step":"","x":970,"y":1260,"wires":[["ff27cb67.1f6388"]]},{"id":"689b952d.4df74c","type":"function","z":"a11862ca.d53dc","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1340,"wires":[["dd8ad55c.8c0d68"]]},{"id":"4eacbddb.1ddd24","type":"ui_slider","z":"a11862ca.d53dc","name":"Set Temperature ","label":"Set Temperature ","tooltip":"","group":"75358a9.1d2c074","order":2,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":"0","max":"200","step":"","x":990,"y":1340,"wires":[["689b952d.4df74c"]]},{"id":"dd8ad55c.8c0d68","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"Set Temperature","propAll":false,"prop":"3c66eb120cef","valueType":"msg","value":"payload","x":1320,"y":1340,"wires":[[]]},{"id":"b0f84876.1d13e","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"idle","func":"speed = 0;\ntemperature = 100;\nreturn msg;\n","outputs":"1","noerr":0,"x":710,"y":40,"wires":[["1148bd7.6278d43"]]},{"id":"61a31906.ee0a2","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"calc next state","func":"var nextState = null;\nswitch(state){\ncase \"idle\":\n\tnextState = \"moving\";\n\tbreak;\ncase \"moving\":\n//Set bad MotorTemp (15% likelihood)\nvar outOfNormalRange = Math.random() * 100 < 5;\nif(outOfNormalRange){\n\tnextState = \"maintenance\";\n\tbreak;\n}\n\n\nif(load !== 0){\nnextState = \"unloading\";\n} else {\nnextState = \"loading\";\n}\nbreak;\n\ncase \"loading\":\nnextState = \"moving\";\nbreak;\n\ncase \"unloading\":\nnextState = \"moving\";\nbreak;\n\ncase \"maintenance\":\nnextState = \"idle\";\nbreak;\n\ndefault:\n    var err = \"unknow state: \" + state;\n    node.error(err);\n\tnode.status({fill:\"red\",shape:\"ring\",text: err});\n\treturn null;\n}\nstate = nextState;\ntimestamp = Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":220,"wires":[["714565f7.3eefb4"]]},{"id":"eec0bc32.7b157","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"moving","func":"speed = Math.floor(Number(60) - Number(load));\ntemperature = Math.floor(Number(100) + Number(load));\n\nreturn msg;","outputs":"1","noerr":0,"x":720,"y":140,"wires":[["9596a8db.0f8cd"]]},{"id":"901f9f84.287bb","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"loading","func":"speed = 0\ntemperature = Math.floor(temperature* 0.3)\nload = Math.floor(Math.random() * (50 - 5)) + 5\nreturn msg;\n\n","outputs":"1","noerr":0,"x":720,"y":200,"wires":[["2a77a4b5.77581c"]]},{"id":"53dd0f58.7664f8","type":"switch","z":"a11862ca.d53dc","name":"Switch State","property":"payload.properties.state","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"moving","vt":"str"},{"t":"eq","v":"loading","vt":"str"},{"t":"eq","v":"unloading","vt":"str"},{"t":"eq","v":"maintenance","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":200,"wires":[["b0f84876.1d13e"],["eec0bc32.7b157"],["901f9f84.287bb"],["105baf8a.5af3b"],["55a17243.12a7cc"]]},{"id":"55a17243.12a7cc","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"maintenance","func":"speed = 0;\ntemperature = 20;\nreturn msg;\n\n","outputs":"1","noerr":0,"x":730,"y":320,"wires":[["1fea366b.4f3852"]]},{"id":"75493836.aba588","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["508bc5807ba6"],"name":"On Load change","x":120,"y":860,"wires":[["6d1b379f.3903a"]]},{"id":"6d1b379f.3903a","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":860,"wires":[["3cb79264.56033e","c0d0b06b.47e23"]]},{"id":"3cb79264.56033e","type":"ui_text","z":"a11862ca.d53dc","group":"58f39586.bcf6cc","order":4,"width":12,"height":1,"name":"","label":"Load","format":"{{msg.payload.properties.load}}","layout":"row-spread","x":970,"y":860,"wires":[]},{"id":"bd1013.ca800ff","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["7aff46892f74"],"name":"On Command change","x":140,"y":900,"wires":[["d48e76fc.b0812"]]},{"id":"d48e76fc.b0812","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":900,"wires":[["cd161c03.d228b8"]]},{"id":"cd161c03.d228b8","type":"ui_text","z":"a11862ca.d53dc","group":"58f39586.bcf6cc","order":5,"width":12,"height":1,"name":"","label":"Command","format":"{{msg.payload.properties.command}}","layout":"row-spread","x":990,"y":900,"wires":[]},{"id":"678c9fad.98ad48","type":"http in","z":"e292c943.58b5a","name":"","url":"/env","method":"get","upload":false,"swaggerDoc":"","x":80,"y":200,"wires":[["2c063b0.a943bc6"]]},{"id":"6080e4f2.9905f4","type":"http response","z":"e292c943.58b5a","name":"","x":850,"y":200,"wires":[]},{"id":"dfbb4226.9ab27","type":"template","z":"e292c943.58b5a","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    sorting: true,\n                    paging: true,\n                    filtering: false,\n                    autoload: true,\n                    data: db,\n                    controller: db,\n                    fields: [\n                        { title:\"Key\", name: \"Key\", type: \"text\", width: 100 },\n                        { title:\"Value\", name: \"Value\", type: \"text\", width: 100 }\n                     ]\n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":680,"y":200,"wires":[["6080e4f2.9905f4"]]},{"id":"2c063b0.a943bc6","type":"process-env","z":"e292c943.58b5a","name":"","into":"payload","x":290,"y":200,"wires":[["5f1c924.98316ec"]]},{"id":"5f1c924.98316ec","type":"function","z":"e292c943.58b5a","name":"","func":"//msg.payload = JSON.parse(msg.payload)\nvar data = Object.entries(msg.payload)\nvar newdata = []\n\nfor (var i = 0; i < data.length; i++) {\nvar value = data[i][1]\nvar key = data[i][0]\n\n\nif (!key.startsWith(\"npm\")) {\n//newdata[i] = '{\"Key\":\"'+key+'\",\"Value\":\"'+value+'\"}';\nif (value[value.length - 1] === \"\\\\\") {\n    value = value.slice(0, -1)\n}\nnewdata.push('{\"Key\":\"'+key+'\",\"Value\":\"'+value+'\"}') \n} \n}\n\nmsg.payload =   \"[\"+ newdata.toString()+\"]\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["dfbb4226.9ab27"]]},{"id":"1148bd7.6278d43","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":40,"wires":[["61a31906.ee0a2"]]},{"id":"2a77a4b5.77581c","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":200,"wires":[["61a31906.ee0a2"]]},{"id":"1fea366b.4f3852","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":320,"wires":[["61a31906.ee0a2"]]},{"id":"105baf8a.5af3b","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"unloading","func":"speed = 0\ntemperature = Math.floor(temperature * 0.3)\nload = 0\nreturn msg;\n\n","outputs":"1","noerr":0,"x":720,"y":260,"wires":[["10c92da5.e18cba"]]},{"id":"10c92da5.e18cba","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":260,"wires":[["61a31906.ee0a2"]]},{"id":"cac109e6.0447a8","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"","func":"var lat = [53.135278, 53.843611, 53.773056, 54.3475, 54.519167, 54.465833, 54.190278, 53.438056, 52.408333, 51.11, 50.264167, 50.061389, 50.033611, 51.25, 52.232222];\nvar lon = [23.145556, 22.9775, 20.476111, 18.645278, 18.539444, 17.029167, 16.181667, 14.542222, 16.934167, 17.022222, 19.023611, 19.938333, 22.004722, 22.566667, 21.008333];\n\nif (state === \"moving\") {\nvar idx = context.get(msg.payload.deviceId+'count');\nif( idx > 9 )\n{\n    idx = 0;  \n}\nlatitude = lat[idx];\nlongitude = lon[idx];\ntimestamp = Date.now()\ncontext.set(msg.payload.deviceId+'count',idx+1);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["df74b9e7.8722d8"]]},{"id":"18c5bf8e.18a15","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":true,"deviceId":"","allDeviceIds":false,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["cf34a9983af3","89cadacb0aef"],"name":"","x":1120,"y":80,"wires":[["26d2ef3f.cb0588"]]},{"id":"714565f7.3eefb4","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"Set state ","propAll":true,"prop":"cf34a9983af3","valueType":"msg","value":"payload.properties.state","x":1260,"y":180,"wires":[["53dd0f58.7664f8"]]},{"id":"9596a8db.0f8cd","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"random","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"10","randomUnits":"seconds","drop":false,"x":880,"y":140,"wires":[["61a31906.ee0a2"]]},{"id":"df74b9e7.8722d8","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":40,"wires":[["cac109e6.0447a8"]]},{"id":"54050344.70b54c","type":"comment","z":"e292c943.58b5a","name":"Backlog","info":"new coordinates\nmqtt - mongodb\nkafka\n","x":110,"y":80,"wires":[]},{"id":"31f6a052.810178","type":"function","z":"a11862ca.d53dc","name":"command","func":"var newdata = {}\nnewdata.command = \"addRow\",\nnewdata.arguments = [msg.payload, true]\nnewdata.returnPromise = true\nmsg.payload = newdata\nreturn msg","outputs":1,"noerr":0,"x":1840,"y":80,"wires":[["21fe5a7e.0efdbe"]]},{"id":"21fe5a7e.0efdbe","type":"ui_table","z":"a11862ca.d53dc","group":"f0524f8e.484928","name":"table","order":1,"width":25,"height":4,"columns":[{"field":"deviceType","title":"deviceType","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"deviceId","title":"deviceId","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"state","title":"state","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"speed","title":"speed","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temperature","title":"temperature","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"latitude","title":"latitude","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"longitude","title":"longitude","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"load","title":"load","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"timestamp","title":"timestamp","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":2050,"y":80,"wires":[]},{"id":"ee52c90c.696b58","type":"switch","z":"dfafd770.e95b6","name":"","property":"payload.method","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":200,"wires":[["d58cd61.24046a8","effb12d8.8cf9b8"],["51e38ec0.01fe08","effb12d8.8cf9b8"],["56185c1b.aa21d4"]]},{"id":"ac9934b6.59f268","type":"http in","z":"dfafd770.e95b6","name":"","url":"/api","method":"post","upload":false,"swaggerDoc":"","x":240,"y":100,"wires":[["ee52c90c.696b58"]]},{"id":"325f6b9f.d8a64c","type":"http response","z":"dfafd770.e95b6","name":"","statusCode":"","headers":{},"x":1030,"y":200,"wires":[]},{"id":"a72b9c28.962648","type":"http in","z":"dfafd770.e95b6","name":"","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":420,"y":80,"wires":[["d5fceabb.3a1f5"]]},{"id":"7ee2dc96.bd0794","type":"debug","z":"3b1647a8.f0aef","name":"UI API","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":40,"wires":[]},{"id":"11b52f7c.a42521","type":"ui_form","z":"3b1647a8.f0aef","name":"Form Instances","label":"Form Instances","group":"1a8dcc49.259874","order":1,"width":6,"height":4,"options":[{"label":"Method","value":"method","type":"text","required":true,"rows":null},{"label":"Instances","value":"instances","type":"number","required":true,"rows":null}],"formValue":{"method":"","instances":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":100,"wires":[["7ee2dc96.bd0794","408a885e.f114f"]]},{"id":"8a9f6a05.7147c8","type":"ui_text","z":"3b1647a8.f0aef","group":"dafeac89.98c6d","order":1,"width":0,"height":0,"name":"","label":"Response","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":140,"wires":[]},{"id":"772194cd.97080c","type":"http response","z":"dfafd770.e95b6","name":"","statusCode":"","headers":{},"x":670,"y":80,"wires":[]},{"id":"effb12d8.8cf9b8","type":"function","z":"dfafd770.e95b6","name":"","func":"msg.payload = \"ok\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["325f6b9f.d8a64c"]]},{"id":"d5fceabb.3a1f5","type":"function","z":"dfafd770.e95b6","name":"","func":"msg.payload = \"ok\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":80,"wires":[["772194cd.97080c"]]},{"id":"408a885e.f114f","type":"http request","z":"3b1647a8.f0aef","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:1880/api","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":140,"wires":[["8a9f6a05.7147c8"]]},{"id":"c1d1dd70.b189e8","type":"ui_form","z":"3b1647a8.f0aef","name":"Form Update","label":"Form Update","group":"bf2c5aff.4ce0b8","order":1,"width":6,"height":5,"options":[{"label":"DeviceId","value":"deviceId","type":"text","required":true,"rows":null},{"label":"Key","value":"key","type":"text","required":false,"rows":null},{"label":"Value","value":"value","type":"text","required":false,"rows":null}],"formValue":{"deviceId":"","key":"","value":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":160,"wires":[["408a885e.f114f","7ee2dc96.bd0794"]]},{"id":"d58cd61.24046a8","type":"link out","z":"dfafd770.e95b6","name":"start out","links":["21e6b60b.fad8aa"],"x":495,"y":260,"wires":[]},{"id":"51e38ec0.01fe08","type":"link out","z":"dfafd770.e95b6","name":"stop out","links":["480f154c.780824"],"x":475,"y":300,"wires":[]},{"id":"3df0c072.5b5838","type":"function","z":"dfafd770.e95b6","name":"","func":"msg.payload = \"error\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["325f6b9f.d8a64c"]]},{"id":"21e6b60b.fad8aa","type":"link in","z":"a11862ca.d53dc","name":"start in","links":["d58cd61.24046a8"],"x":55,"y":200,"wires":[["3ddd5b64.b5bf6c"]]},{"id":"480f154c.780824","type":"link in","z":"a11862ca.d53dc","name":"stop in","links":["51e38ec0.01fe08"],"x":75,"y":340,"wires":[["cd4af4eb.59d4d8"]]},{"id":"56185c1b.aa21d4","type":"switch","z":"dfafd770.e95b6","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":220,"wires":[["effb12d8.8cf9b8","eb87a091.aedc1"],["3df0c072.5b5838"]]},{"id":"eb87a091.aedc1","type":"link out","z":"dfafd770.e95b6","name":"update out","links":["d08607ca.b865"],"x":615,"y":300,"wires":[]},{"id":"d08607ca.b865","type":"link in","z":"a11862ca.d53dc","name":"update in","links":["eb87a091.aedc1"],"x":55,"y":440,"wires":[["89fb569a.e26ff","f8443e9c.09cdb"]]},{"id":"89fb569a.e26ff","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"","propAll":false,"prop":"7aff46892f74","valueType":"msg","value":"payload","x":340,"y":420,"wires":[[]]},{"id":"f2795045.943ee","type":"ui_form","z":"dfafd770.e95b6","name":"Form Instances","label":"Form Instances","group":"b1e31179.f88798","order":1,"width":6,"height":4,"options":[{"label":"Method","value":"method","type":"text","required":true,"rows":null},{"label":"Instances","value":"instances","type":"number","required":true,"rows":null}],"formValue":{"method":"","instances":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":240,"y":240,"wires":[["ee52c90c.696b58"]]},{"id":"384567db.edbe9","type":"ui_form","z":"dfafd770.e95b6","name":"Form Update","label":"Form Update","group":"4f2ffdbd.f432ec","order":1,"width":6,"height":5,"options":[{"label":"DeviceId","value":"deviceId","type":"text","required":true,"rows":null},{"label":"Key","value":"key","type":"text","required":false,"rows":null},{"label":"Value","value":"value","type":"text","required":false,"rows":null}],"formValue":{"deviceId":"","key":"","value":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["ee52c90c.696b58"]]},{"id":"f8443e9c.09cdb","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"","func":"\neval(msg.payload.key +\" = '\"+msg.payload.value+\"';\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[[]]},{"id":"82381dbb.d2337","type":"function","z":"a11862ca.d53dc","name":"Last 20 rows","func":"var newdata = context.get(\"arr\")||[]\n\nnewdata.push(msg.payload) \n//newdata = newdata.slice(Math.max(newdata.length - 20, 0))\nnewdata.slice(Math.max(newdata.length - 20, 0))\ncontext.set(\"arr\", newdata)\nmsg.payload = context.get(\"arr\").reverse()\n//msg.payload = JSON.parse(context.get(\"arr\"))\nreturn msg;","outputs":1,"noerr":0,"x":2350,"y":40,"wires":[[]]},{"id":"83917f8c.0296a8","type":"mqtt out","z":"a11862ca.d53dc","name":"","topic":"Cab","qos":"","retain":"","broker":"fbbe7b45.74e6b","x":1830,"y":260,"wires":[]},{"id":"86b2f5f3.4bd2b","type":"mqtt in","z":"3b1647a8.f0aef","name":"","topic":"Cab","qos":"2","datatype":"auto","broker":"fbbe7b45.74e6b","x":110,"y":220,"wires":[["243b9c59.385b7c"]]},{"id":"cf50efe8.c1a138","type":"debug","z":"3b1647a8.f0aef","name":"MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":220,"wires":[]},{"id":"94e94b59.ce7d5","type":"function","z":"a11862ca.d53dc","name":"Last 20 rows","func":"var newdata = context.get(\"arr\")||[];\n\nnewdata.push(msg.payload);\nif (newdata.length > 20){\n    newdata.shift();\n    newdata.length = 20;\n} \ncontext.set(\"arr\", newdata);\nmsg = {};\nmsg.paylod = newdata;\n//msg.payload = JSON.parse(context.get(\"arr\")).reverse()\nreturn msg;","outputs":1,"noerr":0,"x":2190,"y":100,"wires":[["3b014ce9.d130cc"]]},{"id":"3b014ce9.d130cc","type":"ui_template","z":"a11862ca.d53dc","group":"","name":"Table","order":1,"width":0,"height":0,"format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">-----------------</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":2190,"y":40,"wires":[[]]},{"id":"8c9f83b8.fff388","type":"mongodb2 in","z":"c4ac9123.60a2d8","service":"_ext_","configNode":"b900bb58.d37198","name":"","collection":"${DB_COLLECTION}","operation":"find.toArray","x":840,"y":320,"wires":[["bde8c06.021d04"]]},{"id":"17c00de4.6e4faa","type":"http in","z":"c4ac9123.60a2d8","name":"","url":"/mongo/update","method":"put","upload":false,"swaggerDoc":"","x":80,"y":400,"wires":[["7d6c809e.5e31a8"]]},{"id":"7008cd18.7417e4","type":"http response","z":"c4ac9123.60a2d8","name":"","x":1460,"y":400,"wires":[]},{"id":"8a1e9c9f.4eff","type":"function","z":"c4ac9123.60a2d8","name":"update request","func":"/*\nmsg.result correspond à l'objet mis à jour,\nle delete permet de supprimer la propriété\n_id de l'objet, en effet l'_id est géré directement\npar le noued OjectId\npour la requète update  \non doit fournir un tableau \n[\n<query>,\n<valeur mises à jour>\n]\n\nici ce sera de la forme:\n[\n    {_id:ObjectId(\"xxx\")},\n    {\"nom\": \"toto\", \"prenom\": \"tutu\", \n        \"immatriculation\": \"AB123CD\", \n        \"heure\": null, \"minute\": null\n    }\n]\n*/\nmsg.result=msg.req.body;\ndelete msg.req.body._id;\nmsg.payload=[\n   msg.payload,\n   msg.req.body\n    ];\nreturn msg;\n\n","outputs":"1","noerr":0,"x":610,"y":400,"wires":[["8275b53a.0ad33"]]},{"id":"7d6c809e.5e31a8","type":"function","z":"c4ac9123.60a2d8","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["a4149655.2404a8"]]},{"id":"a4149655.2404a8","type":"objectid","z":"c4ac9123.60a2d8","name":"","x":450,"y":400,"wires":[["8a1e9c9f.4eff"]]},{"id":"74a08257.8c1e5c","type":"template","z":"c4ac9123.60a2d8","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n   fields: [\n                        { title:\"deviceType\", name: \"deviceType\", type: \"text\", width: 40 },\n                        { title:\"deviceId\", name: \"deviceId\", type: \"text\", width: 40 },\n                        { title:\"state\", name: \"state\", type: \"text\", width: 30 },\n                        { title:\"speed\", name: \"speed\", type:\"number\", width: 25},\n                        { title:\"temperature\", name: \"temperature\", type:\"number\", width: 40},\n                        { title:\"latitude\", name: \"latitude\", type:\"number\", width: 25},\n                        { title:\"longitude\", name: \"longitude\", type:\"number\", width: 25},\n                        { title:\"load\", name: \"load\", type:\"number\", width: 25},\n                        { title:\"timestamp\", name: \"timestamp\", type:\"number\", width: 50},\n                        { type: \"control\" }\n                    ],\n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/mongo/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/mongo/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/mongo/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n<div align=\"center\">\n<p><a href={{host}}/info>GET /info</a> </p>         \n</div>\n</body>\n</html>\n\n","x":1300,"y":320,"wires":[["a8de64a0.40338"]]},{"id":"98a9d009.119128","type":"http in","z":"c4ac9123.60a2d8","name":"","url":"/mongo","method":"get","upload":false,"swaggerDoc":"","x":60,"y":320,"wires":[["8c9f83b8.fff388"]]},{"id":"a8de64a0.40338","type":"http response","z":"c4ac9123.60a2d8","name":"","x":1470,"y":320,"wires":[]},{"id":"bde8c06.021d04","type":"json","z":"c4ac9123.60a2d8","name":"","x":1140,"y":320,"wires":[["74a08257.8c1e5c"]]},{"id":"b2029ba3.f110a","type":"function","z":"c4ac9123.60a2d8","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":400,"wires":[["7008cd18.7417e4"]]},{"id":"6bef0387.628e34","type":"http response","z":"c4ac9123.60a2d8","name":"","x":1460,"y":440,"wires":[]},{"id":"c768e6e2.8a1f78","type":"http in","z":"c4ac9123.60a2d8","name":"","url":"/mongo/insert","method":"post","upload":false,"swaggerDoc":"","x":80,"y":440,"wires":[["4dc9af78.66bc18"]]},{"id":"98fd7c0c.614158","type":"http in","z":"c4ac9123.60a2d8","name":"","url":"/mongo/delete","method":"delete","upload":false,"swaggerDoc":"","x":90,"y":480,"wires":[["217130da.7d00f"]]},{"id":"217130da.7d00f","type":"function","z":"c4ac9123.60a2d8","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["7fc097bc.ae53d8"]]},{"id":"7fc097bc.ae53d8","type":"objectid","z":"c4ac9123.60a2d8","name":"","x":490,"y":480,"wires":[["4cc3fba7.7f4764"]]},{"id":"ee707272.66076","type":"http response","z":"c4ac9123.60a2d8","name":"","x":1460,"y":480,"wires":[]},{"id":"4c9fccdd.cee5b4","type":"function","z":"c4ac9123.60a2d8","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":440,"wires":[["6bef0387.628e34"]]},{"id":"c83e0bb1.35e968","type":"comment","z":"c4ac9123.60a2d8","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"last\": \"Kowalski\",\n    \"first\": \"Jan\",\n    \"Title\": \"Zabawa\",\n    \"hour\": \"13\",\n    \"minute\": \"30\"\n}\n```\n\n{ title:\"Last name\", name: \"last\", type: \"text\", width: 50 },\n{ title:\"First name\", name: \"first\", type: \"text\", width: 50 },\n{ title:\"Title\", name: \"Title\", type: \"text\", width: 50 },\n{ title:\"Hour\", name: \"hour\", type:\"number\", width: 25},\n{ title:\"Minute\", align:\"left\",  name: \"minute\", type:\"number\" , width: 25},\n{ type: \"control\" }","x":650,"y":20,"wires":[]},{"id":"201c8ea1.1e082a","type":"comment","z":"c4ac9123.60a2d8","name":"node-red-contrib-objectid","info":"","x":130,"y":40,"wires":[]},{"id":"3fb5057f.a57eda","type":"comment","z":"c4ac9123.60a2d8","name":"node-red-contrib-mongodb2","info":"","x":140,"y":80,"wires":[]},{"id":"d151c571.901d4","type":"http in","z":"c4ac9123.60a2d8","name":"","url":"/mongo/selectall","method":"get","upload":false,"swaggerDoc":"","x":90,"y":360,"wires":[["ae549d.3b41736"]]},{"id":"51367fd2.04e008","type":"http response","z":"c4ac9123.60a2d8","name":"","x":1460,"y":360,"wires":[]},{"id":"465e3c70.fea6bc","type":"json","z":"c4ac9123.60a2d8","name":"","x":1320,"y":360,"wires":[["51367fd2.04e008"]]},{"id":"ae549d.3b41736","type":"mongodb2 in","z":"c4ac9123.60a2d8","service":"_ext_","configNode":"b900bb58.d37198","name":"","collection":"${DB_COLLECTION}","operation":"find.toArray","x":870,"y":360,"wires":[["465e3c70.fea6bc"]]},{"id":"8275b53a.0ad33","type":"mongodb2 in","z":"c4ac9123.60a2d8","service":"_ext_","configNode":"c3203948.c23e58","name":"","collection":"${DB_COLLECTION}","operation":"update","x":870,"y":400,"wires":[["b2029ba3.f110a"]]},{"id":"4dc9af78.66bc18","type":"mongodb2 in","z":"c4ac9123.60a2d8","service":"_ext_","configNode":"c3203948.c23e58","name":"","collection":"${DB_COLLECTION}","operation":"insert","x":840,"y":440,"wires":[["4c9fccdd.cee5b4"]]},{"id":"4cc3fba7.7f4764","type":"mongodb2 in","z":"c4ac9123.60a2d8","service":"_ext_","configNode":"b900bb58.d37198","name":"","collection":"${DB_COLLECTION}","operation":"deleteOne","x":890,"y":480,"wires":[["ee707272.66076"]]},{"id":"e0af7dd2.3c95a","type":"mongodb2 in","z":"c4ac9123.60a2d8","service":"_ext_","configNode":"b900bb58.d37198","name":"","collection":"${DB_COLLECTION}","operation":"insertOne","x":890,"y":560,"wires":[["1293effd.ffba08"]]},{"id":"6652e823.968a88","type":"http in","z":"c4ac9123.60a2d8","name":"","url":"/mongo/pop","method":"get","upload":false,"swaggerDoc":"","x":70,"y":560,"wires":[["6a9128d0.dc3ba"]]},{"id":"6a9128d0.dc3ba","type":"function","z":"c4ac9123.60a2d8","name":"payload","func":"\nmsg = {\n    \"req\":msg.req,\n    \"res\":msg.res,\n    payload:{\n\"state\": \"moving\",\n\"speed\": 60,\n\"temperature\": 100,\n\"latitude\": 30.26,\n\"longitude\": -98.49,\n\"load\": 0,\n\"timestamp\": 1595271093714,\n\"deviceType\": \"Cab\",\n\"deviceId\": \"Device01\"\n}}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["e0af7dd2.3c95a"]]},{"id":"1293effd.ffba08","type":"http response","z":"c4ac9123.60a2d8","name":"","x":1460,"y":560,"wires":[]},{"id":"637e9d40.4fea9c","type":"ui_template","z":"c4ac9123.60a2d8","group":"43c59706.71d5d","name":"","order":1,"width":"20","height":"12","format":"<iframe src=\"http://127.0.0.1:1880/mongo\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1300,"y":260,"wires":[[]]},{"id":"26d2ef3f.cb0588","type":"change","z":"a11862ca.d53dc","name":"","rules":[{"t":"move","p":"payload.deviceType","pt":"msg","to":"payload.properties.deviceType","tot":"msg"},{"t":"move","p":"payload.deviceId","pt":"msg","to":"payload.properties.deviceId","tot":"msg"},{"t":"move","p":"payload.properties","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload.changedProperty","pt":"msg"},{"t":"delete","p":"payload.command","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":80,"wires":[["31f6a052.810178","83917f8c.0296a8"]]},{"id":"fced4cde.f856e8","type":"worldmap-tracks","z":"a11862ca.d53dc","name":"","depth":20,"layer":"separate","x":770,"y":1080,"wires":[["263d0aa1.f34f76"]]},{"id":"263d0aa1.f34f76","type":"worldmap","z":"a11862ca.d53dc","name":"","lat":"52.232222","lon":"21.008333","zoom":"6","layer":"OSM grey","cluster":"","maxage":"15","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":940,"y":1080,"wires":[]},{"id":"d620bf9d.d23c68","type":"change","z":"a11862ca.d53dc","name":"","rules":[{"t":"move","p":"payload.properties.latitude","pt":"msg","to":"payload.lat","tot":"msg"},{"t":"move","p":"payload.properties.longitude","pt":"msg","to":"payload.lon","tot":"msg"},{"t":"delete","p":"payload.properties","pt":"msg"},{"t":"move","p":"payload.deviceId","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"payload.label","pt":"msg","to":"payload.name","tot":"msg"},{"t":"delete","p":"payload.deviceType","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"payload.changedProperty","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1060,"wires":[["fced4cde.f856e8"]]},{"id":"243b9c59.385b7c","type":"json","z":"3b1647a8.f0aef","name":"","property":"payload","action":"","pretty":false,"x":370,"y":220,"wires":[["cf50efe8.c1a138","947f5788.5e6208"]]},{"id":"773cd6e7.c978d8","type":"mongodb2 in","z":"c4ac9123.60a2d8","service":"_ext_","configNode":"b900bb58.d37198","name":"","collection":"${DB_COLLECTION}","operation":"insertOne","x":880,"y":640,"wires":[[]]},{"id":"947f5788.5e6208","type":"link out","z":"3b1647a8.f0aef","name":"db insert out","links":["537f5140.0c79c"],"x":560,"y":340,"wires":[]},{"id":"537f5140.0c79c","type":"link in","z":"c4ac9123.60a2d8","name":"db insert in","links":["947f5788.5e6208"],"x":555,"y":640,"wires":[["773cd6e7.c978d8"]]},{"id":"f3eb2b03.b0163","type":"ui_template","z":"dfafd770.e95b6","group":"5ff5b112.b1a0a","name":"","order":5,"width":0,"height":0,"format":"<div align=\"center\">\n<p><a href={{host}}/info>GET /info</a> </p>         \n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":560,"y":400,"wires":[[]]},{"id":"40596d2b.ddee9c","type":"ui_template","z":"a11862ca.d53dc","group":"75358a9.1d2c074","name":"Map link","order":5,"width":0,"height":0,"format":"<div align=\"center\">\n<p><a target=\"_blank\" href={{host}}/worldmap>Map</a> </p>         \n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1080,"y":1120,"wires":[[]]},{"id":"6cd77267.297a9c","type":"ui_template","z":"c4ac9123.60a2d8","group":"dafeac89.98c6d","name":"DB link","order":5,"width":0,"height":0,"format":"<div align=\"center\">\n<p><a target=\"_blank\" href={{host}}/mongo>DB View</a> </p>         \n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":220,"wires":[[]]}]