projects/MyDevice/backup/flow2020.07.18.json
[{"id":"e292c943.58b5a","type":"tab","label":"Info","disabled":false,"info":""},{"id":"a11862ca.d53dc","type":"tab","label":"My Device","disabled":false,"info":""},{"id":"dfafd770.e95b6","type":"tab","label":"API","disabled":false,"info":""},{"id":"3b1647a8.f0aef","type":"tab","label":"UI API","disabled":false,"info":""},{"id":"a35b8df1.a8359","type":"Device Schema","z":"","deviceType":"Cab","props":[{"guid":"cf34a9983af3","name":"state","defaultValue":{"type":"str","value":"idle"}},{"guid":"9ae805693cb9","name":"speed","defaultValue":{"type":"num","value":"60"}},{"guid":"3c66eb120cef","name":"temperature","defaultValue":{"type":"num","value":"100"}},{"guid":"07f6eadbd104","name":"latitude","defaultValue":{"type":"str","value":""}},{"guid":"1d75a2505b5d","name":"longitude","defaultValue":{"type":"str","value":""}},{"guid":"508bc5807ba6","name":"load","defaultValue":{"type":"num","value":"0"}},{"guid":"89cadacb0aef","name":"timestamp","defaultValue":{"type":"date","value":""}},{"guid":"7aff46892f74","name":"command","defaultValue":{"type":"json","value":"{\"foo\":\"bar\"}"}}],"evts":[{"guid":"f17c5095fa9a","name":"Status","payload":{"properties":{"0":"cf34a9983af3","1":"9ae805693cb9","2":"3c66eb120cef","3":"07f6eadbd104","4":"1d75a2505b5d","5":"508bc5807ba6","6":"89cadacb0aef","length":7,"prevObject":{"0":"cf34a9983af3","1":"9ae805693cb9","2":"3c66eb120cef","3":"07f6eadbd104","4":"1d75a2505b5d","5":"508bc5807ba6","6":"89cadacb0aef","length":7,"prevObject":{"0":{},"1":{},"2":{},"3":{},"4":{},"5":{},"6":{},"length":7,"prevObject":{"0":{"sizzle1594915355717":{"undefined":{"parentNode":[3926,62,true]}}},"length":1}}}}}}]},{"id":"58f39586.bcf6cc","type":"ui_group","z":"","name":"Parameters","tab":"d6d37f7c.d89b08","order":1,"disp":true,"width":12,"collapse":true},{"id":"aeef6c99.b56e98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d6d37f7c.d89b08","type":"ui_tab","z":"","name":"Drone","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1b3ab68.a48ae8","type":"ui_group","z":"","name":"Instance","tab":"d6d37f7c.d89b08","order":2,"disp":true,"width":"6","collapse":false},{"id":"75358a9.1d2c074","type":"ui_group","z":"","name":"Control","tab":"d6d37f7c.d89b08","order":3,"disp":true,"width":"6","collapse":false},{"id":"f0524f8e.484928","type":"ui_group","z":"","name":"Tables","tab":"d6d37f7c.d89b08","order":6,"disp":true,"width":25,"collapse":true},{"id":"bcf60622.579cd8","type":"ui_tab","z":"","name":"UI API","icon":"dashboard","disabled":false,"hidden":false},{"id":"bf2c5aff.4ce0b8","type":"ui_group","z":"","name":"Form Update","tab":"bcf60622.579cd8","order":2,"disp":true,"width":"6","collapse":false},{"id":"dafeac89.98c6d","type":"ui_group","z":"","name":"Responces","tab":"bcf60622.579cd8","order":3,"disp":true,"width":"6","collapse":false},{"id":"1a8dcc49.259874","type":"ui_group","z":"","name":"Form Instances","tab":"bcf60622.579cd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f2ffdbd.f432ec","type":"ui_group","z":"","name":"Form Update","tab":"d6d37f7c.d89b08","order":4,"disp":true,"width":"6","collapse":false},{"id":"b1e31179.f88798","type":"ui_group","z":"","name":"Form Instances","tab":"d6d37f7c.d89b08","order":5,"disp":true,"width":"6","collapse":false},{"id":"380801a2.0fa976","type":"inject","z":"a11862ca.d53dc","name":"start","topic":"","payload":"{\"instances\":3}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":60,"wires":[["3ddd5b64.b5bf6c"]]},{"id":"fe19c09d.eef67","type":"start virtual device","z":"a11862ca.d53dc","name":"","deviceId":"","schema":"a35b8df1.a8359","outputs":1,"x":290,"y":220,"wires":[["cac109e6.0447a8","53dd0f58.7664f8"]]},{"id":"aad5eac5.59e42","type":"stop virtual device","z":"a11862ca.d53dc","name":"","deviceId":"","schema":"a35b8df1.a8359","x":750,"y":360,"wires":[[]]},{"id":"8c8cb090.7d5218","type":"inject","z":"a11862ca.d53dc","name":"stop","topic":"","payload":"{\"instances\":3}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":380,"wires":[["cd4af4eb.59d4d8"]]},{"id":"3ddd5b64.b5bf6c","type":"function","z":"a11862ca.d53dc","name":"setDeviceId","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 9) {\n        \n        deviceId = \"Device0\" + (i+1); \n    } else {\n        deviceId = \"Device\" + (i+1); \n    }\n    deviceMsgs.push({payload: {deviceId: deviceId}});\n}\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":130,"y":140,"wires":[["fe19c09d.eef67"]]},{"id":"cd4af4eb.59d4d8","type":"function","z":"a11862ca.d53dc","name":"setDeviceId","func":"var deviceMsgs3 = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId2;\n    if(i < 9) {\n        \n        deviceId2 = \"Device0\" + (i+1); \n    } else {\n        deviceId2 = \"Device\" + (i+1); \n    }\n    deviceMsgs3.push({payload: {deviceId: deviceId2}});\n}\nreturn [deviceMsgs3];\n","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["19d5b868.14f6f"]]},{"id":"b7e0a124.cc43c","type":"generate event","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","evt":"f17c5095fa9a","name":"","x":1440,"y":80,"wires":[["2becaaf6.d810de"]]},{"id":"3626a2cd.130f8e","type":"comment","z":"a11862ca.d53dc","name":"*************************************** Device UI ***************************************","info":"","x":320,"y":700,"wires":[]},{"id":"b1abc330.ed22d","type":"ui_text","z":"a11862ca.d53dc","group":"58f39586.bcf6cc","order":2,"width":12,"height":1,"name":"","label":"State","format":"{{msg.payload.properties.state}}","layout":"row-spread","x":950,"y":1060,"wires":[]},{"id":"3a60bfa0.2009c","type":"ui_text","z":"a11862ca.d53dc","group":"58f39586.bcf6cc","order":3,"width":12,"height":1,"name":"","label":"Coordinate","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":1020,"wires":[]},{"id":"798e4d57.910d0c","type":"device listener","z":"a11862ca.d53dc","monitor":"stop","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"a35b8df1.a8359","props":[],"name":"device deleted","x":110,"y":660,"wires":[["8dc5f38.57a0f1"]]},{"id":"8dc5f38.57a0f1","type":"function","z":"a11862ca.d53dc","name":"remove device instance","func":"var devices = flow.get(\"activeDevices\") || [];\nvar selectedId = flow.get(\"deviceId\");\n\nvar deviceId = msg.payload.deviceId;\nvar index = devices.indexOf(deviceId);\nif (index >= 0)\n{\n    devices.splice(index,1);\n    flow.set(\"activeDevices\", devices);\n\n    if (selectedId === deviceId)\n    {\n        selectedId = devices[0];\n        flow.set(\"deviceId\", selectedId);\n       \n    }\n}\n\nvar msg = {payload: selectedId, options: devices};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["5c824527.8242bc"]]},{"id":"8e0e8a3a.e13f58","type":"function","z":"a11862ca.d53dc","name":"add device instance","func":"var devices = flow.get(\"activeDevices\") || [];\nvar selectedId = flow.get(\"deviceId\") || null;\nvar deviceId = msg.payload.deviceId;\nnode.log(msg.payload.deviceId);\nif (devices.indexOf(deviceId) < 0)\n{\n    devices.push(msg.payload.deviceId);\n    flow.set(\"activeDevices\", devices);\n    if (selectedId === null)\n    {\n        selectedId = devices[0];\n        flow.set(\"deviceId\", selectedId);\n    }\n}\n\n\nvar msg = {payload: selectedId, options: devices};\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":340,"y":600,"wires":[["5c824527.8242bc"]]},{"id":"a3ed3cc3.4989d","type":"function","z":"a11862ca.d53dc","name":"Change active Device","func":"flow.set(\"deviceId\",msg.payload);\nreturn {payload:{deviceId:msg.payload}};","outputs":1,"noerr":0,"x":760,"y":620,"wires":[["7121cff5.dcc43"]]},{"id":"7365868b.a5778","type":"device listener","z":"a11862ca.d53dc","monitor":"start","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"a35b8df1.a8359","props":[],"name":"device started","x":110,"y":560,"wires":[["8e0e8a3a.e13f58","386dcfa0.6f86e8"]]},{"id":"7121cff5.dcc43","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"get active device properties","propAll":true,"prop":"9f9135f2be17","valueType":"msg","value":"payload","x":1020,"y":620,"wires":[["386dcfa0.6f86e8"]]},{"id":"386dcfa0.6f86e8","type":"link out","z":"a11862ca.d53dc","name":"Reset Values out","links":["d9bf483e.3f5488"],"x":1275,"y":560,"wires":[]},{"id":"5c824527.8242bc","type":"ui_dropdown","z":"a11862ca.d53dc","name":"Select instance","label":"Select Device instance","tooltip":"","place":"","group":"f1b3ab68.a48ae8","order":1,"width":6,"height":2,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":560,"y":620,"wires":[["a3ed3cc3.4989d"]]},{"id":"5415e467.7f697c","type":"ui_gauge","z":"a11862ca.d53dc","name":"","group":"58f39586.bcf6cc","order":7,"width":6,"height":3,"gtype":"gage","title":"Speed","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":940,"wires":[]},{"id":"e27b3bf5.3e0a68","type":"ui_gauge","z":"a11862ca.d53dc","name":"","group":"58f39586.bcf6cc","order":6,"width":6,"height":3,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":980,"wires":[]},{"id":"c0d0b06b.47e23","type":"function","z":"a11862ca.d53dc","name":"deviceId","func":"msg.payload = msg.payload.deviceId\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1160,"wires":[["4637ea22.a34e6c"]]},{"id":"4637ea22.a34e6c","type":"ui_text","z":"a11862ca.d53dc","group":"58f39586.bcf6cc","order":1,"width":12,"height":1,"name":"","label":"DeviceId","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":1160,"wires":[]},{"id":"23f4901e.09ac18","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["9ae805693cb9"],"name":"On Speed change","x":130,"y":940,"wires":[["e5cb5b38.043f08"]]},{"id":"e5cb5b38.043f08","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":940,"wires":[["8477e1b1.2f0fc8","c0d0b06b.47e23"]]},{"id":"8477e1b1.2f0fc8","type":"change","z":"a11862ca.d53dc","name":"format","rules":[{"t":"move","p":"payload.properties.speed","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":940,"wires":[["5415e467.7f697c","887193c.8c6d9f"]]},{"id":"c807c28b.646548","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":980,"wires":[["9070e986.0b6e","c0d0b06b.47e23"]]},{"id":"9070e986.0b6e","type":"change","z":"a11862ca.d53dc","name":"format","rules":[{"t":"move","p":"payload.properties.temperature","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":980,"wires":[["e27b3bf5.3e0a68","4eacbddb.1ddd24"]]},{"id":"5e532da1.74f214","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["3c66eb120cef"],"name":"On Temperature change","x":150,"y":980,"wires":[["c807c28b.646548","75a64f9.a2a8f3"]]},{"id":"4b3090df.e1ac9","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1020,"wires":[["f3bb02d6.9935","c0d0b06b.47e23"]]},{"id":"bf60c1fa.6cc1b","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["07f6eadbd104","1d75a2505b5d"],"name":"On Coordinate change","x":140,"y":1020,"wires":[["4b3090df.e1ac9"]]},{"id":"fe818e22.0d735","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1060,"wires":[["c0d0b06b.47e23","b1abc330.ed22d"]]},{"id":"3a097bab.7dad24","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["cf34a9983af3"],"name":"On State change","x":120,"y":1060,"wires":[["fe818e22.0d735"]]},{"id":"f3bb02d6.9935","type":"function","z":"a11862ca.d53dc","name":"join","func":"msg.payload = msg.payload.properties.latitude +\", \" + msg.payload.properties.longitude\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1020,"wires":[["3a60bfa0.2009c"]]},{"id":"9f12ca95.98ed2","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":780,"wires":[["c0d0b06b.47e23","8477e1b1.2f0fc8","9070e986.0b6e","f3bb02d6.9935","b1abc330.ed22d","3cb79264.56033e","cd161c03.d228b8"]]},{"id":"d9bf483e.3f5488","type":"link in","z":"a11862ca.d53dc","name":"Reset Values in","links":["386dcfa0.6f86e8"],"x":55,"y":780,"wires":[["9f12ca95.98ed2"]]},{"id":"19d5b868.14f6f","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"set state off","propAll":false,"prop":"cf34a9983af3","valueType":"str","value":"off","x":490,"y":360,"wires":[["aad5eac5.59e42"]]},{"id":"24a2f9a8.55cd7e","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"Set Speed","propAll":false,"prop":"9ae805693cb9","valueType":"msg","value":"payload","x":1290,"y":1160,"wires":[[]]},{"id":"ff27cb67.1f6388","type":"function","z":"a11862ca.d53dc","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":1153.3571319580078,"y":1158.8571462631226,"wires":[["24a2f9a8.55cd7e"]]},{"id":"887193c.8c6d9f","type":"ui_slider","z":"a11862ca.d53dc","name":"Set Speed","label":"Set Speed","tooltip":"","group":"75358a9.1d2c074","order":1,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":"0","max":"200","step":"","x":970,"y":1160,"wires":[["ff27cb67.1f6388"]]},{"id":"689b952d.4df74c","type":"function","z":"a11862ca.d53dc","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1240,"wires":[["dd8ad55c.8c0d68"]]},{"id":"4eacbddb.1ddd24","type":"ui_slider","z":"a11862ca.d53dc","name":"Set Temperature ","label":"Set Temperature ","tooltip":"","group":"75358a9.1d2c074","order":2,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":"0","max":"200","step":"","x":990,"y":1240,"wires":[["689b952d.4df74c"]]},{"id":"dd8ad55c.8c0d68","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"Set Temperature","propAll":false,"prop":"3c66eb120cef","valueType":"msg","value":"payload","x":1320,"y":1240,"wires":[[]]},{"id":"b0f84876.1d13e","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"idle","func":"speed = 0;\ntemperature = 100;\nreturn msg;\n","outputs":"1","noerr":0,"x":710,"y":40,"wires":[["1148bd7.6278d43"]]},{"id":"61a31906.ee0a2","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"calc next state","func":"var nextState = null;\nswitch(state){\ncase \"idle\":\n\tnextState = \"moving\";\n\tbreak;\ncase \"moving\":\n//Set bad MotorTemp (15% likelihood)\nvar outOfNormalRange = Math.random() * 100 < 5;\nif(outOfNormalRange){\n\tnextState = \"maintenance\";\n\tbreak;\n}\n\n\nif(load !== 0){\nnextState = \"unloading\";\n} else {\nnextState = \"loading\";\n}\nbreak;\n\ncase \"loading\":\nnextState = \"moving\";\nbreak;\n\ncase \"unloading\":\nnextState = \"moving\";\nbreak;\n\ncase \"maintenance\":\nnextState = \"idle\";\nbreak;\n\ndefault:\n    var err = \"unknow state: \" + state;\n    node.error(err);\n\tnode.status({fill:\"red\",shape:\"ring\",text: err});\n\treturn null;\n}\nstate = nextState;\ntimestamp = Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":220,"wires":[["714565f7.3eefb4"]]},{"id":"eec0bc32.7b157","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"moving","func":"speed = Math.floor(60 - load);\ntemperature = Math.floor(Number(100) + Number(load));\n\n//temperature = 100;\nreturn msg;","outputs":"1","noerr":0,"x":720,"y":140,"wires":[["9596a8db.0f8cd"]]},{"id":"901f9f84.287bb","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"loading","func":"speed = 0\ntemperature = Math.floor(temperature* 0.3)\nload = Math.floor(Math.random() * (50 - 5)) + 5\nreturn msg;\n\n","outputs":"1","noerr":0,"x":720,"y":200,"wires":[["2a77a4b5.77581c"]]},{"id":"53dd0f58.7664f8","type":"switch","z":"a11862ca.d53dc","name":"Switch State","property":"payload.properties.state","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"moving","vt":"str"},{"t":"eq","v":"loading","vt":"str"},{"t":"eq","v":"unloading","vt":"str"},{"t":"eq","v":"maintenance","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":200,"wires":[["b0f84876.1d13e"],["eec0bc32.7b157"],["901f9f84.287bb"],["105baf8a.5af3b"],["55a17243.12a7cc"]]},{"id":"55a17243.12a7cc","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"maintenance","func":"speed = 0;\ntemperature = 20;\nreturn msg;\n\n","outputs":"1","noerr":0,"x":730,"y":320,"wires":[["1fea366b.4f3852"]]},{"id":"75493836.aba588","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["508bc5807ba6"],"name":"On Load change","x":120,"y":860,"wires":[["6d1b379f.3903a"]]},{"id":"6d1b379f.3903a","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":860,"wires":[["3cb79264.56033e","c0d0b06b.47e23"]]},{"id":"3cb79264.56033e","type":"ui_text","z":"a11862ca.d53dc","group":"58f39586.bcf6cc","order":4,"width":12,"height":1,"name":"","label":"Load","format":"{{msg.payload.properties.load}}","layout":"row-spread","x":970,"y":860,"wires":[]},{"id":"bd1013.ca800ff","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["7aff46892f74"],"name":"On Command change","x":140,"y":900,"wires":[["d48e76fc.b0812"]]},{"id":"d48e76fc.b0812","type":"switch","z":"a11862ca.d53dc","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":900,"wires":[["cd161c03.d228b8"]]},{"id":"cd161c03.d228b8","type":"ui_text","z":"a11862ca.d53dc","group":"58f39586.bcf6cc","order":5,"width":12,"height":1,"name":"","label":"Command","format":"{{msg.payload.properties.command}}","layout":"row-spread","x":990,"y":900,"wires":[]},{"id":"678c9fad.98ad48","type":"http in","z":"e292c943.58b5a","name":"","url":"/env","method":"get","upload":false,"swaggerDoc":"","x":80,"y":200,"wires":[["2c063b0.a943bc6"]]},{"id":"6080e4f2.9905f4","type":"http response","z":"e292c943.58b5a","name":"","x":850,"y":200,"wires":[]},{"id":"dfbb4226.9ab27","type":"template","z":"e292c943.58b5a","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    sorting: true,\n                    paging: true,\n                    filtering: false,\n                    autoload: true,\n                    data: db,\n                    controller: db,\n                    fields: [\n                        { title:\"Key\", name: \"Key\", type: \"text\", width: 100 },\n                        { title:\"Value\", name: \"Value\", type: \"text\", width: 100 }\n                     ]\n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":680,"y":200,"wires":[["6080e4f2.9905f4"]]},{"id":"2c063b0.a943bc6","type":"process-env","z":"e292c943.58b5a","name":"","into":"payload","x":290,"y":200,"wires":[["5f1c924.98316ec"]]},{"id":"5f1c924.98316ec","type":"function","z":"e292c943.58b5a","name":"","func":"//msg.payload = JSON.parse(msg.payload)\nvar data = Object.entries(msg.payload)\nvar newdata = []\n\nfor (var i = 0; i < data.length; i++) {\nvar value = data[i][1]\nvar key = data[i][0]\n\n\nif (!key.startsWith(\"npm\")) {\n//newdata[i] = '{\"Key\":\"'+key+'\",\"Value\":\"'+value+'\"}';\nif (value[value.length - 1] === \"\\\\\") {\n    value = value.slice(0, -1)\n}\nnewdata.push('{\"Key\":\"'+key+'\",\"Value\":\"'+value+'\"}') \n} \n}\n\nmsg.payload =   \"[\"+ newdata.toString()+\"]\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["dfbb4226.9ab27"]]},{"id":"1148bd7.6278d43","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":40,"wires":[["61a31906.ee0a2"]]},{"id":"2a77a4b5.77581c","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":200,"wires":[["61a31906.ee0a2"]]},{"id":"1fea366b.4f3852","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":320,"wires":[["61a31906.ee0a2"]]},{"id":"105baf8a.5af3b","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"unloading","func":"speed = 0\ntemperature = Math.floor(temperature * 0.3)\nload = 0\nreturn msg;\n\n","outputs":"1","noerr":0,"x":720,"y":260,"wires":[["10c92da5.e18cba"]]},{"id":"10c92da5.e18cba","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":260,"wires":[["61a31906.ee0a2"]]},{"id":"cac109e6.0447a8","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"","func":"var lat = [ 29.42, 30.26, 32.77, 36.37, 38.62, 39.09, 41.87, 43.03, 44.97, 41.25];\nvar lon = [-98.49,-97.74,-96.79,-94.20,-90.19,-94.57,-87.62,-87.90,-93.26,-95.99];\n\nif (state === \"moving\") {\nvar idx = context.get(msg.payload.deviceId+'count') || (Math.floor(Math.random() * (9 - 1)) + 1);\nif( idx > 9 )\n{\n    idx = 0;  \n}\nlatitude = lat[idx];\nlongitude = lon[idx];\ntimestamp = Date.now()\n\ncontext.set(msg.payload.deviceId+'count',idx+1);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["df74b9e7.8722d8"]]},{"id":"18c5bf8e.18a15","type":"device listener","z":"a11862ca.d53dc","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":false,"allSchemas":false,"allProps":false,"schema":"a35b8df1.a8359","props":["cf34a9983af3","07f6eadbd104"],"name":"","x":1120,"y":80,"wires":[["b7e0a124.cc43c"]]},{"id":"714565f7.3eefb4","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"Set state ","propAll":true,"prop":"cf34a9983af3","valueType":"msg","value":"payload.properties.state","x":1260,"y":180,"wires":[["53dd0f58.7664f8"]]},{"id":"9596a8db.0f8cd","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"random","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"10","randomLast":"20","randomUnits":"seconds","drop":false,"x":880,"y":140,"wires":[["61a31906.ee0a2"]]},{"id":"df74b9e7.8722d8","type":"delay","z":"a11862ca.d53dc","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":40,"wires":[["cac109e6.0447a8"]]},{"id":"54050344.70b54c","type":"comment","z":"e292c943.58b5a","name":"Backlog","info":"GUI\ntable - event logs\ncommand - start, stop, update, read\n","x":110,"y":80,"wires":[]},{"id":"2becaaf6.d810de","type":"change","z":"a11862ca.d53dc","name":"","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"eventOrCommandType","pt":"msg"},{"t":"move","p":"payload.d","pt":"msg","to":"payload","tot":"msg"},{"t":"move","p":"deviceId","pt":"msg","to":"payload.deviceId","tot":"msg"},{"t":"move","p":"deviceType","pt":"msg","to":"payload.deviceType","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":180,"wires":[["31f6a052.810178"]]},{"id":"31f6a052.810178","type":"function","z":"a11862ca.d53dc","name":"command","func":"var newdata = {}\nnewdata.command = \"addRow\",\nnewdata.arguments = [msg.payload, true]\nnewdata.returnPromise = true\nmsg.payload = newdata\nreturn msg","outputs":1,"noerr":0,"x":1680,"y":260,"wires":[["21fe5a7e.0efdbe"]]},{"id":"21fe5a7e.0efdbe","type":"ui_table","z":"a11862ca.d53dc","group":"f0524f8e.484928","name":"table01","order":1,"width":25,"height":4,"columns":[{"field":"deviceType","title":"deviceType","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"deviceId","title":"deviceId","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"state","title":"state","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"speed","title":"speed","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"temperature","title":"temperature","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"latitude","title":"latitude","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"longitude","title":"longitude","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"load","title":"load","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"timestamp","title":"timestamp","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1820,"y":320,"wires":[]},{"id":"ee52c90c.696b58","type":"switch","z":"dfafd770.e95b6","name":"","property":"payload.method","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":230,"y":200,"wires":[["d58cd61.24046a8","effb12d8.8cf9b8"],["51e38ec0.01fe08","effb12d8.8cf9b8"],["56185c1b.aa21d4"]]},{"id":"ac9934b6.59f268","type":"http in","z":"dfafd770.e95b6","name":"","url":"/api","method":"post","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["ee52c90c.696b58"]]},{"id":"325f6b9f.d8a64c","type":"http response","z":"dfafd770.e95b6","name":"","statusCode":"","headers":{},"x":610,"y":120,"wires":[]},{"id":"a72b9c28.962648","type":"http in","z":"dfafd770.e95b6","name":"","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":500,"y":460,"wires":[["d5fceabb.3a1f5"]]},{"id":"7ee2dc96.bd0794","type":"debug","z":"3b1647a8.f0aef","name":"UI API","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":40,"wires":[]},{"id":"11b52f7c.a42521","type":"ui_form","z":"3b1647a8.f0aef","name":"Form Instances","label":"Form Instances","group":"1a8dcc49.259874","order":1,"width":6,"height":4,"options":[{"label":"Method","value":"method","type":"text","required":true,"rows":null},{"label":"Instances","value":"instances","type":"text","required":true,"rows":null}],"formValue":{"method":"","instances":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":100,"wires":[["7ee2dc96.bd0794","408a885e.f114f"]]},{"id":"8a9f6a05.7147c8","type":"ui_text","z":"3b1647a8.f0aef","group":"dafeac89.98c6d","order":1,"width":0,"height":0,"name":"","label":"Response","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":120,"wires":[]},{"id":"772194cd.97080c","type":"http response","z":"dfafd770.e95b6","name":"","statusCode":"","headers":{},"x":750,"y":460,"wires":[]},{"id":"effb12d8.8cf9b8","type":"function","z":"dfafd770.e95b6","name":"","func":"msg.payload = \"ok\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["325f6b9f.d8a64c"]]},{"id":"d5fceabb.3a1f5","type":"function","z":"dfafd770.e95b6","name":"","func":"msg.payload = \"ok\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":460,"wires":[["772194cd.97080c"]]},{"id":"408a885e.f114f","type":"http request","z":"3b1647a8.f0aef","name":"POST","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:1880/api","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":140,"wires":[["8a9f6a05.7147c8"]]},{"id":"c1d1dd70.b189e8","type":"ui_form","z":"3b1647a8.f0aef","name":"Form Update","label":"Form Update","group":"bf2c5aff.4ce0b8","order":1,"width":6,"height":5,"options":[{"label":"DeviceId","value":"deviceId","type":"text","required":true,"rows":null},{"label":"Key","value":"key","type":"text","required":false,"rows":null},{"label":"Value","value":"value","type":"text","required":false,"rows":null}],"formValue":{"deviceId":"","key":"","value":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":200,"wires":[["408a885e.f114f","7ee2dc96.bd0794"]]},{"id":"f903a919.d6286","type":"http request","z":"3b1647a8.f0aef","name":"GET","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:1880/api","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":260,"wires":[[]]},{"id":"d58cd61.24046a8","type":"link out","z":"dfafd770.e95b6","name":"start out","links":["21e6b60b.fad8aa"],"x":375,"y":200,"wires":[]},{"id":"51e38ec0.01fe08","type":"link out","z":"dfafd770.e95b6","name":"stop out","links":["480f154c.780824"],"x":375,"y":240,"wires":[]},{"id":"3df0c072.5b5838","type":"function","z":"dfafd770.e95b6","name":"","func":"msg.payload = \"error\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["325f6b9f.d8a64c"]]},{"id":"21e6b60b.fad8aa","type":"link in","z":"a11862ca.d53dc","name":"start in","links":["d58cd61.24046a8"],"x":55,"y":220,"wires":[["3ddd5b64.b5bf6c"]]},{"id":"480f154c.780824","type":"link in","z":"a11862ca.d53dc","name":"stop in","links":["51e38ec0.01fe08"],"x":55,"y":300,"wires":[["cd4af4eb.59d4d8"]]},{"id":"56185c1b.aa21d4","type":"switch","z":"dfafd770.e95b6","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":360,"wires":[["effb12d8.8cf9b8","eb87a091.aedc1"],["3df0c072.5b5838"]]},{"id":"eb87a091.aedc1","type":"link out","z":"dfafd770.e95b6","name":"update out","links":["d08607ca.b865"],"x":475,"y":280,"wires":[]},{"id":"d08607ca.b865","type":"link in","z":"a11862ca.d53dc","name":"update in","links":["eb87a091.aedc1"],"x":55,"y":440,"wires":[["89fb569a.e26ff","f8443e9c.09cdb"]]},{"id":"89fb569a.e26ff","type":"set properties","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"","propAll":false,"prop":"7aff46892f74","valueType":"msg","value":"payload","x":340,"y":420,"wires":[[]]},{"id":"f2795045.943ee","type":"ui_form","z":"dfafd770.e95b6","name":"Form Instances","label":"Form Instances","group":"b1e31179.f88798","order":1,"width":6,"height":4,"options":[{"label":"Method","value":"method","type":"text","required":true,"rows":null},{"label":"Instances","value":"instances","type":"text","required":true,"rows":null}],"formValue":{"method":"","instances":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":280,"wires":[["ee52c90c.696b58"]]},{"id":"384567db.edbe9","type":"ui_form","z":"dfafd770.e95b6","name":"Form Update","label":"Form Update","group":"4f2ffdbd.f432ec","order":1,"width":6,"height":5,"options":[{"label":"DeviceId","value":"deviceId","type":"text","required":true,"rows":null},{"label":"Key","value":"key","type":"text","required":false,"rows":null},{"label":"Value","value":"value","type":"text","required":false,"rows":null}],"formValue":{"deviceId":"","key":"","value":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":360,"wires":[["ee52c90c.696b58"]]},{"id":"75a64f9.a2a8f3","type":"debug","z":"a11862ca.d53dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":1200,"wires":[]},{"id":"f8443e9c.09cdb","type":"device function","z":"a11862ca.d53dc","deviceId":"","schema":"a35b8df1.a8359","name":"","func":"\neval(msg.payload.key +\" = '\"+msg.payload.value+\"';\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[[]]}]