projects/System-Information-Monitor/flow.json
[{"id":"f7c45e30.608e78","type":"tab","label":"Homepage","disabled":false,"info":""},{"id":"15159778.a26449","type":"ui_group","z":"","name":"System Information","tab":"74403735.5b4178","order":1,"disp":true,"width":"8","collapse":true},{"id":"c2c5cc82.c0e5f","type":"ui_group","z":"","name":"CPU Status","tab":"74403735.5b4178","order":2,"disp":true,"width":"8","collapse":true},{"id":"787b411f.280d48","type":"ui_group","z":"","name":"Memory Status","tab":"74403735.5b4178","order":3,"disp":true,"width":"8","collapse":true},{"id":"74403735.5b4178","type":"ui_tab","z":"","name":"Homepage","icon":"dashboard"},{"id":"8a5b96d9.d2361","type":"OS","z":"f7c45e30.608e78","name":"","x":370,"y":120,"wires":[["f4e15447.45e128"]]},{"id":"8111388b.cf1e6","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":2,"width":0,"height":0,"name":"","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":40,"wires":[]},{"id":"88fc55b1.0de1d8","type":"inject","z":"f7c45e30.608e78","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["8a5b96d9.d2361","8c0f0e06.c871e8","be17be6c.956d98","dd764a35.98cc8"]]},{"id":"f4e15447.45e128","type":"function","z":"f7c45e30.608e78","name":"Hostname","func":"hostname = {payload: msg.payload.hostname};\ntype = {payload: msg.payload.type};\nplatform = {payload: msg.payload.platform};\narch = {payload: msg.payload.arch};\nrelease = {payload: msg.payload.release};\nreturn [hostname, type, platform, arch, release];","outputs":5,"noerr":0,"x":550,"y":120,"wires":[["8111388b.cf1e6"],["d466758f.1054c"],["5bd6cabc.65f5dc"],["409160f0.b63ae"],["8472e747.8da7b8"]]},{"id":"8c0f0e06.c871e8","type":"Uptime","z":"f7c45e30.608e78","name":"","x":380,"y":360,"wires":[["4a8675a4.65d2fc"]]},{"id":"4a8675a4.65d2fc","type":"function","z":"f7c45e30.608e78","name":"TimeSpan","func":"function pad(n) {\n    return (n < 10) ? (\"0\" + n) : n;\n}\n\nvar seconds = parseInt(msg.payload.uptime);\nvar timespan = context.global.get('timespan');\nvar ts = timespan.fromSeconds(seconds);\nmsg.payload = ts.days + \":\" + pad(ts.hours) + \":\" + pad(ts.minutes) + \":\" + pad(ts.seconds);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["ca1fb1e9.62cb38"]]},{"id":"d466758f.1054c","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":3,"width":0,"height":0,"name":"","label":"Type","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":80,"wires":[]},{"id":"5bd6cabc.65f5dc","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":5,"width":0,"height":0,"name":"","label":"Platform","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":120,"wires":[]},{"id":"409160f0.b63ae","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":6,"width":0,"height":0,"name":"","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":160,"wires":[]},{"id":"8472e747.8da7b8","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":4,"width":0,"height":0,"name":"","label":"Release","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":200,"wires":[]},{"id":"ca1fb1e9.62cb38","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":1,"width":0,"height":0,"name":"","label":"Up time","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":360,"wires":[]},{"id":"a7ea7843.0fbbd8","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":8,"width":0,"height":0,"name":"","label":"CPU 1","format":"{{msg.model + \"\"}}","layout":"col-center","x":930,"y":60,"wires":[]},{"id":"d7656fae.b3b498","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":9,"width":0,"height":0,"name":"","label":"CPU 2","format":"{{msg.model + \"\"}}","layout":"col-center","x":930,"y":100,"wires":[]},{"id":"f95ed502.6d5c88","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":10,"width":0,"height":0,"name":"","label":"CPU 3","format":"{{msg.model + \"\"}}","layout":"col-center","x":930,"y":140,"wires":[]},{"id":"3907357f.0d57a2","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":11,"width":0,"height":0,"name":"","label":"CPU 4","format":"{{msg.model + \"\"}}","layout":"col-center","x":930,"y":180,"wires":[]},{"id":"be17be6c.956d98","type":"Memory","z":"f7c45e30.608e78","name":"","x":380,"y":480,"wires":[["415e6a24.36f044"]]},{"id":"415e6a24.36f044","type":"function","z":"f7c45e30.608e78","name":"Memory","func":"var totalmem = msg.payload.totalmem;\nvar freemem = msg.payload.freemem;\nvar usedmem = totalmem - freemem;\nvar usedmemMB = Math.floor((usedmem / 1048576) * 100) / 100;\nvar totalmemMB = Math.floor((totalmem / 1048576) * 100) / 100;\nvar freememMB = Math.floor((freemem / 1048576) * 100) / 100;\nvar usedmemGB = Math.floor((usedmemMB / 1024) * 100) / 100;\nvar freememGB = Math.floor((freememMB / 1024) * 100) / 100;\nvar totalmemGB = Math.floor((totalmemMB / 1024) * 100) / 100;\ntotalmem = {payload: totalmem, mb: totalmemMB, gb: totalmemGB};\nmemusage = {payload: msg.payload.memusage};\nusedmem = {payload: usedmem, mb: usedmemMB, gb: usedmemGB};\nfreemem = {payload: freemem, mb: freememMB, gb: freememGB};\nreturn [totalmem, memusage, usedmem, freemem];","outputs":4,"noerr":0,"x":540,"y":480,"wires":[["744dcd1e.8a095c","57482248.e3b68c"],["824c70ed.68f0a"],["5fe80fc9.f5b9f8"],["23bcec74.24034c"]]},{"id":"bb17d13b.142d3","type":"ui_gauge","z":"f7c45e30.608e78","name":"","group":"c2c5cc82.c0e5f","order":1,"width":"8","height":"8","gtype":"gage","title":"CPU","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":930,"y":220,"wires":[]},{"id":"dd764a35.98cc8","type":"cpu","z":"f7c45e30.608e78","name":"","msgCore":true,"msgOverall":true,"x":390,"y":280,"wires":[["c2089bb4.b34308"]]},{"id":"c2089bb4.b34308","type":"function","z":"f7c45e30.608e78","name":"CPU","func":"var getContext = function(str) {\n  return context.get(str) || {};\n}\nvar setContext = function(str, obj) {\n  return context.set(str, obj);\n}\nvar topics = [\n    \"core_1\",\n    \"core_2\",\n    \"core_3\",\n    \"core_4\",\n    \"overall\"\n];\n\nvar msgs = [\n    getContext(topics[0]),\n    getContext(topics[1]),\n    getContext(topics[2]),\n    getContext(topics[3]),\n    getContext(topics[4])\n];\n\nswitch(msg.topic)\n{\n    case topics[0]:\n        setContext(topics[0], msg);\n        return [msg, null, null, null, null];\n    case topics[1]:\n        setContext(topics[1], msg);\n        return [null, msg, null, null, null];\n    case topics[2]:\n        setContext(topics[2], msg);\n        return [null, null, msg, null, null];\n    case topics[3]:\n        setContext(topics[3], msg);\n        return [null, null, null, msg, null];\n    case topics[4]:\n        setContext(topics[4], msg);\n        return [null, null, null, null, msg];\n}\n\nreturn msgs;","outputs":5,"noerr":0,"x":730,"y":280,"wires":[["a7ea7843.0fbbd8","4ab2c671.e512a","123928bf.90d977"],["d7656fae.b3b498","9bc41c38.def118","55c8971d.1d8028"],["f95ed502.6d5c88","1f71495e.715aef","a3015e57.ebc088"],["3907357f.0d57a2","a4311ced.d2c238","d640ba18.2378a"],["bb17d13b.142d3"]]},{"id":"4ab2c671.e512a","type":"ui_gauge","z":"f7c45e30.608e78","name":"","group":"c2c5cc82.c0e5f","order":3,"width":"2","height":"2","gtype":"gage","title":"Core 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":930,"y":260,"wires":[]},{"id":"9bc41c38.def118","type":"ui_gauge","z":"f7c45e30.608e78","name":"","group":"c2c5cc82.c0e5f","order":4,"width":"2","height":"2","gtype":"gage","title":"Core 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":930,"y":300,"wires":[]},{"id":"1f71495e.715aef","type":"ui_gauge","z":"f7c45e30.608e78","name":"","group":"c2c5cc82.c0e5f","order":6,"width":"2","height":"2","gtype":"gage","title":"Core 3","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":930,"y":340,"wires":[]},{"id":"a4311ced.d2c238","type":"ui_gauge","z":"f7c45e30.608e78","name":"","group":"c2c5cc82.c0e5f","order":7,"width":"2","height":"2","gtype":"gage","title":"Core 4","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":930,"y":380,"wires":[]},{"id":"123928bf.90d977","type":"ui_text","z":"f7c45e30.608e78","group":"c2c5cc82.c0e5f","order":8,"width":"2","height":"1","name":"","label":"MHz","format":"{{msg.speed}}","layout":"col-center","x":930,"y":420,"wires":[]},{"id":"55c8971d.1d8028","type":"ui_text","z":"f7c45e30.608e78","group":"c2c5cc82.c0e5f","order":9,"width":"2","height":"1","name":"","label":"MHz","format":"{{msg.speed}}","layout":"col-center","x":930,"y":460,"wires":[]},{"id":"a3015e57.ebc088","type":"ui_text","z":"f7c45e30.608e78","group":"c2c5cc82.c0e5f","order":11,"width":"2","height":"1","name":"","label":"MHz","format":"{{msg.speed}}","layout":"col-center","x":930,"y":500,"wires":[]},{"id":"d640ba18.2378a","type":"ui_text","z":"f7c45e30.608e78","group":"c2c5cc82.c0e5f","order":12,"width":"2","height":"1","name":"","label":"MHz","format":"{{msg.speed}}","layout":"col-center","x":930,"y":540,"wires":[]},{"id":"744dcd1e.8a095c","type":"ui_text","z":"f7c45e30.608e78","group":"15159778.a26449","order":7,"width":"8","height":"1","name":"Memory","label":"Memory {{msg.gb}} GB","format":"{{msg.mb}} MB","layout":"row-spread","x":740,"y":400,"wires":[]},{"id":"824c70ed.68f0a","type":"ui_gauge","z":"f7c45e30.608e78","name":"","group":"787b411f.280d48","order":0,"width":"8","height":"8","gtype":"gage","title":"Memory","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":740,"y":480,"wires":[]},{"id":"57482248.e3b68c","type":"ui_text","z":"f7c45e30.608e78","group":"787b411f.280d48","order":0,"width":0,"height":0,"name":"Memory","label":"Memory {{msg.gb}} GB","format":"{{msg.mb}} MB","layout":"row-spread","x":740,"y":440,"wires":[]},{"id":"5fe80fc9.f5b9f8","type":"ui_text","z":"f7c45e30.608e78","group":"787b411f.280d48","order":0,"width":0,"height":0,"name":"Used Memory","label":"Used Memory {{msg.gb}} GB","format":"{{msg.mb}} MB","layout":"row-spread","x":760,"y":520,"wires":[]},{"id":"23bcec74.24034c","type":"ui_text","z":"f7c45e30.608e78","group":"787b411f.280d48","order":0,"width":0,"height":0,"name":"Free Memory","label":"Free Memory {{msg.gb}} GB","format":"{{msg.mb}} MB","layout":"row-spread","x":750,"y":560,"wires":[]},{"id":"2e92cbe.0fd27b4","type":"comment","z":"f7c45e30.608e78","name":"https://flows.nodered.org/flow/6a14a18ee451df0d04bdb761d3d58f33","info":"node-red-contrib-cpu\nnode-red-contrib-interval \nnode-red-contrib-os \nnode-red-dashboard","x":330,"y":40,"wires":[]}]