projects/tmp/flow - Copy.json
[{"id":"636a925a.a7cd7c","type":"tab","label":"Info","disabled":false,"info":""},{"id":"417d936f.1e0014","type":"tab","label":"mongo","disabled":false,"info":""},{"id":"37322dcc.7eaec2","type":"tab","label":"redis","disabled":false,"info":""},{"id":"5634ac5.bfe5e54","type":"tab","label":"mysql","disabled":false,"info":""},{"id":"74621803.7cc068","type":"tab","label":"mqtt","disabled":false,"info":""},{"id":"ae732f4a.06f8","type":"mongodb2","z":"","uri":"${DB_W_URL}","name":"${DB_W_NAME}","options":"","parallelism":"-1"},{"id":"7000331f.8d062c","type":"redis-config","z":"","name":"remote2","options":"REDIS_SLAVE_URL","cluster":false,"optionsType":"env"},{"id":"fca7e145.870f2","type":"redis-config","z":"","name":"Local","options":"REDIS_URL","cluster":false,"optionsType":"env"},{"id":"6f0acc95.0569dc","type":"mongodb2","z":"","uri":"${DB_R_URL}","name":"${DB_R_NAME}","options":"","parallelism":"-1"},{"id":"cbaf3516.87efc","type":"mongodb2","z":"","uri":"${DB_URL}","name":"${DB_NAME}","options":"","parallelism":"-1"},{"id":"eb8331f0.a4e3a8","type":"mongodb2","z":"","uri":"mongodb://mongo:27017/db","name":"db","options":"","parallelism":"-1"},{"id":"7b41ac6d.fb258c","type":"MySQLdatabase","z":0,"name":"db","host":"mysql","port":"3306","db":"db","tz":""},{"id":"c74587aa.feda68","type":"MySQLdatabase","z":0,"host":"127.0.0.1","port":"3306","db":"sys","tz":""},{"id":"910f0ae5.900658","type":"ui_group","z":"74621803.7cc068","name":"MQTT Console","tab":"bfa02a47.1ec76","order":1,"disp":true,"width":"12","collapse":false},{"id":"743482f9.e44d44","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c741a55.c96296","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bfa02a47.1ec76","type":"ui_tab","z":"","name":"MQTT","icon":"dashboard","disabled":false,"hidden":false},{"id":"b2c9b1ef.83fbf","type":"Kafka Broker","z":"","name":"Kafta","hosts":[{"host":"kafka","port":9092}],"hostsEnvVar":"","connectTimeout":"10000","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","selfSign":false,"usetls":false},{"id":"7af09cb3.e78cec","type":"mongodb2 in","z":"417d936f.1e0014","service":"_ext_","configNode":"eb8331f0.a4e3a8","name":"","collection":"${DB_COLLECTION}","operation":"find.toArray","x":890,"y":400,"wires":[["84e94e46.82fb58"]]},{"id":"2cef512b.91d1ee","type":"http in","z":"417d936f.1e0014","name":"","url":"/mongo/update","method":"put","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["fb259294.27fa58"]]},{"id":"596264c6.b89b5c","type":"http response","z":"417d936f.1e0014","name":"","x":1550,"y":480,"wires":[]},{"id":"b8f9a646.6a0058","type":"function","z":"417d936f.1e0014","name":"update request","func":"/*\nmsg.result correspond à l'objet mis à jour,\nle delete permet de supprimer la propriété\n_id de l'objet, en effet l'_id est géré directement\npar le noued OjectId\npour la requète update  \non doit fournir un tableau \n[\n<query>,\n<valeur mises à jour>\n]\n\nici ce sera de la forme:\n[\n    {_id:ObjectId(\"xxx\")},\n    {\"nom\": \"toto\", \"prenom\": \"tutu\", \n        \"immatriculation\": \"AB123CD\", \n        \"heure\": null, \"minute\": null\n    }\n]\n*/\nmsg.result=msg.req.body;\ndelete msg.req.body._id;\nmsg.payload=[\n   msg.payload,\n   msg.req.body\n    ];\nreturn msg;\n\n","outputs":"1","noerr":0,"x":700,"y":480,"wires":[["d0657eeb.7a37f8"]]},{"id":"fb259294.27fa58","type":"function","z":"417d936f.1e0014","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["273bffdc.0deaa8"]]},{"id":"273bffdc.0deaa8","type":"objectid","z":"417d936f.1e0014","name":"","x":540,"y":480,"wires":[["b8f9a646.6a0058"]]},{"id":"f5808671.9c54a","type":"template","z":"417d936f.1e0014","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                        { title:\"Last name\", name: \"last\", type: \"text\", width: 50 },\n                        { title:\"First name\", name: \"first\", type: \"text\", width: 50 },\n                        { title:\"Title\", name: \"title\", type: \"text\", width: 50 },\n                        { title:\"Hour\", name: \"hour\", type:\"number\", width: 25},\n                        { title:\"Minute\", align:\"left\",  name: \"minute\", type:\"number\" , width: 25},\n                        { type: \"control\" }\n                    ],\n               \n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/mongo/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/mongo/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/mongo/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":1380,"y":400,"wires":[["7e679a12.1c11dc"]]},{"id":"ba7bb880.d7731","type":"http in","z":"417d936f.1e0014","name":"","url":"/mongo","method":"get","upload":false,"swaggerDoc":"","x":150,"y":400,"wires":[["7af09cb3.e78cec"]]},{"id":"7e679a12.1c11dc","type":"http response","z":"417d936f.1e0014","name":"","x":1550,"y":400,"wires":[]},{"id":"84e94e46.82fb58","type":"json","z":"417d936f.1e0014","name":"","x":1230,"y":400,"wires":[["f5808671.9c54a","e2f36841.c0ddf"]]},{"id":"eeaec06.f43d8c","type":"function","z":"417d936f.1e0014","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":480,"wires":[["596264c6.b89b5c"]]},{"id":"a797a2f5.e039d","type":"http response","z":"417d936f.1e0014","name":"","x":1550,"y":520,"wires":[]},{"id":"9559eed6.a5647","type":"http in","z":"417d936f.1e0014","name":"","url":"/mongo/insert","method":"post","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["f5112f2e.8f15e8"]]},{"id":"62f5e156.d973b8","type":"http in","z":"417d936f.1e0014","name":"","url":"/mongo/delete","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":560,"wires":[["3657cf0a.0df738"]]},{"id":"3657cf0a.0df738","type":"function","z":"417d936f.1e0014","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["bad15b38.ca1298"]]},{"id":"bad15b38.ca1298","type":"objectid","z":"417d936f.1e0014","name":"","x":580,"y":560,"wires":[["189dde76.0eca2a"]]},{"id":"5fbfdf0.8af272","type":"http response","z":"417d936f.1e0014","name":"","x":1550,"y":560,"wires":[]},{"id":"b0750cdb.40f0a8","type":"function","z":"417d936f.1e0014","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":520,"wires":[["a797a2f5.e039d"]]},{"id":"b0045af9.7f877","type":"comment","z":"417d936f.1e0014","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"last\": \"Kowalski\",\n    \"first\": \"Jan\",\n    \"Title\": \"Zabawa\",\n    \"hour\": \"13\",\n    \"minute\": \"30\"\n}\n```\n\n{ title:\"Last name\", name: \"last\", type: \"text\", width: 50 },\n{ title:\"First name\", name: \"first\", type: \"text\", width: 50 },\n{ title:\"Title\", name: \"Title\", type: \"text\", width: 50 },\n{ title:\"Hour\", name: \"hour\", type:\"number\", width: 25},\n{ title:\"Minute\", align:\"left\",  name: \"minute\", type:\"number\" , width: 25},\n{ type: \"control\" }","x":740,"y":100,"wires":[]},{"id":"70793fef.b1b518","type":"comment","z":"417d936f.1e0014","name":"node-red-contrib-objectid","info":"","x":220,"y":120,"wires":[]},{"id":"44e98ecd.0478c8","type":"comment","z":"417d936f.1e0014","name":"node-red-contrib-mongodb2","info":"","x":230,"y":160,"wires":[]},{"id":"dc0d33bf.9621d8","type":"http in","z":"417d936f.1e0014","name":"","url":"/mongo/selectall","method":"get","upload":false,"swaggerDoc":"","x":180,"y":440,"wires":[["a7ee0bab.2c9478"]]},{"id":"1f55049.9a8217b","type":"http response","z":"417d936f.1e0014","name":"","x":1550,"y":440,"wires":[]},{"id":"4560c8eb.4d354","type":"json","z":"417d936f.1e0014","name":"","x":1410,"y":440,"wires":[["1f55049.9a8217b"]]},{"id":"a7ee0bab.2c9478","type":"mongodb2 in","z":"417d936f.1e0014","service":"_ext_","configNode":"eb8331f0.a4e3a8","name":"","collection":"${DB_COLLECTION}","operation":"find.toArray","x":950,"y":440,"wires":[["4560c8eb.4d354"]]},{"id":"d0657eeb.7a37f8","type":"mongodb2 in","z":"417d936f.1e0014","service":"_ext_","configNode":"eb8331f0.a4e3a8","name":"","collection":"${DB_COLLECTION}","operation":"update","x":960,"y":480,"wires":[["eeaec06.f43d8c"]]},{"id":"f5112f2e.8f15e8","type":"mongodb2 in","z":"417d936f.1e0014","service":"_ext_","configNode":"eb8331f0.a4e3a8","name":"","collection":"${DB_COLLECTION}","operation":"insert","x":930,"y":520,"wires":[["b0750cdb.40f0a8"]]},{"id":"189dde76.0eca2a","type":"mongodb2 in","z":"417d936f.1e0014","service":"_ext_","configNode":"eb8331f0.a4e3a8","name":"","collection":"${DB_COLLECTION}","operation":"deleteOne","x":970,"y":560,"wires":[["5fbfdf0.8af272"]]},{"id":"bae94ee7.5e7ea","type":"mongodb2 in","z":"417d936f.1e0014","service":"_ext_","configNode":"eb8331f0.a4e3a8","name":"","collection":"${DB_COLLECTION}","operation":"insertOne","x":970,"y":640,"wires":[["e500ebe8.45bc4"]]},{"id":"5d06460c.7a2d6","type":"http in","z":"417d936f.1e0014","name":"","url":"/mongo/pop","method":"get","upload":false,"swaggerDoc":"","x":160,"y":640,"wires":[["2c973533.a95cf2"]]},{"id":"2c973533.a95cf2","type":"function","z":"417d936f.1e0014","name":"payload","func":"\nmsg = {\n    \"req\":msg.req,\n    \"res\":msg.res,\n    payload:{\n    \"last\": \"Kowalski\",\n    \"first\": \"Jan\",\n    \"title\": \"Zabawa\",\n    \"hour\": \"13\",\n    \"minute\": \"30\"\n}}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":640,"wires":[["bae94ee7.5e7ea"]]},{"id":"e500ebe8.45bc4","type":"http response","z":"417d936f.1e0014","name":"","x":1550,"y":640,"wires":[]},{"id":"3e46dafe.cd280e","type":"http in","z":"37322dcc.7eaec2","name":"","url":"/redis","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["6f8332ee.855e5c"]]},{"id":"2d99b7ca.3d61f8","type":"http response","z":"37322dcc.7eaec2","name":"","statusCode":"","headers":{},"x":1210,"y":140,"wires":[]},{"id":"6f8332ee.855e5c","type":"template","z":"37322dcc.7eaec2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<title>Space-O | Ajax submit form</title>\n</head>\n<body>\n<div align=\"center\">\n<h1>jQuery post form data using .ajax() method</h1>\n<!-- our form -->\n<form id='userForm'>\n<div><input type='text' name='name' placeholder='Name' /></div>\n<div><input type='text' name='email' placeholder='Email' /></div>\n<div><input type='text' name='number' placeholder='Mobile Number' /></div>\n<div><input type='submit' value='Submit' /></div>\n</form>\n\n<style type=\"text/css\">\ntable {\nborder-collapse: collapse;\n}\n\ntable, th, td {\nborder: 1px solid black;\n}\n\n</style>\n<!-- where the response will be displayed -->\n<div id='response'></div>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js \"></script>\n<script>\n$(document).ready(function(){\n$('#userForm').submit(function(){\n\n// show that something is loading\n$('#response').html(\"<b>Loading response...</b>\");\n\n// Call ajax for pass data to other place\n$.ajax({\ntype: 'POST',\nurl: {{host}}'/redis/postform',\ndata: $(this).serialize() // getting filed value in serialize form\n})\n.done(function(data){ // if getting done then call.\n\n// show the response\n$('#response').html(data);\n\n})\n.fail(function() { // if fail then getting message\n\n// just in case posting your form failed\nalert( \"Posting failed.\" );\n\n});\n\n// to prevent refreshing the whole page page\nreturn false;\n\n});\n});\n</script>\n</div>\n</body>\n</html>","output":"str","x":660,"y":140,"wires":[["2d99b7ca.3d61f8"]]},{"id":"1dde40f8.e371ff","type":"http in","z":"37322dcc.7eaec2","name":"","url":"/redis/postform","method":"post","upload":false,"swaggerDoc":"","x":160,"y":220,"wires":[["a5e94c47.adef8"]]},{"id":"406eda50.35141c","type":"http response","z":"37322dcc.7eaec2","name":"","statusCode":"","headers":{},"x":1190,"y":200,"wires":[]},{"id":"a5e94c47.adef8","type":"function","z":"37322dcc.7eaec2","name":"","func":"var key = Date.now()\nmsg.key = key\nmsg.payload = [key, JSON.stringify(msg.payload)]\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["6d4ade26.1cfea","71245c0.24f66a4"]]},{"id":"6d4ade26.1cfea","type":"redis-command","z":"37322dcc.7eaec2","server":"7000331f.8d062c","command":"set","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":480,"y":200,"wires":[[]]},{"id":"a23f43a9.ab4fb","type":"redis-command","z":"37322dcc.7eaec2","server":"7000331f.8d062c","command":"getset","name":"","topic":"","params":"{\"maxRetriesPerRequest\":\"1000\"}","paramsType":"json","payloadType":"json","block":false,"x":850,"y":200,"wires":[["c8cccd1f.8d3138"]]},{"id":"71245c0.24f66a4","type":"delay","z":"37322dcc.7eaec2","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":280,"wires":[["2e9d0d21.05620a"]]},{"id":"2e9d0d21.05620a","type":"change","z":"37322dcc.7eaec2","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"key","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"key","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":280,"wires":[["a23f43a9.ab4fb"]]},{"id":"c8cccd1f.8d3138","type":"function","z":"37322dcc.7eaec2","name":"","func":"msg.payload =JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":200,"wires":[["a8b8be0.037e84"]]},{"id":"a8b8be0.037e84","type":"template","z":"37322dcc.7eaec2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <table>\n  <tr>\n    <th>Firstname</th>\n    <th>Lastname</th>\n    <th>Age</th>\n  </tr>\n  <tr>\n    <td>{{payload.name}}</td>\n    <td>{{payload.email}}</td>\n    <td>{{payload.number}}</td>\n  </tr>\n</table> ","output":"str","x":1020,"y":280,"wires":[["406eda50.35141c"]]},{"id":"be933cb8.7f8a08","type":"http in","z":"5634ac5.bfe5e54","name":"","url":"/mysql/insert","method":"post","upload":false,"swaggerDoc":"","x":210,"y":180,"wires":[["93e8b37d.bd821"]]},{"id":"6572a8d2.2e60b8","type":"function","z":"5634ac5.bfe5e54","name":"insert-response","func":"msg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":180,"wires":[["a90ba9d4.91e6f8"]]},{"id":"93e8b37d.bd821","type":"function","z":"5634ac5.bfe5e54","name":"insert-query","func":"msg.topic=\"INSERT INTO test (name,lastname,code,timestamp) VALUES ('\" + msg.payload.name + \"','\" + msg.payload.lastname + \"','\" + msg.payload.code + \"',CURRENT_TIMESTAMP)\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["bb4f8356.bc8118"]]},{"id":"a90ba9d4.91e6f8","type":"http response","z":"5634ac5.bfe5e54","name":"","x":1160,"y":180,"wires":[]},{"id":"f4f73f7e.e53578","type":"http in","z":"5634ac5.bfe5e54","name":"","url":"/mysql/delete","method":"delete","upload":false,"swaggerDoc":"","x":220,"y":300,"wires":[["4acaa3cb.e1d7dc"]]},{"id":"ff546730.bba518","type":"function","z":"5634ac5.bfe5e54","name":"delete-response","func":"msg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":815,"y":300,"wires":[["b3b0a900.8d21f8"]]},{"id":"4acaa3cb.e1d7dc","type":"function","z":"5634ac5.bfe5e54","name":"delete-query","func":"msg.topic=\"DELETE FROM test WHERE id='\" + msg.payload.ID + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["c99b3f20.290ba8"]]},{"id":"b3b0a900.8d21f8","type":"http response","z":"5634ac5.bfe5e54","name":"","x":1160,"y":300,"wires":[]},{"id":"4f64974e.3d846","type":"http in","z":"5634ac5.bfe5e54","name":"","url":"/mysql/update","method":"put","upload":false,"swaggerDoc":"","x":200,"y":240,"wires":[["f371bae6.38b51"]]},{"id":"1d9164db.297b03","type":"function","z":"5634ac5.bfe5e54","name":"update-response","func":"msg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":240,"wires":[["8ada0855.566528"]]},{"id":"f371bae6.38b51","type":"function","z":"5634ac5.bfe5e54","name":"update-query","func":"msg.topic=\"UPDATE test SET name='\" + msg.payload.name + \"', lastname='\" + msg.payload.lastname + \"', code='\" + msg.payload.code + \"' WHERE id='\" + msg.payload.ID + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["d6ea7ad6.a31a"]]},{"id":"8ada0855.566528","type":"http response","z":"5634ac5.bfe5e54","name":"","x":1160,"y":240,"wires":[]},{"id":"bb4f8356.bc8118","type":"mysql","z":"5634ac5.bfe5e54","mydb":"7b41ac6d.fb258c","name":"database","x":630,"y":180,"wires":[["6572a8d2.2e60b8"]]},{"id":"d6ea7ad6.a31a","type":"mysql","z":"5634ac5.bfe5e54","mydb":"7b41ac6d.fb258c","name":"database","x":630,"y":240,"wires":[["1d9164db.297b03"]]},{"id":"c99b3f20.290ba8","type":"mysql","z":"5634ac5.bfe5e54","mydb":"7b41ac6d.fb258c","name":"database","x":630,"y":300,"wires":[["ff546730.bba518"]]},{"id":"35d82294.c9a77e","type":"http in","z":"636a925a.a7cd7c","name":"","url":"/info","method":"get","upload":false,"swaggerDoc":"","x":160,"y":260,"wires":[["1a175996.f2121e"]]},{"id":"1a175996.f2121e","type":"template","z":"636a925a.a7cd7c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <div align=\"center\">\n        <p><a href={{host}}>GET /</a> </p>\n        <p><a href={{host}}/info>GET /info</a> </p>         \n        <p><a href={{host}}/env>GET /env</a> </p>   \n        <p>--------------------</p>\n        <p><a href={{host}}/mongo>GET /mongo</a> </p>\n        <p><a href={{host}}/mongo/selectall>GET /mongo/selectall</a> </p>\n        <p><a href={{host}}/mongo/update>PUT /mongo/update</a> </p>\n        <p><a href={{host}}/mongo/insert>POST /mongo/insert</a> </p>\n        <p><a href={{host}}/mongo/delete<>DELETE /mongo/delete</a> </p>\n        <p><a href={{host}}/mongo/pop>GET /mongo/pop</a> </p>\n        <p>--------------------</p>\n        <p><a href={{host}}/mysql>GET /mysql</a> </p>\n        <p><a href={{host}}/mysql/insert>POST /mysql/insert</a> </p>\n        <p><a href={{host}}/mysql/update>PUT /mysql/update</a> </p>\n        <p><a href={{host}}/mysql/delete>DELETE /mysql/delete</a> </p>\n        <p><a href={{host}}/mysql/pop>GET /mysql/pop</a> </p>\n        <p><a href={{host}}/mysql/drop>GET /mysql/dropp</a> </p>\n        <p>--------------------</p>        \n        <p><a href={{host}}/redis/form>GET /redis/form</a> </p>\n        <p>--------------------</p>\n        <p><a href={{host}}/mqtt>GET /mqtt</a> </p>\n        \n        \n        </div>\n    </body>\n</html>","x":630,"y":240,"wires":[["ddac01cd.562fd"]]},{"id":"ddac01cd.562fd","type":"http response","z":"636a925a.a7cd7c","name":"","statusCode":"","headers":{},"x":790,"y":240,"wires":[]},{"id":"ac0d1b61.863228","type":"http in","z":"636a925a.a7cd7c","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":150,"y":200,"wires":[["1a175996.f2121e"]]},{"id":"eb18e5d8.daf2e","type":"http in","z":"636a925a.a7cd7c","name":"","url":"/env","method":"get","upload":false,"swaggerDoc":"","x":160,"y":340,"wires":[["6b6a9fe7.321d08"]]},{"id":"f33e3a10.3386f8","type":"http in","z":"5634ac5.bfe5e54","name":"","url":"/mysql/pop","method":"get","upload":false,"swaggerDoc":"","x":200,"y":380,"wires":[["38a9861c.1b215a"]]},{"id":"38a9861c.1b215a","type":"function","z":"5634ac5.bfe5e54","name":"payload","func":"msg.topic=\"CREATE TABLE test (ID int NOT NULL AUTO_INCREMENT, name VARCHAR(20), lastname VARCHAR(20), code VARCHAR(20), timestamp TIMESTAMP, PRIMARY KEY (ID)); INSERT INTO test (name,lastname,code,married,timestamp) VALUES ('Maciej','Bury','44-666', CURRENT_TIMESTAMP)\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["28c8620.6ff609e"]]},{"id":"279c2b45.9e2e4c","type":"http response","z":"5634ac5.bfe5e54","name":"","x":1050,"y":380,"wires":[]},{"id":"28c8620.6ff609e","type":"mysql","z":"5634ac5.bfe5e54","mydb":"7b41ac6d.fb258c","name":"database","x":660,"y":380,"wires":[["279c2b45.9e2e4c"]]},{"id":"62e2a4b8.2a58dc","type":"template","z":"5634ac5.bfe5e54","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                        { name: \"ID\", type: \"number\", visible: false },                        \n                        { title:\"First name\", name: \"name\", type: \"text\", width: 150 },\n                        { title:\"Last name\", name: \"lastname\", type: \"text\", width: 150 },\n                        { title:\"Code\", name: \"code\", type: \"text\", width: 40},\n                        { type: \"control\" }\n                    ],\n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/mysql/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/mysql/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/mysql/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":960,"y":60,"wires":[["5bc02fe2.2fc8"]]},{"id":"19a2fe54.cc17aa","type":"http in","z":"5634ac5.bfe5e54","name":"","url":"/mysql","method":"get","upload":false,"swaggerDoc":"","x":200,"y":60,"wires":[["6a45b27c.47827c"]]},{"id":"5bc02fe2.2fc8","type":"http response","z":"5634ac5.bfe5e54","name":"","statusCode":"","headers":{},"x":1170,"y":60,"wires":[]},{"id":"6a45b27c.47827c","type":"function","z":"5634ac5.bfe5e54","name":"search-query","func":"msg.topic=\"SELECT * FROM test ORDER BY test.id ASC\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["cf8e5da5.33cdc8"]]},{"id":"cf8e5da5.33cdc8","type":"mysql","z":"5634ac5.bfe5e54","mydb":"7b41ac6d.fb258c","name":"database","x":600,"y":60,"wires":[["6781212.d27486"]]},{"id":"6781212.d27486","type":"json","z":"5634ac5.bfe5e54","name":"","x":770,"y":60,"wires":[["62e2a4b8.2a58dc"]]},{"id":"13d54f75.28acf1","type":"function","z":"5634ac5.bfe5e54","name":"Select All","func":"//msg.topic=\"SELECT CONCAT('M00','',test.id) AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nmsg.topic=\"SELECT * FROM test ORDER BY test.id\";\n\n//INSERT INTO test (name,lastname,code,married,timestamp) VALUES ('Maciej','Bury','44-666', 1 ,CURRENT_TIMESTAMP)\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":600,"wires":[["153b4de.d294632"]]},{"id":"153b4de.d294632","type":"mysql","z":"5634ac5.bfe5e54","mydb":"7b41ac6d.fb258c","name":"database","x":660,"y":600,"wires":[["3633820d.4d72fe"]]},{"id":"3633820d.4d72fe","type":"json","z":"5634ac5.bfe5e54","name":"","x":810,"y":600,"wires":[["7aab6abe.4b798c"]]},{"id":"7aab6abe.4b798c","type":"debug","z":"5634ac5.bfe5e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":600,"wires":[]},{"id":"d9258b35.473c18","type":"inject","z":"5634ac5.bfe5e54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":600,"wires":[["13d54f75.28acf1"]]},{"id":"95de4c2.5f74e3","type":"function","z":"5634ac5.bfe5e54","name":"Create & Insert","func":"msg.topic=\"CREATE TABLE test (ID int NOT NULL AUTO_INCREMENT, name VARCHAR(20), lastname VARCHAR(20), code VARCHAR(20), timestamp TIMESTAMP, PRIMARY KEY (ID)); INSERT INTO test (name,lastname,code,timestamp) VALUES ('Maciej','Bury','44-666', CURRENT_TIMESTAMP)\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":540,"wires":[["614a23eb.8b1e44"]]},{"id":"614a23eb.8b1e44","type":"mysql","z":"5634ac5.bfe5e54","mydb":"7b41ac6d.fb258c","name":"database","x":660,"y":540,"wires":[["46fa21b4.cf48a8"]]},{"id":"29bef979.51272e","type":"inject","z":"5634ac5.bfe5e54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":540,"wires":[["95de4c2.5f74e3"]]},{"id":"46fa21b4.cf48a8","type":"json","z":"5634ac5.bfe5e54","name":"","x":810,"y":540,"wires":[["37f53bc9.95e884"]]},{"id":"37f53bc9.95e884","type":"debug","z":"5634ac5.bfe5e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":540,"wires":[]},{"id":"933f7756.b74388","type":"function","z":"5634ac5.bfe5e54","name":"Drop","func":"msg.topic=\"Drop TABLE test\";\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["c4065822.a811a8"]]},{"id":"c4065822.a811a8","type":"mysql","z":"5634ac5.bfe5e54","mydb":"7b41ac6d.fb258c","name":"database","x":660,"y":660,"wires":[["3baa2255.92347e"]]},{"id":"c4934f9.7d63ab","type":"inject","z":"5634ac5.bfe5e54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":660,"wires":[["933f7756.b74388"]]},{"id":"3baa2255.92347e","type":"json","z":"5634ac5.bfe5e54","name":"","x":810,"y":660,"wires":[["ac4fbb21.fd409"]]},{"id":"ac4fbb21.fd409","type":"debug","z":"5634ac5.bfe5e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":660,"wires":[]},{"id":"d95da875.664e9","type":"http in","z":"5634ac5.bfe5e54","name":"","url":"/mysql/drop","method":"get","upload":false,"swaggerDoc":"","x":200,"y":440,"wires":[["cea78f70.6ade18"]]},{"id":"cea78f70.6ade18","type":"function","z":"5634ac5.bfe5e54","name":"payload","func":"msg.topic=\"Drop TABLE test\";\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["95c3c9a4.882df"]]},{"id":"1c1e4564.d18d53","type":"http response","z":"5634ac5.bfe5e54","name":"","x":1050,"y":440,"wires":[]},{"id":"95c3c9a4.882df","type":"mysql","z":"5634ac5.bfe5e54","mydb":"7b41ac6d.fb258c","name":"database","x":660,"y":440,"wires":[["1c1e4564.d18d53"]]},{"id":"e2f36841.c0ddf","type":"debug","z":"417d936f.1e0014","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1520,"y":320,"wires":[]},{"id":"d6698412.e46418","type":"http response","z":"636a925a.a7cd7c","name":"","x":910,"y":340,"wires":[]},{"id":"59dc9469.f6103c","type":"template","z":"636a925a.a7cd7c","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    sorting: true,\n                    paging: true,\n                    filtering: false,\n                    autoload: true,\n                    data: db,\n                    controller: db,\n                    fields: [\n                        { title:\"Key\", name: \"Key\", type: \"text\", width: 100 },\n                        { title:\"Value\", name: \"Value\", type: \"text\", width: 100 }\n                     ]\n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":740,"y":340,"wires":[["d6698412.e46418"]]},{"id":"6b6a9fe7.321d08","type":"process-env","z":"636a925a.a7cd7c","name":"","into":"payload","x":350,"y":340,"wires":[["cca234a1.bc1e88"]]},{"id":"cca234a1.bc1e88","type":"function","z":"636a925a.a7cd7c","name":"","func":"//msg.payload = JSON.parse(msg.payload)\nvar data = Object.entries(msg.payload)\nvar newdata = []\n\nfor (var i = 0; i < data.length; i++) {\nvar value = data[i][1]\nvar key = data[i][0]\n\n\nif (!key.startsWith(\"npm\")) {\n//newdata[i] = '{\"Key\":\"'+key+'\",\"Value\":\"'+value+'\"}';\nif (value[value.length - 1] === \"\\\\\") {\n    value = value.slice(0, -1)\n}\nnewdata.push('{\"Key\":\"'+key+'\",\"Value\":\"'+value+'\"}') \n} \n}\n\nmsg.payload =   \"[\"+ newdata.toString()+\"]\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["59dc9469.f6103c"]]},{"id":"66ad8f5e.e79488","type":"mqtt in","z":"74621803.7cc068","name":"","topic":"#","qos":"2","datatype":"auto","broker":"743482f9.e44d44","x":350,"y":220,"wires":[["587c13b2.8ee5dc","a2a20f1b.3f4208"]]},{"id":"587c13b2.8ee5dc","type":"debug","z":"74621803.7cc068","name":"MQTT # RAW","active":false,"console":"false","complete":"payload","x":960,"y":220,"wires":[]},{"id":"a2a20f1b.3f4208","type":"function","z":"74621803.7cc068","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":280,"wires":[["44d0853f.7c4bc4","e2d8dea.5589d2"]]},{"id":"44d0853f.7c4bc4","type":"debug","z":"74621803.7cc068","name":"mqtt array","active":true,"tosidebar":true,"console":false,"complete":"payload","x":950,"y":300,"wires":[]},{"id":"e2d8dea.5589d2","type":"ui_template","z":"74621803.7cc068","group":"910f0ae5.900658","name":"MQTT Output","order":1,"width":"9","height":"10","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":960,"y":260,"wires":[[]]},{"id":"290b9494.d5709c","type":"mqtt out","z":"74621803.7cc068","name":"","topic":"","qos":"","retain":"","broker":"743482f9.e44d44","x":970,"y":400,"wires":[]},{"id":"a36c457.443ca38","type":"ui_text_input","z":"74621803.7cc068","name":"Message","label":"Message","group":"910f0ae5.900658","order":3,"width":"","height":"","mode":"text","delay":"300","topic":"message","x":360,"y":340,"wires":[["52fb8aea.afb9cc"]]},{"id":"a879fb63.8ed738","type":"ui_button","z":"74621803.7cc068","name":"Submit","group":"910f0ae5.900658","order":4,"width":"6","height":"2","label":"SUBMIT","color":"black","icon":"fa-arrow-circle-o-up","payload":"submit","topic":"submit","x":320,"y":380,"wires":[["52fb8aea.afb9cc"]]},{"id":"52fb8aea.afb9cc","type":"function","z":"74621803.7cc068","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"x":630,"y":360,"wires":[["290b9494.d5709c","8eb96609.b55a3"]]},{"id":"8eb96609.b55a3","type":"debug","z":"74621803.7cc068","name":"MQTT Monitor","active":true,"console":"false","complete":"true","x":940,"y":360,"wires":[]},{"id":"e6a3ac95.d23c9","type":"ui_text_input","z":"74621803.7cc068","name":"Topic","label":"Topic/","tooltip":"","group":"910f0ae5.900658","order":2,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"topic","x":350,"y":300,"wires":[["52fb8aea.afb9cc"]]},{"id":"626dc20e.c575fc","type":"ui_button","z":"74621803.7cc068","name":"Clear","group":"910f0ae5.900658","order":0,"width":"4","height":"2","label":"CLEAR","color":"black","icon":"fa-trash","payload":"","topic":"","x":170,"y":320,"wires":[["e6a3ac95.d23c9","a36c457.443ca38"]]},{"id":"e6e2940a.1c0d98","type":"comment","z":"74621803.7cc068","name":"MQTT Console","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com","x":380,"y":180,"wires":[]},{"id":"9d469251.92a448","type":"http in","z":"74621803.7cc068","name":"","url":"/mqtt","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["d409bcff.6b0f8"]]},{"id":"2958fbb5.ed562c","type":"http response","z":"74621803.7cc068","name":"","statusCode":"","headers":{},"x":860,"y":100,"wires":[]},{"id":"d409bcff.6b0f8","type":"function","z":"74621803.7cc068","name":"","func":"msg.statusCode = 303;\nmsg.headers = {\n   Location: \"http://\"+ msg.req.headers.host +\"/ui\"\n\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["2958fbb5.ed562c","d93cc37d.06797"]]},{"id":"d93cc37d.06797","type":"debug","z":"74621803.7cc068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":160,"wires":[]}]